Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

feat(core): implement mergeDiffs logic
  packages/core/src/lib/merge-diffs.ts
  packages/core/src/lib/merge-diffs.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 core, 🧩 utils, 🔬 testing

refactor(utils): use project name and portal link from diff object
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing

feat(cli): add optional label option to compare command
  packages/cli/README.md
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/cli/src/lib/implementation/compare.model.ts
  packages/cli/src/lib/implementation/compare.options.ts
Labels: 🧩 cli, 🔬 testing, 📖 Project documentation

feat(core): include portal link and label in report-diff.json
  packages/core/src/lib/compare.ts
  packages/core/src/lib/compare.unit.test.ts
Labels: 🧩 core, 🔬 testing

feat(cli): scaffold merge-diffs command and test argument parsing
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/README.md
  packages/cli/src/lib/commands.ts
  packages/cli/src/lib/implementation/merge-diffs.model.ts
  packages/cli/src/lib/implementation/merge-diffs.options.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.unit.test.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/merge-diffs.ts
Labels: 🧩 cli, 🧩 core, 🔬 testing, 📖 Project documentation

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

refactor: improve publish code (#796)
  global-setup.e2e.ts
  nx.json
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/execute-process.unit.test.ts
  tools/scripts/publish.plugin.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/types.ts
  tools/scripts/utils.ts
Labels: 🧩 utils, 🔬 testing, 🛠️ tooling

fix(plugin-lighthouse): process empty array flags
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

fix(plugin-lighthouse): process empty array flags
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

refactor files and folders
  global-setup.e2e.ts
  nx.json
  packages/utils/src/lib/transform.ts
  tools/scripts/publish.plugin.ts
  tools/src/npm/README.md
  tools/src/npm/npm.plugin.ts
  tools/src/npm/scripts/check-package-range.ts
  tools/src/npm/types.ts
  tools/src/npm/utils.ts
  tools/src/publish/README.md
  tools/src/publish/publish.plugin.ts
  tools/src/publish/scripts/publish-package.ts
  tools/src/publish/utils.ts
  tools/src/verdaccio/start-local-registry.ts
  tools/src/verdaccio/stop-local-registry.ts
  tools/src/verdaccio/types.ts
  tools/src/verdaccio/utils.ts
  tools/src/verdaccio/verdaccio.plugin.ts
  tools/tsconfig.tools.json
Labels: 🧩 utils, 📖 Project documentation, 🛠️ tooling

wip
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

wip
  packages/utils/src/lib/transform.ts
Labels: 🧩 utils

wip
  global-setup.e2e.ts
  tools/src/publish/README.md
  tools/src/publish/publish.plugin.ts
  tools/src/publish/scripts/publish-package.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 📖 Project documentation, 🛠️ tooling

wip
  global-setup.e2e.ts
  project.json
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

wip
  global-setup.e2e.ts
  nx.json
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/scripts/publish-package.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

remove e2e setup
  e2e/nx-plugin-e2e/vite.config.e2e.ts
Labels: 🔬 testing

wip
  packages/nx-plugin/package.json
  tools/src/npm/bin/check-package-range.ts
  tools/src/npm/constants.ts
  tools/src/npm/npm.plugin.ts
  tools/src/npm/utils.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/constants.ts
  tools/src/publish/publish.plugin.ts
  tools/src/verdaccio/start-local-registry.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

docs++
  tools/src/npm/README.md
  tools/src/publish/README.md
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

adjust publish process
  tools/scripts/publish.mjs
Labels: 🛠️ tooling

adjust publish process
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

remove snapshot to avoid OS path problems
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

snapshot
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - nx-plugin
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - create-cli all tests
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - keep in dist folder after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - keep in dist folder after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - keep in dist folder after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - keep in dist folder after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling
