Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

Update targets.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

refactor test to use cliObject string
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

implement better typing
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing

feat(utils): move groups and audits under details to make diff comment more compact
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 📖 Project documentation

feat(utils): implement diff markdown comment for monorepos
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

remove old snapshots
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
Labels: 🧩 nx-plugin

adjust schema
  packages/nx-plugin/src/generators/configuration/schema.json
Labels: 🧩 nx-plugin

feat(nx-plugin): implement `bin` property in options (#773)
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/executors/autorun/README.md
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/types.ts
  packages/nx-plugin/src/generators/configuration/README.md
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  packages/nx-plugin/tsconfig.test.json
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing, 📖 Project documentation, 🛠️ tooling

fix publish script
  packages/create-cli/project.json
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

fix lint
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

refactor tests
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

feat(plugin-lighthouse): omit audit details table title
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

feat(plugin-lighthouse): omit audit details table title
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

docs: prevent plugin icons shrinking
  README.md
Labels: 📖 Project documentation

docs: prevent plugin icons shrinking
  README.md
Labels: 📖 Project documentation

feat(utils): increase audit value column width
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/__snapshots__/report-stdout-no-categories.txt
  packages/utils/src/lib/reports/__snapshots__/report-stdout.txt
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/log-stdout-summary.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/lighthouse-audits.mock.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

build: update axios via `npm audit fix`
  package-lock.json
Labels: 🛠️ tooling

refactor(nx-plugin): process projectPrefix option
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
Labels: 🧩 nx-plugin, 🔬 testing

refactor(nx-plugin): introduce constants
  packages/nx-plugin/src/plugin/target/constants.ts
  packages/nx-plugin/src/plugin/target/targets.ts
Labels: 🧩 nx-plugin

build: update axios via `npm audit fix`
  package-lock.json
Labels: 🛠️ tooling

refactor(nx-plugin): remove dryRun
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
Labels: 🔬 testing

refactor(nx-plugin): add implicit dependency
  e2e/nx-plugin-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

refactor: format
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
Labels: 🔬 testing

refactor: add test for report.json
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

docs: prevent plugin icons shrinking
  README.md
Labels: 📖 Project documentation

feat(utils): increase audit value column width
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/__snapshots__/report-stdout-no-categories.txt
  packages/utils/src/lib/reports/__snapshots__/report-stdout.txt
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/log-stdout-summary.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/lighthouse-audits.mock.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

docs: prevent plugin icons shrinking
  README.md
Labels: 📖 Project documentation

test(nx-plugin-e2e): add executor tests
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
Labels: 🔬 testing

refactor tests
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
Labels: 🔬 testing

docs: prevent plugin icons shrinking (#789)
  README.md
Labels: 📖 Project documentation

feat(nx-plugin): refactor autorun executor to general command executor
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/internal/types.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

fix test
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
Labels: 🔬 testing

fix format
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
Labels: 🔬 testing

fix test
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
Labels: 🔬 testing

build(create-cli): convert to esm
  .github/workflows/ci.yml
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  packages/create-cli/.eslintrc.json
  packages/create-cli/package.json
  packages/create-cli/project.json
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/init.unit.test.ts
  packages/create-cli/tsconfig.json
  packages/create-cli/tsconfig.lib.json
Labels: 🔬 testing, 🦾 CI/CD, 🛠️ tooling

feat(utils): move groups and audits under details to make diff comment more compact
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

add docs
  packages/create-cli/README.md
Labels: 📖 Project documentation

feat(utils): implement diff markdown comment for monorepos
  package-lock.json
  package.json
  packages/utils/package.json
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation, 🛠️ tooling

feat(utils): sort projects in report-diff.md by most changed
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils

refactor(utils): split diff formatting functions into multiple files
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
