Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

Update global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

Update tools/src/verdaccio/start-local-registry.ts
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

reuse logic, adopt types
  docs/e2e.md
Labels: 📖 Project documentation

docs
  docs/e2e.md
Labels: 📖 Project documentation

wip
  docs/e2e.md
  global-setup.e2e.ts
  global-setup.ts
Labels: 📖 Project documentation

wip
  tools/src/npm/README.md
  tools/src/npm/bin/check-package-range.ts
  tools/src/npm/types.ts
Labels: 📖 Project documentation, 🛠️ tooling

Update tools/src/npm/bin/check-package-range.ts
  tools/src/npm/bin/check-package-range.ts
Labels: 🛠️ tooling

Update tools/src/npm/utils.ts
  tools/src/npm/utils.ts
Labels: 🛠️ tooling

Update tools/src/publish/bin/bump-package.ts
  tools/src/publish/bin/bump-package.ts
Labels: 🛠️ tooling

Update tools/src/publish/utils.ts
  tools/src/publish/utils.ts
Labels: 🛠️ tooling

fix
  tools/src/npm/utils.ts
  tools/src/publish/utils.ts
Labels: 🛠️ tooling

fix
  tools/src/publish/bin/bump-package.ts
Labels: 🛠️ tooling

refactor isPublishabel check
  packages/cli/project.json
  packages/core/project.json
  packages/create-cli/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
Labels: 🛠️ tooling

fix tests
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

reduce code in registry configuration
  tools/scripts/utils.ts
Labels: 🛠️ tooling

Update tools/src/npm/README.md
  tools/src/npm/README.md
Labels: 📖 Project documentation, 🛠️ tooling

Update docs/e2e.md
  docs/e2e.md
Labels: 📖 Project documentation

Update docs/e2e.md
  docs/e2e.md
Labels: 📖 Project documentation

rename executor from command to cli
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  packages/nx-plugin/README.md
  packages/nx-plugin/executors.json
  packages/nx-plugin/src/executors/cli/README.md
  packages/nx-plugin/src/executors/cli/executor.integration.test.ts
  packages/nx-plugin/src/executors/cli/executor.ts
  packages/nx-plugin/src/executors/cli/executor.unit.test.ts
  packages/nx-plugin/src/executors/cli/schema.json
  packages/nx-plugin/src/executors/cli/schema.ts
  packages/nx-plugin/src/executors/cli/utils.integration.test.ts
  packages/nx-plugin/src/executors/cli/utils.ts
  packages/nx-plugin/src/executors/cli/utils.unit.test.ts
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation

test: add debug helper for e2e the test environment
  tools/src/debug/README.md
  tools/src/debug/bin/clean-npmrc.ts
  tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/list-process.ts
  tools/src/debug/bin/types.ts
  tools/src/debug/constants.ts
  tools/src/debug/debug.plugin.ts
  tools/src/debug/utils.ts
Labels: 📖 Project documentation, 🛠️ tooling

refactor: use debug plugin
  nx.json
  tools/src/constants.ts
  tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/list-process.ts
Labels: 🛠️ tooling

refactor: fix import
  tools/scripts/start-local-registry.ts
  tools/src/debug/debug.plugin.ts
Labels: 🛠️ tooling

Update tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/kill-process.ts
Labels: 🛠️ tooling

Update tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/kill-process.ts
Labels: 🛠️ tooling

fix comments
  tools/src/debug/bin/list-process.ts
Labels: 🛠️ tooling

remove unused var
  tools/src/debug/bin/clean-npmrc.ts
Labels: 🛠️ tooling

merge main
  tools/scripts/start-local-registry.ts
  tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/list-process.ts
Labels: 🛠️ tooling

test: add debug scripts to tools (#802)
  nx.json
  tools/src/constants.ts
  tools/src/debug/README.md
  tools/src/debug/bin/clean-npmrc.ts
  tools/src/debug/bin/kill-process.ts
  tools/src/debug/bin/list-process.ts
  tools/src/debug/bin/types.ts
  tools/src/debug/constants.ts
  tools/src/debug/debug.plugin.ts
  tools/src/debug/utils.ts
Labels: 📖 Project documentation, 🛠️ tooling

chore(tools): configure linter for tools folder
  tools/.eslintrc.json
Labels: 🛠️ tooling

test: isolate verdaccio env
  global-setup.e2e.ts
  global-setup.verdaccio.ts
  package-lock.json
  package.json
  tools/src/npm/utils.ts
  tools/src/utils.ts
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/constants.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
  tools/src/verdaccio/types.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

chore(tools): configure linter for tools folder
  tools/.eslintrc.json
Labels: 🛠️ tooling

ci: prevent duplicate CI runs when pushing to open PR
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

ci: prevent duplicate CI runs when pushing to open PR
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

Update tools/src/verdaccio/env.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/constants.ts
  tools/src/verdaccio/constants.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/constants.ts
  tools/src/verdaccio/constants.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/registry.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/registry.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/env.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

wip
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
Labels: 🔬 testing, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
