Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

refactor(examples-plugins): adjust test
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

Update packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/execute-process.ts
Labels: 🧩 utils

Update packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

merge main
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/suite-helper.integration.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
Labels: 🧩 utils, 🔬 testing

Update packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(examples-plugins): adjust test
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

test(core): added test
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
  packages/core/src/lib/implementation/read-rc-file.ts
Labels: 🧩 core, 🔬 testing

test(core): fix lint
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
Labels: 🧩 core, 🔬 testing

test(core): add issues
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
Labels: 🔬 testing, 📖 Project documentation

test(core): add issues tests
  code-pushup.config.ts
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
Labels: 🧩 core, 🔬 testing, 📖 Project documentation

test(core): improve issues tests
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  package-lock.json
  packages/utils/perf/glob-matching/index.ts
  packages/utils/perf/score-report/index.ts
Labels: 🔬 testing, 🛠️ tooling

docs(core): add link
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  packages/cli/README.md
Labels: 🔬 testing, 📖 Project documentation

docs(core): add img
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/docs/images/audits-readme-example.png
Labels: 📖 Project documentation

remove left over
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

docs(examples-plugins): add helper section
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/utils.ts
Labels: 📖 Project documentation

docs(examples-plugins): add icon
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

refactor(examples-plugins): adjust issue message
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/suite-helper.integration.test.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
Labels: 🔬 testing

refactor: revert config
  code-pushup.config.ts
Labels: none

test(examples-plugins): fix test on windows
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
Labels: 🧩 core, 🔬 testing

refactor(examples-plugins): remove comments
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

refactor(examples-plugins): format
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

refactor(examples-plugins): revert changes
  examples/plugins/mocks/constants.ts
  examples/plugins/src/package-json/src/integration/dependencies.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/license.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/type.audit.unit.test.ts
Labels: 🔬 testing

refactor(examples-plugins): adopt message
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
Labels: 🔬 testing, 📖 Project documentation

refactor(examples-plugins): edit image
  examples/plugins/src/benchmark-js/docs/images/audits-readme-example.png
Labels: none

refactor(examples-plugins): edit message
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  packages/utils/perf/glob-matching/index.ts
Labels: 🔬 testing

refactor: tools
  tools/benchmark/bin.mjs
  tools/benchmark/utils.mjs
Labels: 🛠️ tooling

test(utils): fix flaky git helper tests (#531)
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 coverage-plugin, 🧩 utils, 🔬 testing

release: 0.25.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

refactor(utils): treat groups as optional, enable ESLint conditional rule
  packages/utils/.eslintrc.json
  packages/utils/code-pushup.eslintrc.json
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/progress.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
Labels: 🧩 utils, 🛠️ tooling

refactor(utils): treat groups as optional, enable ESLint conditional rule
  packages/utils/.eslintrc.json
  packages/utils/code-pushup.eslintrc.json
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/progress.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
Labels: 🧩 utils, 🛠️ tooling

release: 0.25.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

build(react-todos-app): fix vite config after Nx migration
  examples/react-todos-app/vite.config.ts
Labels: none

build: migrate Nx to 17.2.8
  examples/react-todos-app/vite.config.ts
  package-lock.json
  package.json
Labels: 🛠️ tooling

test: fix missing default reporter after Nx+Vitest update
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test: fix global teardown not being called by disabling watch mode
  nx.json
Labels: 🛠️ tooling

build(nx-plugin): fix nx dependency version range
  packages/nx-plugin/package.json
Labels: 🛠️ tooling

build: fix peer dependency error (@nx/eslint-plugin and @typescript-eslint/parser)
  package-lock.json
  package.json
  packages/utils/src/lib/formatting.ts
Labels: 🧩 utils, 🛠️ tooling

test: fix global setup paths, relative to project in new version
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
Labels: 🔬 testing

test: replace deprecated SpyInstance type with MockInstance
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/src/lib/nx.integration.test.ts
  packages/plugin-eslint/src/lib/nx/projects-to-config.unit.test.ts
  packages/plugin-eslint/src/lib/nx/utils.unit.test.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  testing/test-setup/src/lib/console.mock.ts
  testing/test-setup/src/lib/fs.mock.ts
Labels: 🧩 eslint-plugin, 🔬 testing
