Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

test: replace nxViteTsPaths plugin with custom helper for test.alias
  .eslintrc.json
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  package-lock.json
  package.json
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
  tools/vitest-tsconfig-path-aliases.ts
Labels: 🔬 testing, 🛠️ tooling

test: update snapshots for new vitest format
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/__snapshots__/runner.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
Labels: 🧩 eslint-plugin, 🧩 utils

ci: replace broken --coverage flag in CI workflows
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  code-pushup.config.ts
  examples/react-todos-app/project.json
Labels: 🦾 CI/CD, 🛠️ tooling

build: migrate Nx to 17.3.2
  package-lock.json
  package.json
Labels: 🛠️ tooling

test: adapt tsconfig path aliases helper to new Vitest version
  tools/vitest-tsconfig-path-aliases.ts
Labels: 🛠️ tooling

test(cli-e2e): fix coverage config and update snapshot format after Vitest update
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  examples/react-todos-app/code-pushup.config.js
  examples/react-todos-app/vite.config.ts
Labels: 🔬 testing

test: fix coverage reportsDirectory, needs to be in vite.config
  e2e/cli-e2e/project.json
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  examples/react-todos-app/code-pushup.config.js
  examples/react-todos-app/project.json
  examples/react-todos-app/vite.config.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/project.json
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/project.json
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/project.json
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing, 🛠️ tooling

test: adapt single-thread vitest config after version update
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test: disable threads to fix fetch timeout
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test(plugin-eslint): fix tests after Nx update
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/src/lib/nx.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

test: skip flaky integration tests for now
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

test(plugin-eslint): future-proof @nx/eslint rules count assertion
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

test: replace default (buggy on Windows) with basic reporter
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  examples/react-todos-app/vite.config.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test: include text reporter by default
  .github/workflows/ci.yml
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing, 🦾 CI/CD

test: replace deprecated SpyInstance type with MockInstance
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/src/lib/nx.integration.test.ts
  packages/plugin-eslint/src/lib/nx/projects-to-config.unit.test.ts
  packages/plugin-eslint/src/lib/nx/utils.unit.test.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  testing/test-setup/src/lib/console.mock.ts
  testing/test-setup/src/lib/fs.mock.ts
Labels: 🧩 eslint-plugin, 🔬 testing

test: replace nxViteTsPaths plugin with custom helper for test.alias
  .eslintrc.json
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  package-lock.json
  package.json
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
  tools/vitest-tsconfig-path-aliases.ts
Labels: 🔬 testing, 🛠️ tooling

test: adapt tsconfig path aliases helper to new Vitest version
  tools/vitest-tsconfig-path-aliases.ts
Labels: 🛠️ tooling

test: fix global setup paths, relative to project in new version
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
Labels: 🔬 testing

test: skip flaky integration tests for now
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

test: include text reporter by default
  .github/workflows/ci.yml
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing, 🦾 CI/CD

build: migrate Nx to 17.2.8
  examples/react-todos-app/vite.config.ts
  package-lock.json
  package.json
Labels: 🛠️ tooling

build(react-todos-app): fix vite config after Nx migration
  examples/react-todos-app/vite.config.ts
Labels: none

test: fix coverage reportsDirectory, needs to be in vite.config
  e2e/cli-e2e/project.json
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  examples/react-todos-app/code-pushup.config.js
  examples/react-todos-app/project.json
  examples/react-todos-app/vite.config.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/project.json
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/project.json
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/project.json
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing, 🛠️ tooling

ci: replace broken --coverage flag in CI workflows
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  code-pushup.config.ts
  examples/react-todos-app/project.json
Labels: 🦾 CI/CD, 🛠️ tooling

test: fix missing default reporter after Nx+Vitest update
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test: update snapshots for new vitest format
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/__snapshots__/runner.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
Labels: 🧩 eslint-plugin, 🧩 utils

test: disable threads to fix fetch timeout
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test: replace default (buggy on Windows) with basic reporter
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  examples/react-todos-app/vite.config.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

test(plugin-eslint): fix tests after Nx update
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/src/lib/nx.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

build: migrate Nx to 17.3.2
  package-lock.json
  package.json
Labels: 🛠️ tooling

test(plugin-eslint): future-proof @nx/eslint rules count assertion
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

build: fix peer dependency error (@nx/eslint-plugin and @typescript-eslint/parser)
  package-lock.json
  package.json
  packages/utils/src/lib/formatting.ts
Labels: 🧩 utils, 🛠️ tooling

test(cli-e2e): fix coverage config and update snapshot format after Vitest update
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  examples/react-todos-app/code-pushup.config.js
  examples/react-todos-app/vite.config.ts
Labels: 🔬 testing

test: adapt single-thread vitest config after version update
  e2e/cli-e2e/vite.config.e2e.ts
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-utils/vite.config.unit.ts
Labels: 🔬 testing

build(nx-plugin): fix nx dependency version range
  packages/nx-plugin/package.json
Labels: 🛠️ tooling

test: fix global teardown not being called by disabling watch mode
  nx.json
Labels: 🛠️ tooling

release: 0.25.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

fix: lint
  packages/utils/perf/crawl-file-system/index.ts
Labels: none

chore: exclude fixtures from ESLint
  .eslintignore
Labels: none

chore: exclude fixtures from ESLint
  .eslintignore
Labels: none

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
