Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

refactor(plugin-lighthouse): make logic less complex
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

Update packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

test(plugin-lighthouse): use realistic test data
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

refactor(plugin-lighthouse): format
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

refactor(plugin-lighthouse): format
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

Update examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

refactor(examples-plugin): fix lint
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

refactor(examples-plugin): format
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

test(examples-plugin): fix integration tests
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

feat(plugin-lighthouse): add only filters logic for categories (#515)
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter-by-slug.ts
  packages/utils/src/lib/filter-by-slug.unit.test.ts
  packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.unit.test.ts
  packages/utils/src/lib/log-results.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

release: 0.24.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

merge main
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

feat(plugin-lighthouse): implement basic audit parsing (#523)
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

release: 0.25.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

wip
  packages/cli/src/lib/history/history-command.unit.test.ts
Labels: 🧩 cli, 🔬 testing

format
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
Labels: 🔬 testing

format
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
Labels: 🔬 testing

test(examples-plugins): convert integration tests to e2e (#512)
  examples/plugins/src/lighthouse/mock/constants.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
Labels: 🔬 testing

release: 0.25.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

marge main
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
Labels: 🧩 utils

marge main
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
Labels: 🧩 utils, 🔬 testing

wip
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

test(utils): added test folder per describe
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 coverage-plugin, 🧩 utils, 🔬 testing

test(utils): move git tests folder out of tmp
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

test(utils): add config
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

wip
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/execute-plugin.unit-test.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/vite.config.unit.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
  packages/utils/vite.config.unit.ts
  testing/test-setup/src/lib/cliui.mock.ts
Labels: 🧩 core, 🧩 utils, 🔬 testing

wip
  code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/project.json
  tools/benchmark/bin.mjs
  tools/benchmark/utils.mjs
Labels: 🛠️ tooling

wip
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/perf/glob/index.ts
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/perf/glob/glob.ts
  examples/plugins/src/benchmark-js/perf/glob/globby.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suit-helper.test.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/tsconfig.perf.json
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/glob/glob.ts
  packages/utils/perf/glob/globby.ts
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/project.json
  tools/benchmark/bin.mjs
  tools/benchmark/utils.mjs
Labels: 🔬 testing, 📖 Project documentation, 🛠️ tooling

wip
  examples/plugins/code-pushup.config.ts
  examples/plugins/perf/glob/index.ts
  examples/plugins/project.json
  examples/plugins/src/benchmark-js/src/suit-helper.ts
Labels: 🛠️ tooling

test(examples-plugins): fix tests
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/suit-helper.e2e.test.ts
Labels: 🔬 testing

test(examples-plugins): fix tests
  code-pushup.config.ts
  examples/plugins/perf/dummy-suite/index.ts
  examples/plugins/perf/glob/index.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/tsconfig.perf.json
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/core/src/lib/implementation/read-rc-file.ts
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/perf/score-report/utils.ts
Labels: 🧩 cli, 🧩 core, 🔬 testing, 🛠️ tooling

refactor(examples-plugins): cleanup benchmark logic
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/glob/index.ts
Labels: 🧩 cli

test: use nested describe within tmp folder
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(examples-plugins): add test run suite , change config
  code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/suit-helper.integration.test.ts
Labels: 🔬 testing

refactor(examples-plugins): fix runSuite naming
  code-pushup.config.ts
  examples/plugins/perf/dummy-suite/index.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/index.ts
  examples/plugins/src/benchmark-js/src/suit-helper.integration.test.ts
  examples/plugins/src/benchmark-js/src/suite-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  examples/plugins/src/index.ts
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/index.ts
Labels: 🔬 testing

refactor(examples-plugins): fix build
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

Update packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

Update packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(examples-plugins): format
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

refactor(examples-plugins): adjust test
  examples/plugins/src/benchmark-js/src/suit-helper.integration.test.ts
Labels: 🔬 testing

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
