Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

testing(testing-utils): add test helper for create Nodes
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/constants.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/init-target.ts
  packages/nx-plugin/src/plugin/target/init.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing

testing(testing-utils): add test helper for create Nodes
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/init-target.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing

testing(testing-utils): remove duplicated logic
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/path.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat(testing-utils): refactor and document osAgnosticPaths
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

docs
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 🔬 testing

Update packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.ts
Labels: 🧩 nx-plugin

fix test for windows
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

adjust logic
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🔬 testing

format
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update packages/nx-plugin/src/executors/autorun/Readme.md
  packages/nx-plugin/src/executors/autorun/Readme.md
Labels: 🧩 nx-plugin, 📖 Project documentation

refactor(utils): extend scoreIcon logic for pre and postfix
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

refactor(nx-plugin): rename targets in plugin utils
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/init.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): refactor tests
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

docs(nx-plugin): add better text
  packages/nx-plugin/src/executors/autorun/Readme.md
  packages/nx-plugin/src/executors/autorun/schema.json
Labels: 🧩 nx-plugin, 📖 Project documentation

docs(nx-plugin): fix typo
  packages/nx-plugin/executors.json
  packages/nx-plugin/src/executors/autorun/schema.json
Labels: 🧩 nx-plugin

docs(nx-plugin): fix typo
  packages/nx-plugin/src/executors/autorun/Readme.md
Labels: 🧩 nx-plugin, 📖 Project documentation

docs(nx-plugin): fix typo
  packages/nx-plugin/src/executors/autorun/Readme.md
Labels: 🧩 nx-plugin, 📖 Project documentation

test(nx-plugin): refactor mocking strategy
  packages/nx-plugin/mock/utils/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/autorun/schema.json
Labels: 🧩 nx-plugin

refactor(nx-plugin): fix bad descriptions in schema
  packages/nx-plugin/src/executors/autorun/schema.json
Labels: 🧩 nx-plugin

refactor(nx-plugin): lint
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): fix test for CI
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): fix test
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): fix format normalization
  code-pushup.config.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/implementation/core-config.options.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli, 🔬 testing

test(nx-plugin): fix format normalization
  code-pushup.config.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/implementation/core-config.options.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli, 🔬 testing

test(nx-plugin): fix format normalization
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.options.ts
Labels: 🧩 cli

wip
  code-pushup.config.ts
Labels: none

wip
  code-pushup.config.ts
Labels: none

wip
  .eslintignore
Labels: none

Update .github/workflows/code-pushup.yml
  .github/workflows/code-pushup.yml
Labels: 🦾 CI/CD

wip
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
Labels: 🧩 cli, 🔬 testing

test(nx-plugin): fix format normalization (#756)
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli, 🔬 testing

refactor(utils): support nested objects in cliObjToArgs
  .eslintignore
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing

refactor(utils): fix lint
  packages/cli/src/lib/implementation/core-config.options.ts
Labels: 🧩 cli

refactor(utils): fix format
  packages/cli/src/lib/implementation/core-config.options.ts
Labels: 🧩 cli

feat(utils): support nested objects in cliObjToArgs
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing

refactor(nx-plugin): fix format
  packages/nx-plugin/src/executors/internal/cli.ts
Labels: 🧩 nx-plugin

refactor(nx-plugin): update tests
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing
