Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

Update tools/scripts/utils.ts
  tools/scripts/utils.ts
Labels: 🛠️ tooling

handle error
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

wip
  tools/scripts/utils.ts
Labels: 🛠️ tooling

Update global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

Update tools/scripts/publish.plugin.ts
  tools/scripts/publish.plugin.ts
Labels: 🛠️ tooling

reuse executeProcess
  global-setup.e2e.ts
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/execute-process.unit.test.ts
  tools/scripts/publish.plugin.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/utils.ts
Labels: 🧩 utils, 🔬 testing, 🛠️ tooling

fix
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

fix
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

fix
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

fix
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/execute-process.unit.test.ts
Labels: 🧩 utils, 🔬 testing

fix(plugin-lighthouse): process empty array flags
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

fix
  tools/scripts/publish.mjs
Labels: 🛠️ tooling

test CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability 1 e2e
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability 1 e2e
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability 1 e2e
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability 1 e2e
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

test CI stability 2 e2e
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

Update tools/scripts/start-local-registry.ts
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

wip
  packages/utils/src/lib/execute-process.ts
  tools/scripts/start-local-registry.ts
Labels: 🧩 utils, 🛠️ tooling

wip
  packages/utils/src/lib/execute-process.ts
Labels: 🧩 utils

no cleanup
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  global-setup.e2e.ts
Labels: 🔬 testing

no cleanup
  packages/utils/src/lib/execute-process.unit.test.ts
Labels: 🧩 utils, 🔬 testing

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  global-setup.e2e.ts
Labels: none

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  tsconfig.base.json
Labels: 🛠️ tooling

wip
  tsconfig.base.json
Labels: 🛠️ tooling

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

feat(models): add optional portalUrl and label to reports diff schema
  packages/models/docs/models-reference.md
  packages/models/src/lib/reports-diff.ts
  packages/models/src/lib/reports-diff.unit.test.ts
Labels: 🧩 models, 🔬 testing, 📖 Project documentation

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
