Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

test(plugin-eslint): use fewer lint rules in tests
  packages/plugin-eslint/mocks/fixtures/todos-app/.eslintrc.js
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/__snapshots__/runner.integration.test.ts.snap
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing, 🛠️ tooling

refactor(nx-plugin): fix tests
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing

test(cli-e2e): use fewer lint rules in tests
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  examples/react-todos-app/.eslintrc.js
Labels: 🔬 testing, 📖 Project documentation, 🛠️ tooling

feat(utils): add nested objects to cli args parsing (#758)
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing

refactor(nx-plugin): fix error logging
  packages/nx-plugin/src/executors/autorun/executor.ts
Labels: 🧩 nx-plugin

test(cli-e2e): use fewer lint rules in tests
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  examples/react-todos-app/.eslintrc.js
Labels: 🔬 testing, 📖 Project documentation, 🛠️ tooling

test(plugin-eslint): use fewer lint rules in tests
  packages/plugin-eslint/mocks/fixtures/todos-app/.eslintrc.js
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/__snapshots__/runner.integration.test.ts.snap
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing, 🛠️ tooling

feat(utils): include optional link to portal in markdown comment
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

refactor(utils): break up large files
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
  packages/utils/src/lib/reports/load-report.ts
  packages/utils/src/lib/reports/load-report.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

feat(core): fetch portal comparison link if available when comparing reports
  package-lock.json
  package.json
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/core/package.json
  packages/core/src/lib/compare.ts
  packages/core/src/lib/compare.unit.test.ts
  testing/test-setup/src/lib/portal-client.mock.ts
Labels: 🧩 cli, 🧩 core, 🔬 testing, 🛠️ tooling

refactor: fix main and configure models cp config
  code-pushup.config.ts
  packages/models/code-pushup.config.ts
  project.json
Labels: 🛠️ tooling

refactor: format
  packages/nx-plugin/src/executors/autorun/executor.ts
Labels: 🧩 nx-plugin

refactor: types
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat(utils): include optional link to portal in markdown comment
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

refactor(utils): break up large files
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
  packages/utils/src/lib/reports/load-report.ts
  packages/utils/src/lib/reports/load-report.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

feat(core): fetch portal comparison link if available when comparing reports
  package-lock.json
  package.json
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/core/package.json
  packages/core/src/lib/compare.ts
  packages/core/src/lib/compare.unit.test.ts
  testing/test-setup/src/lib/portal-client.mock.ts
Labels: 🧩 cli, 🧩 core, 🔬 testing, 🛠️ tooling

refactor: lint
  packages/nx-plugin/src/executors/autorun/executor.ts
Labels: 🧩 nx-plugin

Update packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.ts
Labels: 🧩 nx-plugin

test(test-utils): remove default value for project name
  packages/nx-plugin/mock/utils/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
  testing/test-utils/src/lib/utils/nx.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update packages/nx-plugin/src/executors/autorun/utils.ts
  packages/nx-plugin/src/executors/autorun/utils.ts
Labels: 🧩 nx-plugin

rename
  packages/nx-plugin/src/executors/autorun/README.md
Labels: 🧩 nx-plugin, 📖 Project documentation

fix typo
  packages/nx-plugin/src/executors/autorun/README.md
Labels: 🧩 nx-plugin, 📖 Project documentation

Update packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.ts
Labels: 🧩 nx-plugin

Update packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/types.ts
Labels: 🧩 nx-plugin

Update packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.ts
Labels: 🧩 nx-plugin

Update testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 🔬 testing

Update testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🔬 testing

remove config
  nx.json
  packages/models/code-pushup.config.ts
  packages/models/project.json
  packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

fix test
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🔬 testing

fix snapshots
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.e2e.test.ts.snap
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
Labels: 🔬 testing, 📖 Project documentation

add tests
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/plugin/utils.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat(plugin-js-packages): add defaults and make config optional
  code-pushup.config.ts
  packages/plugin-js-packages/src/lib/config.ts
  packages/plugin-js-packages/src/lib/constants.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.unit.test.ts
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

feat(plugin-js-packages): update docs
  packages/plugin-js-packages/README.md
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing, 📖 Project documentation

refactor: add code-pushup.preset.ts
  code-pushup.config.ts
  code-pushup.preset.ts
Labels: none

fix cagegories
  code-pushup.config.ts
  code-pushup.preset.ts
Labels: none

wip
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

wip
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing
