Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

chore: update vitest aliases
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  tsconfig.base.json
Labels: 🧩 eslint-plugin, 🔬 testing, 🛠️ tooling

chore: update cli-e2e test setup
  e2e/cli-e2e/vite.config.e2e.ts
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-lighthouse/project.json
Labels: 🔬 testing, 🛠️ tooling

test(examples-plugins): refactor hooks
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

fix(examples-plugins): lint
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

fix(utils): make git status clean
  packages/utils/src/lib/git.ts
Labels: 🧩 utils

test(examples-plugins): add lighthouse e2e test
  e2e/examples-plugins-e2e/.eslintrc.json
  e2e/examples-plugins-e2e/project.json
  e2e/examples-plugins-e2e/tests/plugin-lighthouse.e2e.test.ts
  e2e/examples-plugins-e2e/tsconfig.json
  e2e/examples-plugins-e2e/tsconfig.test.json
  e2e/examples-plugins-e2e/vite.config.e2e.ts
  examples/plugins/project.json
  examples/plugins/src/lighthouse/mock/constants.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.e2e.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
  tsconfig.base.json
Labels: 🔬 testing, 🛠️ tooling

fix(examples-plugins): format
  e2e/examples-plugins-e2e/project.json
  e2e/examples-plugins-e2e/tests/plugin-lighthouse.e2e.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  tsconfig.base.json
Labels: 🔬 testing, 🛠️ tooling

fix: lint
  .eslintignore
  package-lock.json
  package.json
  packages/cli/src/lib/autorun/autorun-command.ts
Labels: 🧩 cli, 🛠️ tooling

test: run e2e tests in sequence to avoid bug
  .github/workflows/ci.yml
  examples/plugins/project.json
  examples/plugins/vite.config.e2e.ts
Labels: 🦾 CI/CD, 🛠️ tooling

test(plugin-lighthouse): add checks for pluginSchema validation
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/utils/src/lib/log-results.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

refactor(plugin-lighthouse): remove comment
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
Labels: 🧩 lighthouse-plugin

feat(plugin-lighthouse): implement basic audit parsing
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

wip
  packages/cli/package.json
  packages/cli/src/lib/history/history-command.ts
  packages/cli/src/lib/history/history-command.unit.test.ts
  packages/cli/src/lib/history/history.options.ts
  packages/core/src/lib/history.integration.test.ts
  packages/core/src/lib/history.ts
  packages/core/src/lib/history.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 cli, 🧩 core, 🧩 utils, 🔬 testing, 🛠️ tooling

wip
  packages/cli/src/lib/history/history-command.ts
  packages/core/src/lib/history.ts
Labels: 🧩 cli, 🧩 core

refactor(utils): introduce new filter helper
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.unit.test.ts
  packages/cli/src/lib/implementation/only-plugins.model.ts
  packages/cli/src/lib/implementation/only-plugins.utils.ts
  packages/cli/src/lib/implementation/only-plugins.utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter-by-slug.ts
  packages/utils/src/lib/filter-by-slug.unit.test.ts
Labels: 🧩 cli, 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

wip
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/cli/docs/typing.md
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.unit.test.ts
  packages/cli/src/lib/implementation/only-plugins.utils.ts
  packages/cli/src/lib/implementation/only-plugins.utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.unit.test.ts
  tsconfig.base.json
Labels: 🧩 cli, 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing, 📖 Project documentation, 🛠️ tooling

refactor(utils): filter logic
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter-by-slug.ts
  packages/utils/src/lib/filter-by-slug.unit.test.ts
  packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

wip
  packages/cli/docs/typing.md
Labels: 📖 Project documentation

wip
  packages/cli/docs/typing.md
Labels: 📖 Project documentation

wip
  packages/cli/docs/typing.md
Labels: 📖 Project documentation

Update packages/core/.eslintrc.json
  packages/core/.eslintrc.json
Labels: 🛠️ tooling

Update packages/core/src/lib/implementation/read-rc-file.unit.test.ts
  packages/core/src/lib/implementation/read-rc-file.unit.test.ts
Labels: 🧩 core, 🔬 testing

Update packages/core/src/lib/implementation/report-to-gql.ts
  packages/core/src/lib/implementation/report-to-gql.ts
Labels: 🧩 core

feat(utils): add git helper (#469)
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  tsconfig.base.json
Labels: 🧩 utils, 🔬 testing, 🛠️ tooling

release: 0.23.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

Update package.json
  package.json
Labels: 🛠️ tooling

feat(examples-plugins): add example benchmark plugin
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/mock/constants.ts
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/perf/glob/glob.ts
  examples/plugins/src/benchmark-js/perf/glob/globby.ts
  examples/plugins/src/benchmark-js/perf/glob/index.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/index.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  examples/plugins/src/index.ts
  examples/plugins/tsconfig.json
  package-lock.json
  package.json
  packages/utils/perf/glob/fast-glob.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  tsconfig.base.json
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation, 🛠️ tooling

wip
  code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  project.json
Labels: 🛠️ tooling

wip
  code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  packages/utils/perf/crawl-file-system/fs-walk.ts
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/score-report/index.ts
Labels: none

wip
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

wip
  code-pushup.config.ts
Labels: none

refactor: format
  packages/core/src/lib/implementation/read-rc-file.unit.test.ts
  packages/core/src/lib/implementation/report-to-gql.ts
Labels: 🧩 core, 🔬 testing

refactor: revert packages
  package-lock.json
  package.json
Labels: 🛠️ tooling

Update package.json
  package.json
Labels: 🛠️ tooling

refactor: format
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
Labels: none

refactor: format
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
Labels: none

refactor: set weight
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
Labels: none

refactor: set better weight
  code-pushup.config.ts
Labels: none

refactor: adjust logic
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/benchmark-js/perf/glob/index.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/index.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
Labels: none

Apply suggestions from code review
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing
