Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

refactor: derive NPM dependencies from implicit dependencies
  e2e/cli-e2e/project.json
  e2e/create-cli-e2e/project.json
  e2e/nx-plugin-e2e/project.json
  global-setup.verdaccio.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

refactor: adjust error message
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

use helper and avoid cross deletes
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/cli-e2e/tests/compare.e2e.test.ts
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

fix lint
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  global-setup.e2e.ts
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

fix format
  global-setup.e2e.ts
Labels: none

run parallel
  global-setup.verdaccio.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

parallel 1
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

make kill graceful
  tools/src/debug/utils.ts
Labels: 🛠️ tooling

make kill graceful
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

fix
  global-setup.verdaccio.ts
Labels: none

configure implicit dependencies
  e2e/plugin-lighthouse-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

fix
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
Labels: 🔬 testing

fix dependencies
  e2e/create-cli-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

fix dependencies
  e2e/create-cli-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

fix format
  e2e/create-cli-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

add comments
  tools/src/debug/utils.ts
Labels: 🛠️ tooling

add retryDelay of 350ms
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

remove duplicate dep
  e2e/cli-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

revamp task graph
  e2e/cli-e2e/project.json
  e2e/cli-e2e/vite.config.e2e.ts
  e2e/create-cli-e2e/project.json
  e2e/nx-plugin-e2e/project.json
  project.json
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

revamp task graph
  e2e/cli-e2e/vite.config.e2e.ts
  global-setup.verdaccio.ts
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

use correct imports
  tools/src/npm/npm.plugin.ts
  tools/src/verdaccio/utils.ts
Labels: 🛠️ tooling

hackfix new e2e setup for cli-e2e
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/help.e2e.test.ts
  e2e/cli-e2e/vite.config.e2e.ts
Labels: 🔬 testing

hackfix all but compare cli-e2e
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.ts
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/cli-e2e/tests/compare.e2e.test.ts
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing

format
  e2e/cli-e2e/tests/collect.e2e.test.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing

local working nx run-many -t e2e --parallel 1
  e2e/cli-e2e/tests/compare.e2e.test.ts
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing

fix CLI error ESLint e2e test
  e2e/cli-e2e/tests/collect.e2e.test.ts
Labels: 🔬 testing

CI stability
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

CI stability 1
  global-setup.e2e.ts
Labels: none

CI stability 2
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

CI stability 3
  global-setup.e2e.ts
Labels: none

simplify kill process in favour of OS bug
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

CI stability 0
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

CI stability 1
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

CI stability 2
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

CI stability 3
  tools/src/verdaccio/start-local-registry.ts
Labels: 🛠️ tooling

feat(cli): do not show help on error
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli
