Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

feat(utils): skip unchanged categories and projects in report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 📖 Project documentation

test(utils): add test case for unchanged monorepo diff
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-unchanged.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

test(utils): unit test diff formatting helpers
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

format
  packages/create-cli/README.md
Labels: 📖 Project documentation

Update e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
Labels: 🔬 testing

refactor(plugin-lighthouse): format audit value
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

Update e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
Labels: 🔬 testing

Update packages/create-cli/src/index.ts
  packages/create-cli/src/index.ts
Labels: none

refactor(plugin-lighthouse): format audit value
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

refactor(plugin-lighthouse): format audit value (#794)
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing

refactor(nx-plugin): refactor autorun command to general
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  nx.json
  packages/nx-plugin/README.md
  packages/nx-plugin/docs/images/nx-plugin-dynamic-target-configuration.png
  packages/nx-plugin/executors.json
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/autorun/constants.ts
  packages/nx-plugin/src/executors/command/README.md
  packages/nx-plugin/src/executors/command/executor.integration.test.ts
  packages/nx-plugin/src/executors/command/executor.ts
  packages/nx-plugin/src/executors/command/executor.unit.test.ts
  packages/nx-plugin/src/executors/command/schema.json
  packages/nx-plugin/src/executors/command/schema.ts
  packages/nx-plugin/src/executors/command/utils.integration.test.ts
  packages/nx-plugin/src/executors/command/utils.ts
  packages/nx-plugin/src/executors/command/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/nx-plugin/src/executors/internal/types.ts
  packages/nx-plugin/src/generators/configuration/README.md
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/init/README.md
  packages/nx-plugin/src/plugin/README.md
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

add upload defaults
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
Labels: 🔬 testing

remove warning
  package-lock.json
  package.json
Labels: 🛠️ tooling

set default upload options
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  packages/nx-plugin/package.json
Labels: 🔬 testing, 🛠️ tooling

test(utils): test truncated audits table
  packages/utils/src/lib/reports/__snapshots__/report-diff-many-audits.md
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

feat(utils): move project status from heading to paragraph in report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 📖 Project documentation

refactor: polish publish code
  global-setup.e2e.ts
  global-setup.ts
  nx.json
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
  tools/scripts/publish.plugin.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/types.ts
  tools/scripts/utils.ts
Labels: 🛠️ tooling

wip
  CONTRIBUTING.md
Labels: 📖 Project documentation

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

fix(plugin-lighthouse): process empty array flags
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

wip
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
  tools/scripts/types.ts
Labels: 🔬 testing, 🛠️ tooling

Update tools/scripts/utils.ts
  tools/scripts/utils.ts
Labels: 🛠️ tooling

Update global-setup.ts
  global-setup.ts
Labels: none

wip more
  CONTRIBUTING.md
  global-setup.e2e.ts
  tools/scripts/check-package-range.mjs
  tools/scripts/publish.mjs
  tools/scripts/publish.plugin.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
  tools/scripts/types.ts
  tools/scripts/utils.ts
Labels: 📖 Project documentation, 🛠️ tooling

wip more 2
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
  tools/scripts/types.ts
  tools/scripts/utils.ts
Labels: 🛠️ tooling

feat(utils): move project status from heading to paragraph in report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 📖 Project documentation

feat(utils): implement diff markdown comment for monorepos
  package-lock.json
  package.json
  packages/utils/package.json
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation, 🛠️ tooling

feat(utils): sort projects in report-diff.md by most changed
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils

test(utils): add test case for unchanged monorepo diff
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-unchanged.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

refactor(utils): split diff formatting functions into multiple files
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils

feat(utils): move groups and audits under details to make diff comment more compact
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

feat(utils): skip unchanged categories and projects in report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 📖 Project documentation

test(utils): unit test diff formatting helpers
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

test(utils): test truncated audits table
  packages/utils/src/lib/reports/__snapshots__/report-diff-many-audits.md
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

fix
  tools/scripts/publish.mjs
  tools/scripts/publish.plugin.ts
Labels: 🛠️ tooling

Update global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

Update tools/scripts/publish.plugin.ts
  tools/scripts/publish.plugin.ts
Labels: 🛠️ tooling
