Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

refine types
  code-pushup.config.ts
  code-pushup.preset.ts
Labels: none

format
  code-pushup.config.ts
  code-pushup.preset.ts
  packages/utils/src/lib/merge-configs.unit.test.ts
Labels: 🧩 utils, 🔬 testing

feat(nx-plugin): add executor to nx-plugin (#737)
  .eslintignore
  packages/nx-plugin/executors.json
  packages/nx-plugin/mock/utils/executor.ts
  packages/nx-plugin/package.json
  packages/nx-plugin/project.json
  packages/nx-plugin/src/executors/autorun/README.md
  packages/nx-plugin/src/executors/autorun/constants.ts
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/autorun/schema.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
  packages/nx-plugin/src/executors/autorun/utils.ts
  packages/nx-plugin/src/executors/autorun/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.integration.test.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/index.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

Update testing/test-utils/src/lib/utils/nx-plugin.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

fix types
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

fix
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/executors/autorun/utils.unit.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

remove comment
  packages/utils/src/lib/reports/utils.ts
Labels: 🧩 utils

remove comment
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
Labels: 🧩 utils, 🔬 testing

wip
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
Labels: 🧩 utils, 🔬 testing

fix lint
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
Labels: 🧩 utils, 🔬 testing

fix
  code-pushup.config.ts
  code-pushup.preset.ts
Labels: none

fix
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

fix(utils): add is binary icon (#749)
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.unit.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
  packages/utils/src/lib/reports/scoring.unit.test.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/sorting.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor: add code-pushup.preset.ts (#765)
  code-pushup.config.ts
  code-pushup.preset.ts
  packages/utils/src/lib/merge-configs.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(plugin-js-packages): add normalize Config
  packages/plugin-js-packages/src/lib/constants.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.ts
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

fix typing
  packages/plugin-js-packages/src/lib/utils.ts
Labels: 🧩 js-packages-plugin

adjust tests
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

wip
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

Update nx-plugin.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

Update nx-plugin.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
Labels: 🔬 testing

feat(nx-plugin): add crystal utils (#754)
  packages/nx-plugin/src/executors/autorun/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/constants.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
  testing/test-utils/src/lib/utils/path.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/plugin-js-packages/src/lib/constants.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.unit.test.ts
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

wip
  packages/nx-plugin/package.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/target/code-pushup-target.ts
  packages/nx-plugin/src/plugin/target/code-pushup.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

wip
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

refactor(plugin-js-packages): use build-md to format issue messages
  packages/plugin-js-packages/package.json
  packages/plugin-js-packages/src/lib/runner/audit/transform.ts
  packages/plugin-js-packages/src/lib/runner/audit/transform.unit.test.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
Labels: 🧩 js-packages-plugin, 🔬 testing, 🛠️ tooling

style(utils): fix formatting
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(utils): remove unused apostrophize function
  packages/utils/src/index.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(utils): remove unused apostrophize function
  packages/utils/src/index.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(plugin-js-packages): use build-md to format issue messages
  packages/plugin-js-packages/package.json
  packages/plugin-js-packages/src/lib/runner/audit/transform.ts
  packages/plugin-js-packages/src/lib/runner/audit/transform.unit.test.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
Labels: 🧩 js-packages-plugin, 🔬 testing, 🛠️ tooling

style(utils): fix formatting
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
Labels: 🧩 utils, 🔬 testing

release: 0.49.0 [skip ci]
  CHANGELOG.md
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

test: add testing-nx-utils package
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  testing/test-nx-utils/.eslintrc.json
  testing/test-nx-utils/README.md
  testing/test-nx-utils/project.json
  testing/test-nx-utils/src/index.ts
  testing/test-nx-utils/src/lib/utils/generate-files.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
  testing/test-nx-utils/tsconfig.json
  testing/test-nx-utils/tsconfig.lib.json
  testing/test-nx-utils/tsconfig.test.json
  testing/test-nx-utils/vite.config.unit.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

test(test-utils): move nx utils
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

add bin, add tests
  e2e/nx-plugin-e2e/mocks/utils.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/models/project.json
  packages/nx-plugin/package.json
  packages/nx-plugin/project.json
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/types.ts
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  packages/nx-plugin/tsconfig.test.json
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx.ts
  tsconfig.base.json
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing, 🛠️ tooling

wip
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
Labels: 🧩 nx-plugin, 🔬 testing

rename fn
  testing/test-nx-utils/src/lib/utils/tree.ts
Labels: 🔬 testing

add tests
  e2e/nx-plugin-e2e/mocks/utils.ts
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/types.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  testing/test-nx-utils/src/index.ts
  testing/test-utils/src/lib/utils/string.ts
Labels: 🧩 nx-plugin, 🔬 testing
