Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

update snapshots
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
Labels: 🔬 testing

Update packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.ts
Labels: 🧩 js-packages-plugin

Update packages/plugin-js-packages/src/lib/package-managers/derive-yarn.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.ts
Labels: 🧩 js-packages-plugin

Update packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

adjust error message
  code-pushup.preset.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.unit.test.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

Update testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
  testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
Labels: 🔬 testing

refactor: adjust package boundaries
  .eslintrc.json
  CONTRIBUTING.md
  testing/test-nx-utils/project.json
  testing/test-nx-utils/src/lib/utils/tree.integration.test.ts
Labels: 🔬 testing, 📖 Project documentation, 🛠️ tooling

Update packages/plugin-js-packages/src/lib/package-managers/derive-yarn.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

Update packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
Labels: 🧩 nx-plugin

Update packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
Labels: 🧩 nx-plugin

Update packages/create-cli/README.md
  packages/create-cli/README.md
Labels: 📖 Project documentation

Update packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.ts
Labels: none

Update packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.ts
Labels: none

Update packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat: add defaults to js-packages plugin options (#762)
  code-pushup.preset.ts
  packages/plugin-js-packages/README.md
  packages/plugin-js-packages/src/lib/config.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.unit.test.ts
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing, 📖 Project documentation

feat(test-nx-utils): add testing lib for nx specific logic (#777)
  .eslintrc.json
  CONTRIBUTING.md
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-nx-utils/.eslintrc.json
  testing/test-nx-utils/README.md
  testing/test-nx-utils/project.json
  testing/test-nx-utils/src/index.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.unit.test.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
  testing/test-nx-utils/src/lib/utils/nx.unit.test.ts
  testing/test-nx-utils/src/lib/utils/tree.integration.test.ts
  testing/test-nx-utils/src/lib/utils/tree.ts
  testing/test-nx-utils/tsconfig.json
  testing/test-nx-utils/tsconfig.lib.json
  testing/test-nx-utils/tsconfig.test.json
  testing/test-nx-utils/vite.config.unit.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/file-system.ts
  testing/test-utils/src/lib/utils/file-system.unit.test.ts
  testing/test-utils/src/lib/utils/nx.ts
  tsconfig.base.json
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

refactor(nx-plugin): adjust stringify logic
  .eslintignore
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
  packages/nx-plugin/tsconfig.lib.json
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

Update packages/cli/src/lib/yargs-cli.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli

Update packages/cli/src/lib/implementation/formatting.ts
  packages/cli/src/lib/implementation/formatting.ts
Labels: 🧩 cli

refactor(cli): types
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/help.e2e.test.ts
  packages/cli/src/lib/implementation/formatting.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
Labels: 🧩 cli, 🧩 utils, 🔬 testing

refactor(cli): fix description
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/src/lib/cli.ts
Labels: 🧩 cli, 🔬 testing

wip
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/init.unit.test.ts
  packages/create-cli/tsconfig.lib.json
Labels: 🔬 testing, 🛠️ tooling

fix
  esbuild.config.js
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

fix
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
Labels: 🔬 testing

fix
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

fix
  esbuild.config.js
Labels: 🛠️ tooling

test(create-cli): add tests, switch to e2m
  packages/create-cli/project.json
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/init.unit.test.ts
  packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.unit.test.ts
Labels: 🔬 testing, 🛠️ tooling

test(create-cli): add e2e tests
  e2e/create-cli-e2e/.eslintrc.json
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/create-cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/tsconfig.json
  e2e/create-cli-e2e/tsconfig.test.json
  e2e/create-cli-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  packages/create-cli/package.json
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/init.ts
  packages/create-cli/tsconfig.lib.json
Labels: 🔬 testing, 🛠️ tooling

wip
  .eslintrc.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/init.unit.test.ts
Labels: 🔬 testing, 🛠️ tooling

ci: reduce warnings in terminal by increasing to node >=18.20
  package.json
Labels: 🛠️ tooling

refactor: style cli help (#781)
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/help.e2e.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/implementation/formatting.ts
  packages/cli/src/lib/implementation/formatting.unit.test.ts
  packages/cli/src/lib/implementation/global.options.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/skip-plugins.options.ts
  packages/cli/src/lib/yargs-cli.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
Labels: 🧩 cli, 🧩 utils, 🔬 testing

wip
  esbuild.config.js
Labels: 🛠️ tooling

ci: reduce warnings in terminal by increasing to node >=18.20 (#782)
  package.json
Labels: 🛠️ tooling

ci: improve registry logic to e2e test packages
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  tools/scripts/start-local-registry.ts
Labels: 🔬 testing, 🛠️ tooling

Update esbuild.config.js
  esbuild.config.js
Labels: 🛠️ tooling

wip
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update packages/utils/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

docs: update package.json docs (#780)
  esbuild.config.js
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

wip
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
Labels: 🧩 nx-plugin, 🔬 testing
