Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

Update packages/create-cli/project.json
  packages/create-cli/project.json
Labels: 🛠️ tooling

fix
  packages/create-cli/src/lib/constants.ts
Labels: none

exclude snapshots from testing
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
Labels: 🔬 testing

feat(nx-plugin): extend config generator (#778)
  .eslintignore
  packages/nx-plugin/package.json
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/configuration/types.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
  packages/nx-plugin/tsconfig.lib.json
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing, 🛠️ tooling

test(nx-plugin-e2e): refactor to use new test helper
  e2e/nx-plugin-e2e/mocks/utils.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  packages/nx-plugin/src/index.ts
  testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

Update e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

test(nx-plugin-e2e): fix package name
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

Update packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/index.ts
Labels: 🧩 nx-plugin

Update e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

Update e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/mocks/utils.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/mocks/utils.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/vite.config.e2e.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/mocks/utils.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
Labels: 🔬 testing

test(nx-plugin-e2e): adopt tests to ckek file system too
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
Labels: 🧩 nx-plugin, 🔬 testing

Update e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

test(nx-plugin): add info msg for skip flags
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  e2e/nx-plugin-e2e/mocks/utils.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  packages/core/project.json
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

Update e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

Update e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  package-lock.json
  package.json
  tools/scripts/publish.mjs
Labels: 🛠️ tooling

test(nx-plugin-e2e): refactor to use new test helper (#785)
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

wip
  package-lock.json
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

merge main
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

merge main
  packages/nx-plugin/project.json
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  testing/test-utils/src/lib/utils/string.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

add executor target and tests
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 🧩 nx-plugin, 🔬 testing

polished default options for smother usage
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

ci: improve publish command
  package-lock.json
  package.json
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/utils/project.json
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

format
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

revert
  package-lock.json
  package.json
Labels: 🛠️ tooling

wip
  package-lock.json
  package.json
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

wip
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

ci: improve publish command (#786)
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/utils/project.json
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

wip
  tools/scripts/publish.mjs
Labels: 🛠️ tooling

Update nx-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

Update nx-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
