Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

release: 0.25.5 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

refactor(examples-plugins): docs
  examples/plugins/perf/dummy-suite/index.ts
  examples/plugins/project.json
  examples/plugins/src/benchmark-js/README.md
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suite-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  packages/utils/perf/README.md
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/project.json
  tools/benchmark/bin.mjs
  tools/benchmark/docs/README.md
  tools/benchmark/docs/benchmark-terminal-result.png
  tools/benchmark/utils.mjs
Labels: 📖 Project documentation, 🛠️ tooling

docs(cli): add docs for history command
  packages/cli/README.md
Labels: 📖 Project documentation

clean up
  examples/plugins/code-pushup.config.ts
  examples/plugins/project.json
Labels: 🛠️ tooling

fix(plugin-eslint): pass arguments via config file instead of argv
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/config.ts
  packages/plugin-eslint/src/lib/eslint-plugin.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  packages/plugin-eslint/src/lib/runner/index.ts
Labels: 🧩 eslint-plugin, 🧩 coverage-plugin, 🔬 testing

fix(plugin-eslint): pass arguments via config file instead of argv
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/config.ts
  packages/plugin-eslint/src/lib/eslint-plugin.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  packages/plugin-eslint/src/lib/runner/index.ts
Labels: 🧩 eslint-plugin, 🧩 coverage-plugin, 🔬 testing

release: 0.25.6 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

test: enable integration tests
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

feat(core): add history logic
  packages/core/package.json
  packages/core/src/lib/history.integration.test.ts
  packages/core/src/lib/history.ts
  packages/core/src/lib/history.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 core, 🧩 utils, 🔬 testing, 🛠️ tooling

test(core): change test folder
  packages/core/src/lib/history.integration.test.ts
Labels: 🧩 core, 🔬 testing

test(examples-plugins): change test folder
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suite-helper.ts
Labels: 🔬 testing

test: enable integration tests
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🧩 eslint-plugin, 🔬 testing

release: 0.25.7 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

wip
  code-pushup.config.ts
  e2e/cli-e2e/tests/collect.e2e.test.ts
  examples/react-todos-app/code-pushup.config.js
  package-lock.json
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/plugin-lighthouse/src/index.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/utils/src/lib/file-system.ts
  project.json
Labels: 🧩 core, 🧩 lighthouse-plugin, 🧩 utils, 🔬 testing, 🛠️ tooling

refactor(utils): fix lint rule in perf
  packages/utils/perf/score-report/index.ts
Labels: none

refactor(utils): adopt eslint config
  .eslintrc.json
  packages/utils/perf/score-report/index.ts
Labels: 🛠️ tooling

refactor(utils): fix tests
  packages/utils/mocks/setup/cliui.mock.ts
  packages/utils/src/lib/log-results.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/vite.config.unit.ts
Labels: 🧩 utils, 🔬 testing

refactor(core): fix tests in persist
  packages/core/mocks/setup/cliui.mock.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/vite.config.unit.ts
Labels: 🧩 core, 🔬 testing

feat(cli): include commit info in report.json
  e2e/cli-e2e/tests/collect.e2e.test.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/collect.integration.test.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/upload.ts
  packages/models/docs/models-reference.md
  packages/models/src/index.ts
  packages/models/src/lib/commit.ts
  packages/models/src/lib/commit.unit.test.ts
  packages/models/src/lib/report.ts
  packages/models/src/lib/report.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.integration.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/commit.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/config.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/report.mock.ts
  testing/test-utils/src/lib/utils/report.mock.ts
Labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 utils, 🔬 testing, 📖 Project documentation

feat(cli): include commit info in report.json
  e2e/cli-e2e/tests/collect.e2e.test.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/collect.integration.test.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/upload.ts
  packages/models/docs/models-reference.md
  packages/models/src/index.ts
  packages/models/src/lib/commit.ts
  packages/models/src/lib/commit.unit.test.ts
  packages/models/src/lib/report.ts
  packages/models/src/lib/report.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.integration.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/commit.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/config.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/report.mock.ts
  testing/test-utils/src/lib/utils/report.mock.ts
Labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 utils, 🔬 testing, 📖 Project documentation

release: 0.26.0 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
