Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

CI stability - keep in dist folder after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - create-cli, exec
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, exec real
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, node
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, init
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, exec
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, node+exec
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - create-cli, init
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

CI stability - reset cwd after publish
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

standardise publishable targets
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
  tools/src/npm/README.md
  tools/src/npm/npm.plugin.ts
  tools/src/publish/README.md
  tools/src/publish/publish.plugin.ts
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

fix
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
Labels: 🛠️ tooling

exec
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

node
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

fix utils publishable
  packages/utils/project.json
Labels: 🛠️ tooling

fix format
  tools/src/npm/npm.plugin.ts
  tools/src/publish/publish.plugin.ts
Labels: 🛠️ tooling

polish docs aon plugins
  tools/src/npm/README.md
  tools/src/npm/npm.plugin.ts
  tools/src/publish/README.md
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/utils.ts
  tools/src/verdaccio/README.md
  tools/src/verdaccio/utils.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 📖 Project documentation, 🛠️ tooling

fix paths and package versions
  e2e/cli-e2e/project.json
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  package-lock.json
  package.json
  tools/src/publish/bin/publish-package.ts
Labels: 🔬 testing, 🛠️ tooling

revert nx-global setup
  e2e/nx-plugin-e2e/vite.config.e2e.ts
Labels: 🔬 testing

fix lint
  packages/nx-plugin/package.json
Labels: 🛠️ tooling

add todos
  tools/src/npm/README.md
Labels: 📖 Project documentation, 🛠️ tooling

fix format
  tools/src/npm/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

CI stability
  tools/src/publish/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/npm/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

CI stability
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

CI stability
  tools/src/npm/README.md
  tools/src/publish/README.md
  tools/src/verdaccio/README.md
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 📖 Project documentation, 🛠️ tooling

docs
  CONTRIBUTING.md
  tools/src/verdaccio/README.md
  tools/src/verdaccio/start-local-registry.ts
Labels: 📖 Project documentation, 🛠️ tooling

docs(cli): align merge-diffs description with compare
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/src/lib/merge-diffs/merge-diffs-command.ts
Labels: 🧩 cli, 🔬 testing
