Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

working locally
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  global-setup.verdaccio.ts
  tools/src/npm/npm.plugin.ts
  tools/src/npm/utils.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/verdaccio/constants.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
Labels: 🔬 testing, 🛠️ tooling

working locally - with referencing packages
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
Labels: 🔬 testing

fix OS path
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
Labels: 🔬 testing

fix OS path
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
Labels: 🔬 testing

adjust error logic
  global-setup.verdaccio.ts
  tools/src/npm/utils.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

parallel refactoring
  global-setup.e2e.ts
  tools/src/npm/utils.ts
Labels: 🛠️ tooling

color logs
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

polish
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

format
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

polish registry
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

polish env
  global-setup.verdaccio.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

programmatic dependencies
  global-setup.verdaccio.ts
  tools/src/npm/npm.plugin.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/env.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/registry.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/registry.ts
  tools/src/verdaccio/registry.ts
Labels: 🛠️ tooling

Update tools/src/verdaccio/env.ts
  tools/src/verdaccio/env.ts
Labels: 🛠️ tooling

Update tools/src/publish/bin/publish-package.ts
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

format
  tools/src/publish/bin/publish-package.ts
Labels: 🛠️ tooling

refactor: structure verdaccio environment (#805)
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  global-setup.verdaccio.ts
  package-lock.json
  package.json
  tools/src/npm/npm.plugin.ts
  tools/src/npm/utils.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/utils.ts
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/constants.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
  tools/src/verdaccio/types.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

wip
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  global-setup.verdaccio.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
  tools/src/npm/npm.plugin.ts
  tools/src/utils.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

wip
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  tools/src/verdaccio/env.ts
Labels: 🔬 testing, 🛠️ tooling

format
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  global-setup.verdaccio.ts
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

merge main
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
  package-lock.json
  package.json
Labels: 🔬 testing, 🛠️ tooling

test(creat-cli-e2e): use global-setup.verdaccio.ts, fix enabled test
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  tools/src/verdaccio/env.ts
Labels: 🔬 testing, 🛠️ tooling

test(creat-cli-e2e): enabled tests, add file assertions
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

test(creat-cli-e2e): add tests, deflake folder deletion
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  global-setup.verdaccio.ts
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

fix lint
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
Labels: 🔬 testing

test(cli-e2e): split out lighthouse tests
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/plugin-lighthouse-e2e/.eslintrc.json
  e2e/plugin-lighthouse-e2e/project.json
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/configure.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/configure.e2e.test.ts
  e2e/plugin-lighthouse-e2e/tsconfig.json
  e2e/plugin-lighthouse-e2e/tsconfig.test.json
  e2e/plugin-lighthouse-e2e/vite.config.e2e.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing, 🛠️ tooling

test(cli-e2e): create test helper to omit report data
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/configure.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/omit-report-data.ts
Labels: 🔬 testing

lint
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
Labels: 🔬 testing

move test helper into test-utils
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/create-npm-workshpace.ts
  testing/test-utils/src/lib/utils/omit-report-data.ts
Labels: 🔬 testing

used previous test data
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
Labels: 🔬 testing

add comment
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
Labels: 🔬 testing

fix lint
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
Labels: 🔬 testing

remove lighthouse configuration on react-app
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
  examples/react-todos-app/code-pushup.config.js
  global-setup.verdaccio.ts
Labels: 🔬 testing

cleanup
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing

cleanup
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  global-setup.verdaccio.ts
Labels: 🔬 testing

add retry to delete folder
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

remove implicit dependency
  e2e/cli-e2e/project.json
Labels: 🔬 testing, 🛠️ tooling

CI stability
  e2e/plugin-lighthouse-e2e/tests/collect.e2e.test.ts
  testing/test-setup/src/lib/test-folder.setup.ts
Labels: 🔬 testing

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
