Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'

run init tests only
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

add error handling in global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

Update tools/scripts/publish.mjs
  tools/scripts/publish.mjs
Labels: 🛠️ tooling

feat(utils): helper function to convert unknown errors to string
  packages/utils/src/index.ts
  packages/utils/src/lib/errors.ts
  packages/utils/src/lib/errors.unit.test.ts
Labels: 🧩 utils, 🔬 testing

feat(core): improve error messages for report-diff.json parsing
  packages/core/src/lib/merge-diffs.ts
  packages/core/src/lib/merge-diffs.unit.test.ts
Labels: 🧩 core, 🔬 testing

Update global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

Update global-setup.e2e.ts
  global-setup.e2e.ts
Labels: none

wip
  CONTRIBUTING.md
Labels: 📖 Project documentation

format
  global-setup.e2e.ts
Labels: none

Update packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.ts
Labels: none

Update packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.ts
Labels: none

format
  packages/create-cli/src/lib/utils.ts
Labels: none

fix unit-test
  packages/create-cli/src/lib/utils.ts
Labels: none

feat(create-cli): package to align with package managers init command (#779)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  e2e/create-cli-e2e/.eslintrc.json
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/create-cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/tsconfig.json
  e2e/create-cli-e2e/tsconfig.test.json
  e2e/create-cli-e2e/vite.config.e2e.ts
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  global-setup.e2e.ts
  packages/create-cli/.eslintrc.json
  packages/create-cli/README.md
  packages/create-cli/package.json
  packages/create-cli/project.json
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/constants.ts
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/init.unit.test.ts
  packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.unit.test.ts
  packages/create-cli/tsconfig.json
  packages/create-cli/tsconfig.lib.json
  packages/create-cli/tsconfig.test.json
  packages/create-cli/vite.config.integration.ts
  packages/create-cli/vite.config.unit.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/generators/init/README.md
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/execute-process.ts
  packages/nx-plugin/src/internal/execute-process.unit.test.ts
  tools/scripts/publish.mjs
Labels: 🧩 nx-plugin, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

feat(cli): scaffold merge-diffs command and test argument parsing
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/README.md
  packages/cli/src/lib/commands.ts
  packages/cli/src/lib/implementation/merge-diffs.model.ts
  packages/cli/src/lib/implementation/merge-diffs.options.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.unit.test.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/merge-diffs.ts
Labels: 🧩 cli, 🧩 core, 🔬 testing, 📖 Project documentation

feat(core): implement mergeDiffs logic
  packages/core/src/lib/merge-diffs.ts
  packages/core/src/lib/merge-diffs.unit.test.ts
  packages/utils/src/index.ts
Labels: 🧩 core, 🧩 utils, 🔬 testing

docs(cli): align merge-diffs description with compare
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/src/lib/merge-diffs/merge-diffs-command.ts
Labels: 🧩 cli, 🔬 testing

feat(utils): helper function to convert unknown errors to string
  packages/utils/src/index.ts
  packages/utils/src/lib/errors.ts
  packages/utils/src/lib/errors.unit.test.ts
Labels: 🧩 utils, 🔬 testing

feat(core): improve error messages for report-diff.json parsing
  packages/core/src/lib/merge-diffs.ts
  packages/core/src/lib/merge-diffs.unit.test.ts
Labels: 🧩 core, 🔬 testing

feat(models): add optional portalUrl and label to reports diff schema
  packages/models/docs/models-reference.md
  packages/models/src/lib/reports-diff.ts
  packages/models/src/lib/reports-diff.unit.test.ts
Labels: 🧩 models, 🔬 testing, 📖 Project documentation

feat(cli): add optional label option to compare command
  packages/cli/README.md
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/cli/src/lib/implementation/compare.model.ts
  packages/cli/src/lib/implementation/compare.options.ts
Labels: 🧩 cli, 🔬 testing, 📖 Project documentation

refactor(utils): use project name and portal link from diff object
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🧩 utils, 🔬 testing

feat(core): include portal link and label in report-diff.json
  packages/core/src/lib/compare.ts
  packages/core/src/lib/compare.unit.test.ts
Labels: 🧩 core, 🔬 testing

update CONTRIBUTORS.md
  CONTRIBUTING.md
Labels: 📖 Project documentation

refactor version bump
  tools/scripts/publish.mjs
  tools/src/publish/README.md
  tools/src/publish/bin/bump-package.ts
  tools/src/publish/constants.ts
  tools/src/publish/utils.ts
  tools/src/utils.ts
Labels: 📖 Project documentation, 🛠️ tooling

refactor docs and publish logic
  global-setup.e2e.ts
  packages/create-cli/project.json
  tools/src/npm/bin/check-package-range.ts
  tools/src/npm/npm.plugin.ts
  tools/src/npm/types.ts
  tools/src/npm/utils.ts
  tools/src/publish/README.md
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/constants.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/utils.ts
Labels: 📖 Project documentation, 🛠️ tooling

wip
  global-setup.e2e.ts
  tools/src/npm/bin/check-package-range.ts
  tools/src/publish/README.md
  tools/src/publish/bin/bump-package.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/verdaccio/README.md
Labels: 📖 Project documentation, 🛠️ tooling

wip
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
Labels: 🔬 testing

wip
  testing/test-nx-utils/src/lib/utils/nx.ts
Labels: 🔬 testing

wip
  e2e/create-cli-e2e/tests/init.e2e.test.ts
Labels: 🔬 testing

wip
  tools/src/verdaccio/README.md
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 📖 Project documentation, 🛠️ tooling

wip
  e2e/nx-plugin-e2e/tests/executor.e2e.test.ts
Labels: 🔬 testing

refactor(utils): prioritize score in sort order
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/sorting.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

Update constants.ts
  packages/nx-plugin/src/plugin/target/constants.ts
Labels: 🧩 nx-plugin

Update executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat(nx-plugin): add project prefix to plugin (#792)
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/constants.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

refactor(utils): prioritize score in sort order
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/sorting.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing, 📖 Project documentation

adjust docs
  CONTRIBUTING.md
  docs/e2e.md
Labels: 📖 Project documentation

revert
  tools/src/verdaccio/utils.ts
Labels: 🛠️ tooling

reuse logic, adopt types
  global-setup.e2e.ts
  tools/src/publish/types.ts
Labels: 🛠️ tooling
