Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

refactor: add lint rules to cli and core (#475)
  .eslintignore
  packages/core/.eslintrc.json
  packages/core/code-pushup.eslintrc.json
  packages/core/src/lib/implementation/read-rc-file.unit.test.ts
  packages/core/src/lib/implementation/report-to-gql.ts
Labels: 🧩 core, 🔬 testing, 🛠️ tooling

release: 0.23.1 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

refactor(utils): remove EnrichedAuditReport
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

fix(utils): sort groups and category refs correctly in report
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/categories.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/eslint-plugin.mock.ts
  testing/test-utils/src/lib/utils/report.mock.ts
Labels: 🧩 utils, 🔬 testing

refactor(utils): reduce types into Sortable and Scored
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

test(cli): fix middleware options passed in tests
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
Labels: 🧩 cli, 🔬 testing

test(cli): fix middleware options passed in tests
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
Labels: 🧩 cli, 🔬 testing

release: 0.23.2 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

chore(utils): extract constants, add unit tests
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/constants.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(examples-plugins): adjust benchmark js logic
  code-pushup.config.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/benchmark-js/perf/glob/index.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.integration.test.ts
  examples/plugins/src/benchmark-js/src/benchmark-js.plugin.ts
  examples/plugins/src/benchmark-js/src/suit-helper.e2e.test.ts
  examples/plugins/src/benchmark-js/src/suit-helper.test.ts
  examples/plugins/src/benchmark-js/src/suit-helper.ts
  examples/plugins/src/benchmark-js/src/utils.ts
  examples/plugins/src/benchmark-js/src/utils.unit.test.ts
  examples/plugins/src/index.ts
  examples/plugins/src/package-json/mock/constants.ts
  examples/plugins/src/package-json/src/integration/dependencies.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/license.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/type.audit.unit.test.ts
  examples/plugins/tsconfig.json
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/index.ts
Labels: 🔬 testing, 🛠️ tooling

refactor: add parallel execution again
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

refactor(plugin-lighthouse): adopt branching logic
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

refactor(plugin-lighthouse): adopt handling unsupported details
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

Update packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

refactor(plugin-lighthouse): adopt test cases
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

refactor(plugin-lighthouse): adopt test data
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

test(plugin-lighthouse): fix tests
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

refactor(plugin-lighthouse): format
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

refactor(e2e): remove e2e tests for example plugins
  e2e/examples-plugins-e2e/.eslintrc.json
  e2e/examples-plugins-e2e/project.json
  e2e/examples-plugins-e2e/tests/plugin-lighthouse.e2e.test.ts
  e2e/examples-plugins-e2e/tsconfig.json
  e2e/examples-plugins-e2e/tsconfig.test.json
  e2e/examples-plugins-e2e/vite.config.e2e.ts
Labels: 🔬 testing, 🛠️ tooling

refactor(e2e): adopt tsconfig
  examples/plugins/tsconfig.test.json
Labels: 🛠️ tooling

refactor(e2e): adopt tsconfig
  tsconfig.base.json
Labels: 🛠️ tooling

refactor(e2e): adopt Nx scopes
  examples/plugins/project.json
Labels: 🛠️ tooling

fix: stop CLI when a plugin fails
  packages/plugin-coverage/src/bin.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/bin.ts
Labels: 🧩 eslint-plugin, 🧩 coverage-plugin

fix: stop CLI when a plugin fails
  packages/plugin-coverage/src/bin.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/bin.ts
Labels: 🧩 eslint-plugin, 🧩 coverage-plugin

release: 0.23.3 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

test(utils): improve test data values
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  testing/test-utils/src/lib/utils/dynamic-mocks/categories.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/eslint-plugin.mock.ts
Labels: 🧩 utils, 🔬 testing

test(utils): improve test data values
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  testing/test-utils/src/lib/utils/dynamic-mocks/categories.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/eslint-plugin.mock.ts
Labels: 🧩 utils, 🔬 testing

refactor(utils): remove EnrichedAuditReport
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

fix(utils): sort groups and category refs correctly in report
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/categories.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/eslint-plugin.mock.ts
  testing/test-utils/src/lib/utils/report.mock.ts
Labels: 🧩 utils, 🔬 testing

chore(utils): extract constants, add unit tests
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/constants.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(utils): reduce types into Sortable and Scored
  packages/utils/perf/glob/index.ts
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🧩 utils, 🔬 testing

release: 0.23.4 [skip ci]
  CHANGELOG.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 📖 Project documentation, 🛠️ tooling

Update examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

Update packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

test(utils): fix flaky toGitPath tests
  packages/utils/src/lib/git.integration.test.ts
Labels: 🧩 utils, 🔬 testing

refactor(plugin-lighthouse): remove unused tests
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🧩 lighthouse-plugin, 🔬 testing

Update packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.ts
Labels: 🧩 lighthouse-plugin

Update packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/log-results.unit.test.ts
Labels: 🧩 utils, 🔬 testing

Update packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.ts
Labels: 🧩 utils

Update examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
Labels: none

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vitest.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
