Repository code-pushup/cli, changes with the labels that .github/labeler.yml gives for each.
All labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🧩 utils, 🔬 testing, 🦾 CI/CD, 📖 Project documentation, 🛠️ tooling

add more tests
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

clean up
  packages/models/project.json
Labels: 🛠️ tooling

clean up
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  packages/nx-plugin/src/executors/autorun/README.md
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/generators/configuration/README.md
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/configuration/types.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation

refactor
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

refactor(plugin-js-packages): split pkg mng helper for testing
  packages/plugin-js-packages/src/lib/constants.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-yarn.unit.test.ts
  packages/plugin-js-packages/src/lib/utils.ts
  packages/plugin-js-packages/src/lib/utils.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

refactor(plugin-js-packages): osAgnosticPath
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

refactor(plugin-js-packages): format
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

increase timeout
  e2e/cli-e2e/vite.config.e2e.ts
Labels: 🔬 testing

wip
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.unit.test.ts
Labels: 🧩 js-packages-plugin, 🔬 testing

wip
  e2e/cli-e2e/vite.config.e2e.ts
  examples/react-todos-app/code-pushup.config.js
Labels: 🔬 testing

wip
  examples/react-todos-app/code-pushup.config.js
Labels: none

wip
  examples/react-todos-app/code-pushup.config.js
Labels: none

fix unit test for OS
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

fix e2e test for OS
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

fix e2e test for OS
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
Labels: 🔬 testing

fix e2e test for OS 2
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

fix e2e test
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

fix e2e test 2
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
Labels: 🔬 testing

feat(test-nx-utils): add testing lib for nx specific logic
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-nx-utils/.eslintrc.json
  testing/test-nx-utils/README.md
  testing/test-nx-utils/project.json
  testing/test-nx-utils/src/index.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
  testing/test-nx-utils/src/lib/utils/tree.ts
  testing/test-nx-utils/tsconfig.json
  testing/test-nx-utils/tsconfig.lib.json
  testing/test-nx-utils/tsconfig.test.json
  testing/test-nx-utils/vite.config.unit.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx.ts
  tsconfig.base.json
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

format code
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  testing/test-nx-utils/.eslintrc.json
  testing/test-nx-utils/src/index.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
Labels: 🧩 nx-plugin, 🔬 testing, 🛠️ tooling

format code
  testing/test-nx-utils/README.md
  testing/test-nx-utils/tsconfig.lib.json
Labels: 🔬 testing, 📖 Project documentation, 🛠️ tooling

test test helper
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.unit.test.ts
  testing/test-nx-utils/src/lib/utils/nx.unit.test.ts
  testing/test-nx-utils/src/lib/utils/tree.ts
  testing/test-nx-utils/src/lib/utils/tree.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/file-system.ts
  testing/test-utils/src/lib/utils/file-system.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test test helper
  testing/test-nx-utils/src/lib/utils/nx-plugin.unit.test.ts
  testing/test-nx-utils/src/lib/utils/nx.unit.test.ts
  testing/test-nx-utils/src/lib/utils/tree.ts
  testing/test-utils/src/lib/utils/file-system.unit.test.ts
Labels: 🔬 testing

feat(nx-plugin): extend config generator
  packages/nx-plugin/package.json
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/code-pushup-config.unit.test.ts.snap
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/types.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
Labels: 🧩 nx-plugin, 🧩 utils, 🔬 testing, 🛠️ tooling

Update packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
Labels: 🧩 nx-plugin

test(nx-plugin): add tests
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): add tests
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

test(nx-plugin): add tests
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

fix test
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing

feat(create-cli): package to align with package managers init command
  packages/create-cli/.eslintrc.json
  packages/create-cli/README.md
  packages/create-cli/package.json
  packages/create-cli/project.json
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/constants.ts
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/utils.ts
  packages/create-cli/tsconfig.json
  packages/create-cli/tsconfig.lib.json
  packages/create-cli/tsconfig.test.json
  packages/create-cli/vite.config.integration.ts
  packages/create-cli/vite.config.unit.ts
  packages/nx-plugin/src/generators/init/README.md
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/execute-process.ts
  packages/nx-plugin/src/internal/execute-process.unit.test.ts
Labels: 🧩 nx-plugin, 🔬 testing, 📖 Project documentation, 🛠️ tooling

feat(create-cli): cleanup test setup
  packages/create-cli/vite.config.unit.ts
Labels: 🔬 testing

docs: update package.json docs
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

format
  packages/nx-plugin/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
Labels: 🛠️ tooling

Update package.json
  packages/core/package.json
Labels: 🛠️ tooling

Update package.json
  packages/plugin-eslint/package.json
Labels: 🛠️ tooling

Update package.json
  package.json
Labels: 🛠️ tooling

format
  package.json
  packages/core/package.json
  packages/plugin-eslint/package.json
Labels: 🛠️ tooling

refactor(cli): style yargs output
  code-pushup.config.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/implementation/formatting.ts
  packages/cli/src/lib/implementation/formatting.unit.test.ts
  packages/cli/src/lib/implementation/global.options.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/skip-plugins.options.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli, 🔬 testing

format
  code-pushup.config.ts
Labels: none

fix styles
  packages/cli/src/lib/implementation/formatting.ts
  packages/cli/src/lib/implementation/formatting.unit.test.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli, 🔬 testing

.github/labeler.yml:

🧩 cli:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli/src/**'

🧩 core:
  - changed-files:
      - any-glob-to-any-file: 'packages/core/src/**'

🧩 models:
  - changed-files:
      - any-glob-to-any-file: 'packages/models/src/**'

🧩 nx-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/nx-plugin/src/**'

🧩 eslint-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-eslint/src/**'

🧩 lighthouse-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-lighthouse/src/**'

🧩 coverage-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-coverage/src/**'

🧩 js-packages-plugin:
  - changed-files:
      - any-glob-to-any-file: 'packages/plugin-js-packages/src/**'

🧩 utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/src/**'

🔬 testing:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.test.ts'
          - '**/mocks/**'
          - e2e/**
          - testing/**
          - '**/vite.config*.ts'
          - 'vitest.workspace.ts'

🦾 CI/CD:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**

📖 Project documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
      # FIXME: this labels everything instead of just ignoring .md snapshots
      # - all-globs-to-all-files: '!**/__snapshots__/**'

🛠️ tooling:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/**'
          - '**/tsconfig*.json'
          - '**/project.json'
          - '**/package*.json'
          - '**/*eslintrc*'
          - 'nx.json'
          - '.nvmrc'
          - '.prettierrc'
          - 'esbuild.config.js'
          - '.github/ISSUE_TEMPLATE/**'
          - '.husky/**'
          - 'commitlint.config.js'
          - '.verdaccio/config.yml'
