Repository code-pushup/cli, pull requests merged in 2023-12, with the labels that each got.

#315 docs(examples-plugins): add example plugin file-size
  code-pushup.config.ts
  examples/plugins/.eslintrc.json
  examples/plugins/code-pushup.config.ts
  examples/plugins/project.json
  examples/plugins/src/file-size/file-size.plugin.integration.test.ts
  examples/plugins/src/file-size/file-size.plugin.ts
  examples/plugins/src/file-size/file-size.plugin.unit.test.ts
  examples/plugins/src/index.ts
  examples/plugins/tsconfig.json
  examples/plugins/tsconfig.lib.json
  examples/plugins/tsconfig.test.json
  examples/plugins/vite.config.integration.ts
  examples/plugins/vite.config.unit.ts
  packages/core/src/index.ts
  packages/models/src/index.ts
  packages/models/src/lib/category-config.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/formatting.ts
  testing-utils/src/index.ts
  testing-utils/src/lib/memfs.ts
Labels: 📖 docs web, 🔬 testing, 🧩 core, 🧩 models, 🧩 utils

#355 perf(utils): setup microbenchmark for crawlFileSystem
  packages/utils/perf/README.md
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/perf/crawl-file-system/optimized0.ts
  packages/utils/perf/implementations/base.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/perf/score-report/optimized0.ts
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
Labels: 🧩 utils

#312 docs(cli): add docs for custom plugins
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/file-size/README.md
  examples/plugins/src/file-size/docs/file-size-unmodified.audit.md
  examples/plugins/src/file-size/src/file-size.plugin.integration.test.ts
  examples/plugins/src/file-size/src/file-size.plugin.ts
  examples/plugins/src/file-size/src/file-size.plugin.unit.test.ts
  examples/plugins/src/index.ts
  packages/cli/README.md
  packages/cli/docs/custom-plugins.md
  packages/models/src/index.ts
  packages/models/src/lib/plugin-config-groups.ts
  packages/models/src/lib/plugin-config.ts
Labels: 📖 docs web, 🔬 testing, 🧩 cli, 🧩 models

#365 ci: collect and upload code pushup report after release
  .github/workflows/release.yml
Labels: 🦾 CI/CD

#359 docs(cli): add shortcuts to header section, created contributors.md
  CONTRIBUTORS.md
  README.md
  packages/cli/README.md
Labels: 🧩 cli

#354 feat(examples-plugins): add package-json plugin 📦
  code-pushup.config.ts
  e2e/cli-e2e/mocks/code-pushup.config.js
  e2e/cli-e2e/mocks/code-pushup.config.mjs
  e2e/cli-e2e/mocks/code-pushup.config.ts
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  examples/plugins/code-pushup.config.ts
  examples/plugins/mocks/constants.ts
  examples/plugins/src/file-size/src/file-size.plugin.unit.test.ts
  examples/plugins/src/index.ts
  examples/plugins/src/package-json/README.md
  examples/plugins/src/package-json/docs/dependencies.audit.md
  examples/plugins/src/package-json/docs/license.audit.md
  examples/plugins/src/package-json/docs/type.audit.md
  examples/plugins/src/package-json/src/constants.ts
  examples/plugins/src/package-json/src/index.ts
  examples/plugins/src/package-json/src/integration/dependencies.audit.ts
  examples/plugins/src/package-json/src/integration/dependencies.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/license.audit.ts
  examples/plugins/src/package-json/src/integration/license.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/type.audit.ts
  examples/plugins/src/package-json/src/integration/type.audit.unit.test.ts
  examples/plugins/src/package-json/src/integration/types.ts
  examples/plugins/src/package-json/src/integration/utils.ts
  examples/plugins/src/package-json/src/package-json.plugin.integration.test.ts
  examples/plugins/src/package-json/src/package-json.plugin.ts
  examples/plugins/src/package-json/src/scoring.ts
  packages/cli/README.md
  packages/models/src/lib/category-config.unit.test.ts
  packages/models/src/lib/core-config.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/meta/groups.ts
  packages/plugin-eslint/src/lib/meta/groups.unit.test.ts
  packages/utils/src/lib/scoring.ts
  packages/utils/src/lib/scoring.unit.test.ts
  testing-utils/src/lib/fixtures/configs/code-pushup.config.js
  testing-utils/src/lib/fixtures/configs/code-pushup.config.mjs
  testing-utils/src/lib/fixtures/configs/code-pushup.config.ts
Labels: 🔬 testing, 🧩 cli, 🧩 models, 🧩 utils, 🧩 eslint-plugin

#358 refactor(models): add default value for outputDir
  e2e/cli-e2e/mocks/code-pushup.config.js
  e2e/cli-e2e/mocks/code-pushup.config.mjs
  e2e/cli-e2e/mocks/code-pushup.config.ts
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/file-size/src/file-size.plugin.ts
  packages/cli/src/lib/collect/collect-command.unit.test.ts
  packages/cli/src/lib/implementation/config-middleware.ts
  packages/cli/src/lib/implementation/core-config-options.integration.test.ts
  packages/cli/src/lib/implementation/core-config-options.ts
  packages/cli/src/lib/implementation/global-options.integration.test.ts
  packages/cli/src/lib/print-config/print-config-command.unit.test.ts
  packages/core/src/lib/collect-and-persist.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/src/lib/implementation/read-code-pushup-config.ts
  packages/core/src/lib/normalize.ts
  packages/core/src/lib/upload.ts
  packages/core/src/lib/upload.unit.test.ts
  packages/models/src/index.ts
  packages/models/src/lib/category-config.ts
  packages/models/src/lib/core-config.ts
  packages/models/src/lib/core-config.unit.test.ts
  packages/models/src/lib/implementation/constants.ts
  packages/models/src/lib/persist-config.ts
  packages/models/src/lib/persist-config.unit.test.ts
  packages/models/test/fixtures/persist-config.mock.ts
  packages/utils/src/lib/file-system.ts
  testing-utils/src/lib/fixtures/configs/code-pushup.config.js
  testing-utils/src/lib/fixtures/configs/code-pushup.config.mjs
  testing-utils/src/lib/fixtures/configs/code-pushup.config.ts
  testing-utils/src/lib/fixtures/configs/code-pushup.invalid.config.ts
  testing-utils/src/lib/fixtures/configs/core-config.mock.ts
  testing-utils/src/lib/fixtures/configs/minimal-config.mock.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 models, 🧩 utils

#368 docs(cli): add icons to example packages
  packages/cli/README.md
Labels: 🧩 cli

#360 fix(cli): fix json format handling
  e2e/cli-e2e/tests/collect.e2e.test.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/autorun/autorun-command.unit.test.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/models/src/lib/persist-config.ts
  packages/models/src/lib/persist-config.unit.test.ts
  testing-utils/src/lib/fixtures/configs/minimal-config.mock.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 models

#363 fix(cli): adjust persist.format options
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  examples/plugins/project.json
  packages/cli/package.json
  packages/cli/src/lib/implementation/config-middleware.ts
  packages/cli/src/lib/implementation/core-config-options.integration.test.ts
  packages/cli/src/lib/implementation/only-plugin-options.integration.test.ts
  packages/cli/src/lib/implementation/only-plugins-options.ts
  packages/cli/src/lib/implementation/only-plugins-utils.ts
  packages/cli/src/lib/implementation/only-plugins-utils.unit.test.ts
  packages/cli/src/lib/implementation/utils.ts
  packages/models/src/lib/implementation/constants.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🔬 testing, 🧩 cli, 🧩 models, 🧩 eslint-plugin

#379 chore(plugin-eslint): change eslint displayValue from 0 to passed
  packages/plugin-eslint/src/lib/runner/transform.ts
Labels: ➕ enhancement, 🧩 eslint-plugin
