Repository code-pushup/cli, pull requests merged in 2023-10, with the labels that each got.

#133 feat(utils): add scoring logic
  packages/core/src/lib/implementation/collect.spec.ts
  packages/core/src/lib/implementation/persist.spec.ts
  packages/core/src/lib/implementation/persist.ts
  packages/models/test/fixtures/config.mock.ts
  packages/models/test/index.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/__snapshots__/report-to-md.spec.ts.snap
  packages/utils/src/lib/__snapshots__/report-to-stdout.spec.ts.snap
  packages/utils/src/lib/report-to-md.spec.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report-to-stdout.spec.ts
  packages/utils/src/lib/report-to-stdout.ts
  packages/utils/src/lib/scoring.spec.ts
  packages/utils/src/lib/scoring.ts
Labels: 🍰 enhancement, 🧩 utils

#165 fix(testing): fix tests for Windows
  e2e/cli-e2e/tests/__snapshots__/collect.spec.ts.snap
  e2e/cli-e2e/tests/collect.spec.ts
  packages/cli/code-pushup.config.mock.ts
  packages/cli/src/lib/implementation/config-middleware.spec.ts
  packages/cli/test/fs.mock.ts
  packages/core/src/lib/implementation/execute-plugin.spec.ts
  packages/core/test/fs.mock.ts
  packages/models/test/fixtures/code-pushup.config.mock.cjs
  packages/models/test/fixtures/code-pushup.config.mock.js
  packages/models/test/fixtures/code-pushup.config.mock.mjs
  packages/models/test/fixtures/code-pushup.config.mock.ts
  packages/models/test/fixtures/echo-runner-config.mock.ts
  packages/models/test/fixtures/eslint-plugin.mock.ts
  packages/models/test/fixtures/lighthouse-plugin.mock.ts
  packages/models/test/fixtures/plugin-config.mock.ts
  packages/models/test/fixtures/runner.mock.ts
  packages/models/test/index.ts
  packages/models/test/schema.mock.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.spec.ts.snap
  packages/plugin-eslint/src/lib/eslint-plugin.spec.ts
  packages/plugin-eslint/src/lib/runner.spec.ts
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/runner/lint.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/utils.spec.ts
  packages/utils/src/lib/utils.ts
  tsconfig.base.json
Labels: 🔬 testing

#167 chore(workflows): create YAML form for bug report
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: 🍰 enhancement

#166 ci(testing): run tests on all major platforms
  .github/workflows/ci.yml
  e2e/cli-e2e/vite.config.ts
Labels: 🦾 CI/CD

#174 feat(models): add report filename option
  e2e/cli-e2e/mocks/code-pushup.config.js
  e2e/cli-e2e/mocks/code-pushup.config.mjs
  e2e/cli-e2e/mocks/code-pushup.config.ts
  e2e/cli-e2e/tests/print-config.spec.ts
  package-lock.json
  packages/core/src/lib/implementation/persist.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/implementation/utils.spec.ts
  packages/models/src/lib/implementation/utils.ts
  packages/models/src/lib/persist-config.spec.ts
  packages/models/src/lib/persist-config.ts
  packages/models/test/fixtures/config.mock.ts
  packages/models/test/fixtures/persist-config.mock.ts
Labels: ➕ enhancement, 🔬 testing, 🧩 core

#186 test(cli): fix progress bar config
  packages/cli/src/lib/yargs-cli.spec.ts
  packages/cli/test/cli-parsing.config.mock.ts
Labels: 🔬 testing

#183 refactor(models): refine types for better DX and exploration
  package-lock.json
  packages/core/src/lib/implementation/json-to-gql.ts
  packages/models/src/index.ts
  packages/models/src/lib/category-config.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/plugin-config.ts
  packages/models/test/fixtures/eslint-plugin.mock.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/utils/src/lib/report.spec.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/scoring.ts
  tmp/.gitkeep
Labels: 🤓 UX, 🧩 models
