Repository code-pushup/cli, pull requests merged in 2023-11, with the labels that each got.

#195 chore: add imperative rule to commitlint
  commitlint.config.js
  package-lock.json
  package.json
Labels: 🧹 maintenance

#184 refactor(models): adjust testing mocks to valid only
  packages/cli/src/lib/autorun/command-object.spec.ts
  packages/core/src/lib/collect-and-persist.spec.ts
  packages/core/src/lib/implementation/execute-plugin.spec.ts
  packages/models/src/index.ts
  packages/models/src/lib/audit.spec.ts
  packages/models/src/lib/category-config.ts
  packages/models/src/lib/core-config.spec.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/plugin-config-audits.ts
  packages/models/src/lib/plugin-config-groups.spec.ts
  packages/models/src/lib/plugin-config-groups.ts
  packages/models/src/lib/plugin-config-runner.spec.ts
  packages/models/src/lib/plugin-config-runner.ts
  packages/models/src/lib/plugin-config.spec.ts
  packages/models/src/lib/plugin-config.ts
  packages/models/src/lib/plugin-process-output-audit-issue.ts
  packages/models/src/lib/plugin-process-output.ts
  packages/models/src/lib/report.ts
  packages/models/test/fixtures/code-pushup.config.mock.cjs
  packages/models/test/fixtures/code-pushup.config.mock.ts
  packages/models/test/fixtures/config.mock.ts
  packages/models/test/fixtures/echo-runner-config.mock.ts
  packages/models/test/fixtures/eslint-plugin.mock.ts
  packages/models/test/fixtures/lighthouse-plugin.mock.ts
  packages/models/test/fixtures/plugin-config.mock.ts
  packages/models/test/fixtures/report.mock.ts
  packages/models/test/fixtures/runner-config.mock.ts
  packages/models/test/fixtures/upload-config.mock.ts
  packages/models/test/index.ts
  packages/models/test/schema.mock.ts
  packages/utils/src/lib/report.spec.ts
  packages/utils/src/lib/report.ts
Labels: 🔬 testing, 🧹 maintenance, 🧩 models

#196 feat(utils): implement report.md formatting
  e2e/cli-e2e/tests/collect.spec.ts
  global-setup.ts
  packages/core/src/lib/implementation/persist.spec.ts
  packages/models/test/fixtures/categories.mock.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/__snapshots__/report-to-md.spec.ts.snap
  packages/utils/src/lib/__snapshots__/report-to-stdout.spec.ts.snap
  packages/utils/src/lib/md/font-style.ts
  packages/utils/src/lib/md/table.spec.ts
  packages/utils/src/lib/md/table.ts
  packages/utils/src/lib/report-to-md.spec.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/scoring.ts
  packages/utils/src/lib/utils.ts
Labels: ➕ enhancement, 🤓 UX, 🔬 testing, 🧩 utils

#202 chore: apply different commitlint plugin for imperative tense
  commitlint.config.js
  package-lock.json
  package.json
Labels: ➕ enhancement, 👨‍🔬 research

#203 refactor: fix lint errors
  packages/plugin-eslint/src/lib/meta/groups.ts
  packages/utils/src/lib/report-to-md.ts
Labels: 🧹 maintenance

#205 feat(utils): update git latest commit functionality
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/upload.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/__snapshots__/report-to-md.spec.ts.snap
  packages/utils/src/lib/git.spec.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/report-to-md.spec.ts
  packages/utils/src/lib/report-to-md.ts
Labels: 🔬 testing, 🧩 utils

#235 refactor(utils): remove unused code
  packages/utils/src/lib/report.spec.ts
  packages/utils/src/lib/report.ts
Labels: 🧹 maintenance

#218 ci: add macos-latest to test matrix
  .github/workflows/ci.yml
Labels: 🔬 testing, 🪟 windows

#239 refactor(utils): relocate report logic
  packages/utils/src/index.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report-to-stdout.ts
  packages/utils/src/lib/report.spec.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/utils.spec.ts
  packages/utils/src/lib/utils.ts
Labels: 🧹 maintenance, 🧩 utils

#240 test(utils): split out transform helper
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.spec.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/transformation.spec.ts
  packages/utils/src/lib/transformation.ts
Labels: 🔬 testing, 🧹 maintenance

#238 refactor(core): improve report loading
  packages/core/src/lib/implementation/read-code-pushup-config.spec.ts
  packages/core/test/invaid.config.mjs
  packages/core/test/minimal.config.mjs
  packages/models/src/lib/category-config.spec.ts
  packages/models/test/index.ts
  packages/utils/src/lib/load-file.spec.ts
  packages/utils/src/lib/load-file.ts
  packages/utils/test/fixtures/no-export.mjs
  packages/utils/test/fixtures/undefined-export.mjs
  packages/utils/test/fixtures/valid-export.mjs
Labels: 🔬 testing, 🪟 windows

#237 refactor(cli-e2e): use eslint plugin in e2e tests
  e2e/cli-e2e/mocks/code-pushup.config.js
  e2e/cli-e2e/mocks/code-pushup.config.mjs
  e2e/cli-e2e/mocks/code-pushup.config.ts
  e2e/cli-e2e/tests/print-config.spec.ts
Labels: 🔬 testing, 🧹 maintenance

#229 feat: add transform to persist config
  packages/core/src/index.ts
  packages/core/src/lib/implementation/execute-plugin.spec.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/models/src/index.ts
  packages/models/src/lib/plugin-config-runner.ts
  packages/models/src/lib/plugin-config.spec.ts
  packages/models/src/lib/plugin-process-output.ts
  packages/utils/src/lib/file-system.ts
Labels: 🤓 UX, 🧩 core

#253 chore(utils): move benchmarks to typescript, adjust types
  package-lock.json
  package.json
  packages/utils/perf/implementations/base.ts
  packages/utils/perf/implementations/optimized0.ts
  packages/utils/perf/implementations/optimized1.mjs
  packages/utils/perf/implementations/optimized1.ts
  packages/utils/perf/implementations/optimized2.mjs
  packages/utils/perf/implementations/optimized2.ts
  packages/utils/perf/implementations/optimized3.ts
  packages/utils/perf/index.ts
  packages/utils/project.json
  packages/utils/src/lib/scoring.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.perf.json
Labels: 🧹 maintenance, 💡 good first issue

#248 feat(core): add esm plugin logic
  .gitignore
  packages/cli/src/lib/model.ts
  packages/core/src/lib/implementation/execute-plugin.spec.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/runner.spec.ts
  packages/core/src/lib/implementation/runner.ts
  packages/models/src/index.ts
  packages/models/src/lib/global-options.ts
  packages/models/src/lib/plugin-config-runner.spec.ts
  packages/models/src/lib/plugin-config-runner.ts
  packages/models/src/lib/plugin-config.ts
  packages/models/test/fixtures/runner-config.mock.ts
  packages/models/test/fixtures/runner.mock.ts
  packages/utils/src/lib/execute-process.spec.ts
  packages/utils/src/lib/execute-process.ts
  packages/utils/test/process-helper.mock.ts
Labels: ➕ enhancement, 🧩 core

#258 refactor: global options location
  .gitignore
  packages/cli/src/lib/autorun/command-object.ts
  packages/cli/src/lib/implementation/model.ts
  packages/cli/src/lib/upload/command-object.ts
  packages/cli/src/lib/yargs-cli.ts
  packages/core/src/index.ts
  packages/core/src/lib/collect-and-persist.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/read-code-pushup-config.spec.ts
  packages/core/src/lib/implementation/read-code-pushup-config.ts
  packages/core/src/lib/types.ts
  packages/core/src/lib/upload.spec.ts
  packages/core/src/lib/upload.ts
  packages/models/src/index.ts
  packages/models/src/lib/global-options.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.spec.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/load-file.spec.ts
  packages/utils/src/lib/load-file.ts
Labels: 🧹 maintenance, 🧩 cli, 🧩 core

#126 ci: setup git tags
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/cli/CHANGELOG.md
  packages/cli/project.json
  packages/core/CHANGELOG.md
  packages/core/project.json
  packages/models/CHANGELOG.md
  packages/models/project.json
  packages/nx-plugin/CHANGELOG.md
  packages/nx-plugin/project.json
  packages/plugin-eslint/CHANGELOG.md
  packages/plugin-eslint/project.json
  packages/plugin-lighthouse/CHANGELOG.md
  packages/plugin-lighthouse/project.json
  packages/utils/CHANGELOG.md
  packages/utils/project.json
Labels: 🦾 CI/CD

#280 chore(tools): add badges to README
  README.md
Labels: ➕ enhancement

#246 feat(cli): introduce the `onlyPlugins` option
  e2e/cli-e2e/tests/__snapshots__/help.spec.ts.snap
  e2e/cli-e2e/tests/print-config.spec.ts
  packages/cli/src/lib/autorun/command-object.ts
  packages/cli/src/lib/collect/command-object.ts
  packages/cli/src/lib/implementation/config-middleware.spec.ts
  packages/cli/src/lib/implementation/config-middleware.ts
  packages/cli/src/lib/implementation/filter-kebab-case-keys.spec.ts
  packages/cli/src/lib/implementation/filter-kebab-case-keys.ts
  packages/cli/src/lib/implementation/only-config-option.ts
  packages/cli/src/lib/implementation/only-plugins-options.ts
  packages/cli/src/lib/print-config/command-object.ts
Labels: 🤓 UX, 🧩 cli

#282 fix(cli): replace clui on @isaacs/cliui
  package-lock.json
  package.json
  packages/utils/package.json
  packages/utils/src/lib/__snapshots__/report-to-stdout.spec.ts.snap
  packages/utils/src/lib/report-to-stdout.ts
Labels: 🐛 bug

#281 test(cli): add verdaccio for local publishing and e2e testing
  e2e/cli-e2e/mocks/fs.mock.ts
  e2e/cli-e2e/mocks/utils.ts
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/cli-e2e/tests/help.e2e.test.ts
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  e2e/cli-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  packages/core/project.json
  packages/utils/vite.config.integration.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
Labels: 🔬 testing, 🦾 CI/CD

#301 test(utils): fix global setup and remove comments
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
Labels: 🆘 help wanted, 🔬 testing

#275 feat(core): change to execute all plugins before throwing on failed
  packages/core/src/lib/implementation/execute-plugin.integration.test.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/file-system.unit.test.ts
  packages/utils/src/lib/log-results.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/promise-result.ts
  packages/utils/src/lib/promise-result.unit.test.ts
Labels: ➕ enhancement, 🤓 UX, 💡 good first issue

#294 feat(nx-plugin): add configuration generator
  packages/nx-plugin/generators.json
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/generator.unit.test.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
Labels: 🤓 UX, 🧩 nx-plugin

#302 feat(utils): add audits sorting for reports
  packages/utils/src/lib/__snapshots__/report-to-md.integration.test.ts.snap
  packages/utils/src/lib/__snapshots__/report-to-stdout.integration.test.ts.snap
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report-to-stdout.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/report.unit.test.ts
  packages/utils/src/lib/scoring.ts
Labels: ➕ enhancement, 🧩 utils

#283 ci: add release action
  .github/workflows/release.yml
  nx.json
Labels: 📈 standards and statistics

#309 ci: add custom `release` type to commitlint configuration
  commitlint.config.js
Labels: 🐛 bug, 🦾 CI/CD

#310 refactor(cli): remove 'stdout' option from report output formats
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/README.md
  packages/cli/src/lib/implementation/core-config-options.ts
  packages/core/src/lib/implementation/persist.integration.test.ts
  packages/core/src/lib/implementation/persist.ts
  packages/models/src/lib/persist-config.ts
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
Labels: 🧩 cli

#311 ci: disable parallel version task execution
  .github/workflows/release.yml
Labels: 🐛 bug, 🦾 CI/CD

#323 ci: update GitHub workflow permissions to create tag
  .github/workflows/release.yml
Labels: 🐛 bug, 🦾 CI/CD

#319 ci: add workflow for PR automation
  .github/labeler.yml
  .github/workflows/assign-pr-author.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-title-commitlint-check.yml
Labels: 🦾 CI/CD

#328 ci: fix and simplify `version` and `github` configurations
  nx.json
  package-lock.json
  package.json
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-eslint/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
Labels: 🐛 bug, 🧩 cli, 🧩 core, 🧩 models, 🧩 utils, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin

#334 ci: try to set up the right token for git
  .github/workflows/release.yml
  nx.json
Labels: 🦾 CI/CD

#336 feat(utils): add file-system helper
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/file-system.unit.test.ts
  packages/utils/src/lib/formatting.ts
  packages/utils/src/lib/formatting.unit.test.ts
  packages/utils/src/lib/guards.ts
  packages/utils/src/lib/guards.unit.test.ts
  packages/utils/src/lib/log-results.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/report.unit.test.ts
  packages/utils/src/lib/transformation.ts
  packages/utils/src/lib/transformation.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 eslint-plugin
