Repository code-pushup/cli, pull requests merged in 2024-08, with the labels that each got.

#777 feat(test-nx-utils): add testing lib for nx specific logic
  .eslintrc.json
  CONTRIBUTING.md
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-nx-utils/.eslintrc.json
  testing/test-nx-utils/README.md
  testing/test-nx-utils/project.json
  testing/test-nx-utils/src/index.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.unit.test.ts
  testing/test-nx-utils/src/lib/utils/nx.ts
  testing/test-nx-utils/src/lib/utils/nx.unit.test.ts
  testing/test-nx-utils/src/lib/utils/tree.integration.test.ts
  testing/test-nx-utils/src/lib/utils/tree.ts
  testing/test-nx-utils/tsconfig.json
  testing/test-nx-utils/tsconfig.lib.json
  testing/test-nx-utils/tsconfig.test.json
  testing/test-nx-utils/vite.config.unit.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/file-system.ts
  testing/test-utils/src/lib/utils/file-system.unit.test.ts
  testing/test-utils/src/lib/utils/nx.ts
  tsconfig.base.json
Labels: 📖 Project documentation, 🔬 testing, 🧩 nx-plugin, 🛠️ tooling

#781 refactor: style cli help
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/help.e2e.test.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/implementation/formatting.ts
  packages/cli/src/lib/implementation/formatting.unit.test.ts
  packages/cli/src/lib/implementation/global.options.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/skip-plugins.options.ts
  packages/cli/src/lib/yargs-cli.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
Labels: 🔬 testing, 🧩 cli, 🧩 utils

#782 ci: reduce warnings in terminal by increasing to node >=18.20
  package.json
Labels: 🛠️ tooling

#780 docs: update package.json docs
  esbuild.config.js
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/models/package.json
  packages/nx-plugin/package.json
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
  packages/plugin-js-packages/package.json
  packages/plugin-lighthouse/package.json
  packages/utils/package.json
Labels: 🛠️ tooling

#778 feat(nx-plugin): extend config generator
  .eslintignore
  packages/nx-plugin/package.json
  packages/nx-plugin/src/generators/configuration/__snapshots__/generator.integration.test.ts.snap
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.integration.test.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.ts
  packages/nx-plugin/src/generators/configuration/code-pushup-config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/configuration/types.ts
  packages/nx-plugin/src/generators/configuration/utils.ts
  packages/nx-plugin/src/generators/configuration/utils.unit.test.ts
  packages/nx-plugin/tsconfig.lib.json
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
Labels: 🔬 testing, 🧩 utils, 🧩 nx-plugin, 🛠️ tooling

#785 test(nx-plugin-e2e): refactor to use new test helper
  e2e/nx-plugin-e2e/tests/configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
Labels: 🔬 testing, 🧩 nx-plugin

#786 ci: improve publish command
  packages/cli/project.json
  packages/core/project.json
  packages/models/project.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/utils/project.json
  tools/scripts/publish.mjs
  tools/scripts/start-local-registry.ts
Labels: 🛠️ tooling

#773 feat(nx-plugin): implement `bin` property in options
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  packages/nx-plugin/src/executors/autorun/README.md
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/types.ts
  packages/nx-plugin/src/generators/configuration/README.md
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/generators/configuration/schema.json
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  packages/nx-plugin/tsconfig.test.json
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils, 🧩 nx-plugin, 🛠️ tooling

#788 feat(plugin-lighthouse): omit audit details table title
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: ➕ enhancement, 🔬 testing, 🧩 lighthouse-plugin

#791 build: update axios via `npm audit fix`
  package-lock.json
Labels: 🛠️ tooling

#790 feat(utils): increase audit value column width
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal-link.md
  packages/utils/src/lib/reports/__snapshots__/report-stdout-no-categories.txt
  packages/utils/src/lib/reports/__snapshots__/report-stdout.txt
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/log-stdout-summary.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/lighthouse-audits.mock.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#789 docs: prevent plugin icons shrinking
  README.md
Labels: 📖 Project documentation

#794 refactor(plugin-lighthouse): format audit value
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/src/index.ts
Labels: 🔬 testing, 🧩 utils, 🧩 lighthouse-plugin

#779 feat(create-cli): package to align with package managers init command
  .github/workflows/ci.yml
  CONTRIBUTING.md
  e2e/create-cli-e2e/.eslintrc.json
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/create-cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/tsconfig.json
  e2e/create-cli-e2e/tsconfig.test.json
  e2e/create-cli-e2e/vite.config.e2e.ts
  e2e/nx-plugin-e2e/tests/__snapshots__/nx-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/nx-plugin.e2e.test.ts
  global-setup.e2e.ts
  packages/create-cli/.eslintrc.json
  packages/create-cli/README.md
  packages/create-cli/package.json
  packages/create-cli/project.json
  packages/create-cli/src/index.ts
  packages/create-cli/src/lib/constants.ts
  packages/create-cli/src/lib/init.ts
  packages/create-cli/src/lib/init.unit.test.ts
  packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.unit.test.ts
  packages/create-cli/tsconfig.json
  packages/create-cli/tsconfig.lib.json
  packages/create-cli/tsconfig.test.json
  packages/create-cli/vite.config.integration.ts
  packages/create-cli/vite.config.unit.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/generators/init/README.md
  packages/nx-plugin/src/generators/init/generator.integration.test.ts
  packages/nx-plugin/src/generators/init/generator.ts
  packages/nx-plugin/src/generators/init/schema.d.ts
  packages/nx-plugin/src/generators/init/schema.json
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/execute-process.ts
  packages/nx-plugin/src/internal/execute-process.unit.test.ts
  tools/scripts/publish.mjs
Labels: 🤓 UX, 📖 Project documentation, 🔬 testing, 🦾 CI/CD, 🧩 nx-plugin, 🛠️ tooling

#792 feat(nx-plugin): add project prefix to plugin
  e2e/create-cli-e2e/mocks/create-npm-workshpace.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/create-nodes-plugin.e2e.test.ts
  e2e/nx-plugin-e2e/tests/executor-autorun.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/constants.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
Labels: 🔬 testing, 🧩 nx-plugin, 🛠️ tooling

#801 refactor(utils): prioritize score in sort order
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/sorting.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#798 refactor: local registry
  docs/e2e.md
  e2e/cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  global-setup.e2e.ts
  nx.json
  package-lock.json
  package.json
  packages/cli/project.json
  packages/core/project.json
  packages/create-cli/project.json
  packages/models/project.json
  packages/nx-plugin/package.json
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-lighthouse/project.json
  packages/utils/project.json
  packages/utils/src/lib/transform.ts
  project.json
  testing/test-nx-utils/src/lib/utils/nx.ts
  tools/scripts/publish.mjs
  tools/scripts/publish.plugin.ts
  tools/scripts/start-local-registry.ts
  tools/scripts/stop-local-registry.ts
  tools/src/npm/README.md
  tools/src/npm/bin/check-package-range.ts
  tools/src/npm/constants.ts
  tools/src/npm/npm.plugin.ts
  tools/src/npm/types.ts
  tools/src/npm/utils.ts
  tools/src/publish/README.md
  tools/src/publish/bin/bump-package.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/constants.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/utils.ts
  tools/src/verdaccio/README.md
  tools/src/verdaccio/start-local-registry.ts
  tools/src/verdaccio/stop-local-registry.ts
  tools/src/verdaccio/types.ts
  tools/src/verdaccio/utils.ts
  tools/src/verdaccio/verdaccio.plugin.ts
  tools/tsconfig.tools.json
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils, 🛠️ tooling

#806 ci: prevent duplicate CI runs when pushing to open PR
  .github/workflows/ci.yml
Labels: 🦾 CI/CD

#805 refactor: structure verdaccio environment
  e2e/nx-plugin-e2e/tests/__snapshots__/create-nodes-plugin.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  global-setup.verdaccio.ts
  package-lock.json
  package.json
  tools/src/npm/npm.plugin.ts
  tools/src/npm/utils.ts
  tools/src/publish/bin/publish-package.ts
  tools/src/publish/publish.plugin.ts
  tools/src/publish/types.ts
  tools/src/publish/utils.ts
  tools/src/utils.ts
  tools/src/verdaccio/bin/create-verdaccio-env.ts
  tools/src/verdaccio/constants.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/registry.ts
  tools/src/verdaccio/types.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling
