Repository code-pushup/cli, pull requests merged in 2024-09, with the labels that each got.

#812 feat(cli): do not show help on error
  packages/cli/src/lib/yargs-cli.ts
Labels: 🧩 cli

#813 fix(utils): handle rounding of small trend values
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal.md
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/report-diff.mock.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#815 feat(nx-plugin): update unicode logo in stdout
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  packages/create-cli/README.md
  packages/create-cli/src/lib/utils.ts
  packages/create-cli/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/constants.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#816 test(utils): extend unit tests
  packages/utils/src/lib/formatting.unit.test.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#820 refactor(cli): improve plugin filter option validation
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.unit.test.ts
Labels: 🔬 testing, 🧩 cli

#818 feat(cli): add command option aliases
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/skip-plugins.options.ts
Labels: 🔬 testing, 🧩 cli

#821 test: refactor e2e order to temporary fix testing
  .github/workflows/ci.yml
  e2e/cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  tools/src/npm/npm.plugin.ts
Labels: 🔬 testing, 🦾 CI/CD, 🛠️ tooling

#808 test(create-cli-e2e): use global-setup.verdaccio.ts in e2e tests and fix enabled test
  e2e/cli-e2e/project.json
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/cli-e2e/tests/compare.e2e.test.ts
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  e2e/create-cli-e2e/project.json
  e2e/create-cli-e2e/tests/init.e2e.test.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-init.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  global-setup.e2e.ts
  global-setup.verdaccio.ts
  testing/test-setup/src/lib/test-folder.setup.ts
  tools/src/debug/utils.ts
  tools/src/verdaccio/env.ts
  tools/src/verdaccio/verdaccio.plugin.ts
Labels: 🔬 testing, 🛠️ tooling

#825 fix(utils): format reports with unchanged score
  packages/utils/src/lib/reports/__snapshots__/report-diff-changed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-changed.md
  packages/utils/src/lib/reports/generate-md-reports-diff.integration.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/report-diff.mock.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils
