Repository code-pushup/cli, pull requests merged in 2024-07, with the labels that each got.

#734 fix(utils): unchanged categories table markdown content
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🐛 bug, 🧩 utils

#733 docs: improve plugin descriptions and fix titles in readme
  README.md
Labels: 📖 Project documentation

#741 test(cli-e2e): fix E2E tests after --skipPlugins option added
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.ts
Labels: 🔬 testing, 🧩 cli

#752 ci(plugin-lighthouse): turn off verbose logging to make code-pushup output readable
  code-pushup.config.ts
Labels: 🦾 CI/CD, 🧹 maintenance

#750 feat: replace chalk with ansis
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/cli/src/lib/history/history-command.ts
  packages/cli/src/lib/implementation/logging.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/cli/src/lib/yargs-cli.ts
  packages/core/package.json
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/execute-plugin.unit.test.ts
  packages/plugin-coverage/package.json
  packages/plugin-coverage/src/lib/nx/coverage-paths.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-lighthouse/package.json
  packages/plugin-lighthouse/src/lib/normalize-flags.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/details.ts
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/item-value.ts
  packages/plugin-lighthouse/src/lib/runner/details/item-value.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/mocks/fixtures/execute-progress.mock.mjs
  packages/utils/package.json
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/logging.ts
  packages/utils/src/lib/progress.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 utils, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🛠️ tooling

#756 test(nx-plugin): fix format normalization
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🔬 testing, 🧩 cli, 🚨 Hotfix

#758 feat(utils): add nested objects to cli args parsing
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 nx-plugin, 🚨 Hotfix

#737 feat(nx-plugin): add executor to nx-plugin
  .eslintignore
  packages/nx-plugin/executors.json
  packages/nx-plugin/mock/utils/executor.ts
  packages/nx-plugin/package.json
  packages/nx-plugin/project.json
  packages/nx-plugin/src/executors/autorun/README.md
  packages/nx-plugin/src/executors/autorun/constants.ts
  packages/nx-plugin/src/executors/autorun/executor.integration.test.ts
  packages/nx-plugin/src/executors/autorun/executor.ts
  packages/nx-plugin/src/executors/autorun/executor.unit.test.ts
  packages/nx-plugin/src/executors/autorun/schema.json
  packages/nx-plugin/src/executors/autorun/schema.ts
  packages/nx-plugin/src/executors/autorun/utils.integration.test.ts
  packages/nx-plugin/src/executors/autorun/utils.ts
  packages/nx-plugin/src/executors/autorun/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.integration.test.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/index.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 nx-plugin, 🛠️ tooling

#749 fix(utils): add is binary icon
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.unit.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
  packages/utils/src/lib/reports/scoring.unit.test.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/sorting.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#765 refactor: add code-pushup.preset.ts
  code-pushup.config.ts
  code-pushup.preset.ts
  packages/utils/src/lib/merge-configs.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#754 feat(nx-plugin): add crystal utils
  packages/nx-plugin/src/executors/autorun/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.unit.test.ts
  packages/nx-plugin/src/generators/configuration/schema.d.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/internal/types.ts
  packages/nx-plugin/src/plugin/constants.ts
  packages/nx-plugin/src/plugin/index.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/configuration-target.ts
  packages/nx-plugin/src/plugin/target/configuration.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  packages/nx-plugin/src/plugin/utils.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/nx-plugin.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.unit.test.ts
  testing/test-utils/src/lib/utils/path.ts
Labels: 🔬 testing, 🧩 nx-plugin
