Repository code-pushup/cli, pull requests merged in 2024-11, with the labels that each got.

#842 refactor: use nx-verdaccio for e2e testing
  .github/workflows/ci.yml
  e2e/ci-e2e/project.json
  e2e/ci-e2e/vite.config.e2e.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  e2e/nx-plugin-e2e/project.json
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  e2e/plugin-lighthouse-e2e/project.json
  e2e/plugin-lighthouse-e2e/vite.config.e2e.ts
  nx.json
  package-lock.json
  package.json
  packages/cli/project.json
  packages/create-cli/project.json
  packages/nx-plugin/package.json
  packages/utils/src/lib/execute-process.ts
  testing/test-setup/src/lib/test-folder.setup.ts
  tools/src/npm/npm.plugin.ts
Labels: 🔬 testing, 🦾 CI/CD, 🧩 utils, 🛠️ tooling

#866 fix(plugin-eslint,plugin-coverage): future-proof version range of nx peer deps
  packages/plugin-coverage/package.json
  packages/plugin-eslint/package.json
Labels: 🧹 maintenance, 🧩 eslint-plugin, 🧩 coverage-plugin, 🛠️ tooling

#867 fix(models): allow non-integers in audit values diff
  packages/models/src/lib/reports-diff.ts
Labels: 🐛 bug, 🧩 models

#872 test: split coverage e2e
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/plugin-coverage-e2e/.eslintrc.json
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/code-pushup.config.ts
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/package.json
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/src/index.mjs
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/src/index.test.mjs
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/vite.config.ts
  e2e/plugin-coverage-e2e/mocks/fixtures/existing-report/code-pushup.config.ts
  e2e/plugin-coverage-e2e/mocks/fixtures/existing-report/coverage/lcov.info
  e2e/plugin-coverage-e2e/project.json
  e2e/plugin-coverage-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-coverage-e2e/tests/collect.e2e.test.ts
  e2e/plugin-coverage-e2e/tsconfig.json
  e2e/plugin-coverage-e2e/tsconfig.test.json
  e2e/plugin-coverage-e2e/vite.config.e2e.ts
  examples/react-todos-app/code-pushup.config.js
  nx.json
  package-lock.json
  package.json
Labels: 🔬 testing, 🛠️ tooling

#871 test: split eslint e2e
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/plugin-coverage-e2e/mocks/fixtures/basic-setup/package.json
  e2e/plugin-eslint-e2e/.eslintrc.json
  e2e/plugin-eslint-e2e/mocks/fixtures/old-version/.eslintrc.json
  e2e/plugin-eslint-e2e/mocks/fixtures/old-version/code-pushup.config.ts
  e2e/plugin-eslint-e2e/mocks/fixtures/old-version/src/index.js
  e2e/plugin-eslint-e2e/project.json
  e2e/plugin-eslint-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-eslint-e2e/tests/collect.e2e.test.ts
  e2e/plugin-eslint-e2e/tsconfig.json
  e2e/plugin-eslint-e2e/tsconfig.test.json
  e2e/plugin-eslint-e2e/vite.config.e2e.ts
  nx.json
Labels: 🔬 testing, 🛠️ tooling

#884 docs: update plugin-js-packages example
  packages/plugin-js-packages/README.md
Labels: 📖 Project documentation

#886 feat(ci): add nxProjectsFilter option, forwards custom filters to Nx CLI
  packages/ci/README.md
  packages/ci/src/lib/constants.ts
  packages/ci/src/lib/models.ts
  packages/ci/src/lib/monorepo/handlers/nx.ts
  packages/ci/src/lib/monorepo/list-projects.ts
  packages/ci/src/lib/monorepo/list-projects.unit.test.ts
  packages/ci/src/lib/monorepo/tools.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 ci
