Repository code-pushup/cli, pull requests merged in 2024-04, with the labels that each got.

#549 feat(plugin-lighthouse): add lighthouse runner
  .github/workflows/ci.yml
  CONTRIBUTING.md
  packages/plugin-lighthouse/CONTRIBUTING.md
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/docs/images/chrome-blank-screen-pre-configure.png
  packages/plugin-lighthouse/docs/images/chrome-blank-screen.png
  packages/plugin-lighthouse/docs/images/chrome-flags.png
  packages/plugin-lighthouse/docs/images/chrome-settings-manage-profile.png
  packages/plugin-lighthouse/docs/images/chrome-version.png
  packages/plugin-lighthouse/docs/images/lighthouse-error-1.png
  packages/plugin-lighthouse/docs/images/lighthouse-error-2.png
  packages/plugin-lighthouse/docs/images/lighthouse-error-3.png
  packages/plugin-lighthouse/package.json
  packages/plugin-lighthouse/src/index.ts
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/src/lib/file-system.ts
  testing/test-setup/src/lib/chrome-path.setup.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/env.ts
Labels: 📖 Project documentation, 🔬 testing, 🦾 CI/CD, 🧩 utils, 🧩 lighthouse-plugin, 🛠️ tooling

#600 chore: add category descriptions
  code-pushup.config.ts
Labels: 🐩 dogfooding

#606 feat(utils): include 1 decimal place when rounding score change
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#607 fix(utils): consistent group emoji
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 🐛 bug, 🔬 testing, 🧩 utils

#608 fix(utils): add missing esbuild dependency (peer of bundle-require)
  package-lock.json
  package.json
  packages/utils/.eslintrc.json
  packages/utils/package.json
Labels: 🐛 bug, 🛠️ tooling

#593 feat(plugin-lighthouse): add lighthouse plugin
  .github/workflows/code-coverage.yml
  code-pushup.config.ts
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/cli-e2e/tests/collect.e2e.test.ts
  examples/react-todos-app/code-pushup.config.js
  package-lock.json
  package.json
  packages/cli/README.md
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/src/index.ts
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/constants.ts
  packages/plugin-lighthouse/src/lib/runner/constants.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/index.ts
  packages/plugin-lighthouse/src/lib/runner/runner.ts
  packages/plugin-lighthouse/src/lib/runner/runner.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/types.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/types.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/types.ts
  project.json
Labels: 📖 Project documentation, 🔬 testing, 🦾 CI/CD, 🧩 utils, 🧩 lighthouse-plugin, 🛠️ tooling

#613 docs: add lighthouse to package link to readme
  README.md
Labels: 📖 Project documentation

#273 feat(cli): add history command
  .prettierignore
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/src/lib/commands.ts
  packages/cli/src/lib/history/history-command.ts
  packages/cli/src/lib/history/history-command.unit.test.ts
  packages/cli/src/lib/history/history.model.ts
  packages/cli/src/lib/history/history.options.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/history.ts
  packages/core/src/lib/history.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/git.unit.test.ts
Labels: 👨‍🔬 research, 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 core, 🧩 utils, 🛠️ tooling

#616 fix(core): send isBinary flag when uploading category
  packages/core/src/lib/implementation/report-to-gql.ts
Labels: 🐛 bug

#620 ci: attempt to fix release workflow
  .github/workflows/release.yml
Labels: 🦾 CI/CD

#614 test(plugin-lighthouse): refine tests
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin

#555 chore: setup knip to lint the workspace
  knip.config.ts
  package-lock.json
  package.json
Labels: 📖 Project documentation, 🛠️ tooling

#648 fix(plugin-js-packages): skip package labels until semver is integrated
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.unit.test.ts
Labels: 🐛 bug, 📖 Project documentation, 🔬 testing, 🧩 js-packages-plugin

#653 docs(plugin-js-packages): include plugin install step in README
  packages/plugin-js-packages/README.md
Labels: 📖 Project documentation

#658 fix(plugin-coverage): sort lines numerically to merge consecutive ranges
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  packages/plugin-coverage/mocks/no-coverage-lcov.info
  packages/plugin-coverage/src/lib/runner/lcov/__snapshots__/lcov-runner.integration.test.ts.snap
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.integration.test.ts
  packages/plugin-coverage/src/lib/runner/lcov/utils.ts
Labels: 🐛 bug, 📖 Project documentation, 🔬 testing, 🧩 coverage-plugin

#656 refactor(plugin-js-packages): use semver for version diff
  packages/plugin-js-packages/package.json
  packages/plugin-js-packages/src/lib/runner/outdated/constants.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.unit.test.ts
  packages/plugin-js-packages/src/lib/runner/outdated/types.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 js-packages-plugin, 🛠️ tooling

#636 fix(plugin-js-packages): consider dynamic outdated fields for Yarn v1
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/constants.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/outdated-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/outdated-result.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/types.ts
  packages/plugin-js-packages/src/lib/runner/outdated/types.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 js-packages-plugin

#661 fix(plugin-js-packages): omit unspecified direct dependency
  packages/plugin-js-packages/src/lib/runner/audit/transform.ts
  packages/plugin-js-packages/src/lib/runner/audit/transform.unit.test.ts
Labels: 🐛 bug, 📖 Project documentation, 🔬 testing, 🧩 js-packages-plugin

#662 build(): get rid of dependency warnings
  package-lock.json
  package.json
Labels: 📖 Project documentation, 🛠️ tooling
