Repository code-pushup/cli, pull requests merged in 2024-02, with the labels that each got.

#440 docs: add links with anchors
  README.md
  packages/cli/README.md
  packages/cli/docs/images/cli-run-stdout-example.png
Labels: 🧩 cli

#449 docs(cli): target `ts` format first
  packages/cli/README.md
Labels: 🧩 cli

#452 docs(plugin-eslint): adopt docs
  packages/plugin-eslint/README.md
Labels: 🧩 eslint-plugin

#455 docs: add npm shields
  README.md
  packages/cli/README.md
  packages/core/README.md
  packages/models/README.md
  packages/plugin-eslint/README.md
  packages/utils/README.md
Labels: 🧩 cli, 🧩 core, 🧩 models, 🧩 utils, 🧩 eslint-plugin

#441 ci(models): add generated models to docs
  examples/plugins/project.json
  nx.json
  package-lock.json
  package.json
  packages/cli/docs/custom-plugins.md
  packages/models/.eslintrc.json
  packages/models/docs/core-config-types.md
  packages/models/project.json
  packages/models/tools/generate-types/index.ts
  packages/models/tools/generate-types/utils.ts
  packages/models/tsconfig.lib.json
  packages/models/tsconfig.tools.json
Labels: 🧩 cli, 🧩 models

#458 build(plugin-lighthouse): add tools to lighthouse plugin
  packages/plugin-lighthouse/package.json
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin

#460 chore(workflows): include unit test coverage in release packages for now
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: 🐛 bug, 🦾 CI/CD

#417 feat(examples-plugins): add lighthouse to examples
  code-pushup.config.ts
  examples/plugins/.eslintrc.json
  examples/plugins/code-pushup.config.ts
  examples/plugins/src/index.ts
  examples/plugins/src/lighthouse/README.md
  examples/plugins/src/lighthouse/docs/images/lighthouse-plugin-cover.png
  examples/plugins/src/lighthouse/mock/constants.ts
  examples/plugins/src/lighthouse/mock/fixtures/lhr.ts
  examples/plugins/src/lighthouse/src/constants.ts
  examples/plugins/src/lighthouse/src/index.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  examples/plugins/src/lighthouse/src/types.ts
  examples/plugins/src/lighthouse/src/utils.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
  packages/cli/README.md
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/verbose-utils.ts
Labels: 🔬 testing, 🧩 cli, 🧩 utils

#464 test(utils): adapt to different process stdout behaviour
  packages/utils/src/lib/execute-process.unit.test.ts
Labels: 🐛 bug, 🔬 testing, 🧩 utils

#463 test: add tests
  examples/plugins/src/index.ts
  examples/plugins/src/lighthouse/README.md
  examples/plugins/src/lighthouse/src/index.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
  packages/cli/README.md
  packages/utils/perf/score-report/optimized1.ts
  packages/utils/perf/score-report/optimized2.ts
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/verbose-utils.unit.test.ts
  tsconfig.base.json
Labels: 🔬 testing, 🧩 cli, 🧩 utils

#466 docs: add hint
  packages/cli/README.md
Labels: 🧩 cli

#472 feat(plugin-lighthouse): add onlyAudits logic
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  examples/plugins/src/lighthouse/src/utils.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter-by-slug.ts
  packages/utils/src/lib/filter-by-slug.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 lighthouse-plugin

#485 docs: add package version input to bug report template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: 📚 docs code

#476 docs(cli): add docs images
  README.md
  packages/cli/README.md
  packages/cli/docs/images/cli-cover.png
  packages/cli/docs/images/getting-started-cover.png
  packages/cli/docs/images/portal-cover.png
  packages/plugin-coverage/README.md
  packages/plugin-eslint/README.md
  packages/plugin-lighthouse/README.md
Labels: 🧩 cli, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin

#489 fix(workflows): update and improve labeler options
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: 🦾 CI/CD

#491 chore(examples-plugins): increase lighthouse example plugin timeout
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
Labels: 🔬 testing

#494 refactor(models): import material icons from different package
  package-lock.json
  package.json
  packages/models/package.json
  packages/models/src/index.ts
  packages/models/src/lib/implementation/schemas.ts
Labels: 🧩 models, 🛠️ tooling

#499 feat(plugin-coverage): allow passing results as strings
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.coverage.ts
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/lib/config.ts
  packages/plugin-coverage/src/lib/config.unit.test.ts
  packages/plugin-coverage/src/lib/coverage-plugin.unit.test.ts
  packages/plugin-coverage/src/lib/runner/lcov/__snapshots__/lcov-runner.integration.test.ts.snap
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.integration.test.ts
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.ts
  packages/plugin-coverage/src/lib/runner/runner.integration.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 coverage-plugin

#501 test(cli-e2e): fix uninstallation of dependencies in E2E teardown
  global-setup.e2e.ts
Labels: 🔬 testing

#507 feat(cli): print full report url after upload
  package-lock.json
  package.json
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/implementation/logging.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/core/package.json
  packages/core/src/lib/upload.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  testing/test-setup/src/lib/portal-client.mock.ts
Labels: ➕ enhancement, 🔬 testing, 🧩 cli, 🧩 core, 🧩 utils, 🛠️ tooling

#508 test: fix reportsDirectory for test-utils
  testing/test-utils/project.json
Labels: 🔬 testing, 🛠️ tooling

#521 ci: integrate Nx Cloud
  nx.json
Labels: 🛠️ tooling

#522 fix(plugin-eslint): handle rules which emit column 0
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/plugin-eslint/src/lib/runner/transform.unit.test.ts
Labels: 🐛 bug, 🧩 eslint-plugin

#469 feat(utils): add git helper
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  tsconfig.base.json
Labels: 🔬 testing, 🧩 utils, 🛠️ tooling

#526 test(cli): fix middleware options passed in tests
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
Labels: 🔬 testing, 🧩 cli

#528 fix: stop CLI when a plugin fails
  packages/plugin-coverage/src/bin.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/bin.ts
Labels: 🧩 eslint-plugin, 🧩 coverage-plugin

#515 feat(plugin-lighthouse): add only filters logic for categories
  examples/plugins/src/lighthouse/src/lighthouse.plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/filter-by-slug.ts
  packages/utils/src/lib/filter-by-slug.unit.test.ts
  packages/utils/src/lib/filter.ts
  packages/utils/src/lib/filter.unit.test.ts
  packages/utils/src/lib/log-results.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 lighthouse-plugin

#523 feat(plugin-lighthouse): implement basic audit parsing
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin

#512 test(examples-plugins): convert integration tests to e2e
  examples/plugins/src/lighthouse/mock/constants.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.integration.test.ts
  examples/plugins/src/lighthouse/src/lighthouse.plugin.unit.test.ts
  examples/plugins/src/lighthouse/src/utils.unit.test.ts
Labels: 🔬 testing
