Repository code-pushup/cli, pull requests merged in 2024-06, with the labels that each got.

#692 ci: disable nx cloud
  nx.json
Labels: 🛠️ tooling

#698 docs: update `README.md` with images
  README.md
Labels: 📖 Project documentation

#685 refactor(plugin-lighthouse): update lighthouse and adopt tests
  code-pushup.config.ts
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  examples/react-todos-app/code-pushup.config.js
  package-lock.json
  package.json
  packages/plugin-lighthouse/package.json
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/constants.ts
  packages/plugin-lighthouse/src/lib/runner/runner.ts
  packages/plugin-lighthouse/src/lib/runner/runner.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/types.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin, 🛠️ tooling

#703 chore: synchronise prod dependencies with root
  package-lock.json
  package.json
Labels: 🧹 maintenance, 🛠️ tooling

#708 chore: update code owners
  .github/CODEOWNERS
Labels: 🧹 maintenance

#715 fix: wrap paths in quotes in case of spaces
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-coverage/src/lib/runner/runner.integration.test.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/runner/lint.ts
  packages/plugin-eslint/src/lib/runner/lint.unit.test.ts
  packages/plugin-js-packages/src/lib/runner/index.ts
  packages/plugin-js-packages/src/lib/runner/runner.integration.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/file-system.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 eslint-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin

#711 feat(plugin-lighthouse): add logLevel to lighthouse runner flags
  code-pushup.config.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/constants.ts
  packages/plugin-lighthouse/src/lib/runner/runner.ts
  packages/plugin-lighthouse/src/lib/runner/runner.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin

#712 feat(cli): adopt logic to forward plugins and categories if onlyPlugins is invalid
  packages/cli/src/lib/implementation/only-plugins.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.unit.test.ts
Labels: 🐛 bug, 🔬 testing, 🧩 cli

#684 feat(plugin-lighthouse): add audit details to lighthouse plugin
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  packages/core/src/lib/implementation/report-to-gql.ts
  packages/models/src/index.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/implementation/schemas.unit.test.ts
  packages/models/src/lib/table.ts
  packages/models/src/lib/table.unit.test.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/runner/details/details.ts
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/item-value.ts
  packages/plugin-lighthouse/src/lib/runner/details/item-value.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.ts
  packages/plugin-lighthouse/src/lib/runner/details/table.type.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/types.ts
  packages/plugin-lighthouse/src/lib/runner/runner.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/src/lib/formatting.ts
  packages/utils/src/lib/reports/formatting.unit.test.ts
  packages/utils/src/lib/table.ts
  packages/utils/src/lib/table.unit.test.ts
  packages/utils/src/lib/text-formats/html/link.ts
  packages/utils/src/lib/text-formats/html/table.ts
  packages/utils/src/lib/text-formats/md/section.ts
  packages/utils/src/lib/text-formats/md/table.ts
  packages/utils/src/lib/text-formats/md/table.unit.test.ts
  packages/utils/src/lib/text-formats/table.ts
  packages/utils/src/lib/text-formats/table.unit.test.ts
Labels: 🔬 testing, 🧩 core, 🧩 models, 🧩 utils, 🧩 lighthouse-plugin

#701 refactor: update the main readme file
  README.md
  docs/images/plugin-coverage.icon.png
  docs/images/plugin-eslint.icon.png
  docs/images/plugin-js-packages.icon.png
  docs/images/plugin-lighthouse.icon.png
  packages/cli/docs/images/code-pushup-logo.png
Labels: 📖 Project documentation

#724 refactor(utils): switch score columns in comparison
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils
