Repository code-pushup/cli, pull requests merged in 2024-05, with the labels that each got.

#630 refactor(models): add property `table` to audit details
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  package.json
  packages/core/src/lib/implementation/report-to-gql.ts
  packages/core/src/lib/normalize.ts
  packages/core/src/lib/normalize.unit.test.ts
  packages/models/docs/models-reference.md
  packages/models/src/index.ts
  packages/models/src/lib/audit-output.ts
  packages/models/src/lib/audit-output.unit.test.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/table.ts
  packages/models/src/lib/table.unit.test.ts
  packages/utils/src/lib/git/git.unit.test.ts
  packages/utils/src/lib/reports/__snapshots__/formatting.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-no-categories.md
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/constants.ts
  packages/utils/src/lib/reports/formatting.ts
  packages/utils/src/lib/reports/formatting.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
  packages/utils/src/lib/reports/html/__snapshots__/table.unit.test.ts.snap
  packages/utils/src/lib/reports/html/details.ts
  packages/utils/src/lib/reports/html/font-style.ts
  packages/utils/src/lib/reports/html/table.ts
  packages/utils/src/lib/reports/html/table.unit.test.ts
  packages/utils/src/lib/reports/md/constants.ts
  packages/utils/src/lib/reports/md/details.ts
  packages/utils/src/lib/reports/md/headline.ts
  packages/utils/src/lib/reports/md/headline.unit.test.ts
  packages/utils/src/lib/reports/md/index.ts
  packages/utils/src/lib/reports/md/list.ts
  packages/utils/src/lib/reports/md/paragraphs.ts
  packages/utils/src/lib/reports/md/section.ts
  packages/utils/src/lib/reports/md/table.ts
  packages/utils/src/lib/reports/md/table.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
  testing/test-utils/src/lib/utils/os-agnostic-paths.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 core, 🧩 models, 🧩 utils, 🛠️ tooling

#641 refactor(core): add better error messages
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/execute-plugin.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 core

#659 test(plugin-lighthouse): add lighthouse CI flags to configs
  code-pushup.config.ts
  examples/react-todos-app/code-pushup.config.js
  package-lock.json
  package.json
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/src/index.ts
Labels: 📖 Project documentation, 🧩 lighthouse-plugin, 🛠️ tooling

#673 refactor(utils): relocate code for text styles
  package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/reports/formatting.ts
  packages/utils/src/lib/reports/formatting.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report-categoy-section.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
  packages/utils/src/lib/reports/html/font-style.ts
  packages/utils/src/lib/reports/md/font-style.ts
  packages/utils/src/lib/reports/md/font-style.unit.test.ts
  packages/utils/src/lib/reports/md/index.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/text-formats/constants.ts
  packages/utils/src/lib/text-formats/html/__snapshots__/table.unit.test.ts.snap
  packages/utils/src/lib/text-formats/html/details.ts
  packages/utils/src/lib/text-formats/html/font-style.ts
  packages/utils/src/lib/text-formats/html/font-style.unit.test.ts
  packages/utils/src/lib/text-formats/html/link.ts
  packages/utils/src/lib/text-formats/html/table.ts
  packages/utils/src/lib/text-formats/html/table.unit.test.ts
  packages/utils/src/lib/text-formats/index.ts
  packages/utils/src/lib/text-formats/md/font-style.ts
  packages/utils/src/lib/text-formats/md/font-style.unit.test.ts
  packages/utils/src/lib/text-formats/md/headline.ts
  packages/utils/src/lib/text-formats/md/headline.unit.test.ts
  packages/utils/src/lib/text-formats/md/image.ts
  packages/utils/src/lib/text-formats/md/link.ts
  packages/utils/src/lib/text-formats/md/link.unit.test.ts
  packages/utils/src/lib/text-formats/md/list.ts
  packages/utils/src/lib/text-formats/md/list.unit.test.ts
  packages/utils/src/lib/text-formats/md/paragraphs.ts
  packages/utils/src/lib/text-formats/md/section.ts
  packages/utils/src/lib/text-formats/md/table.ts
  packages/utils/src/lib/text-formats/md/table.unit.test.ts
  packages/utils/src/lib/text-formats/table.ts
  packages/utils/src/lib/text-formats/table.unit.test.ts
  packages/utils/src/lib/text-formats/types.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils, 🛠️ tooling

#674 refactor(plugin-eslint): update nx/devkit to accept more recent versions aswell
  packages/plugin-eslint/package.json
Labels: 📖 Project documentation, 🛠️ tooling

#680 feat(core): include audit table in portal upload
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/lib/implementation/report-to-gql.ts
  packages/core/src/lib/implementation/report-to-gql.unit.test.ts
Labels: 🔬 testing, 🧩 core

#686 refactor(plugin-js-packages): make optional deps opt-in, adjust weights
  packages/plugin-js-packages/README.md
  packages/plugin-js-packages/src/lib/config.ts
  packages/plugin-js-packages/src/lib/config.unit.test.ts
  packages/plugin-js-packages/src/lib/constants.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/npm/npm.ts
  packages/plugin-js-packages/src/lib/package-managers/pnpm/pnpm.ts
  packages/plugin-js-packages/src/lib/package-managers/types.ts
  packages/plugin-js-packages/src/lib/runner/index.ts
  packages/plugin-js-packages/src/lib/runner/runner.integration.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 js-packages-plugin

#687 fix(plugin-eslint): revert to explicit config file in nx helper
  packages/plugin-eslint/README.md
  packages/plugin-eslint/src/lib/nx.integration.test.ts
  packages/plugin-eslint/src/lib/nx/projects-to-config.unit.test.ts
  packages/plugin-eslint/src/lib/nx/utils.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 eslint-plugin

#688 fix(plugin-coverage): merge multiple results for a file
  packages/plugin-coverage/README.md
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.ts
  packages/plugin-coverage/src/lib/runner/lcov/merge-lcov.ts
  packages/plugin-coverage/src/lib/runner/lcov/merge-lcov.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 coverage-plugin
