Repository code-pushup/cli, pull requests merged in 2024-12, with the labels that each got.

#890 feat(core): enhance config validation
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
  packages/core/src/lib/implementation/read-rc-file.ts
  packages/models/src/lib/category-config.unit.test.ts
  packages/models/src/lib/group.ts
  packages/models/src/lib/group.unit.test.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/zod-validation.ts
  packages/utils/src/lib/zod-validation.unit.test.ts
Labels: 🔬 testing, 🧩 core, 🧩 models, 🧩 utils, 🧩 lighthouse-plugin, 🛠️ tooling

#894 fix: lint import extensions and fix missing .js extensions
  eslint.config.js
  packages/plugin-coverage/src/lib/runner/runner.integration.test.ts
  packages/plugin-js-packages/src/lib/js-packages-plugin.ts
  packages/plugin-js-packages/src/lib/runner/runner.integration.test.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/src/lib/zod-validation.unit.test.ts
Labels: 🔬 testing, 🧩 utils, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin

#895 fix(plugin-eslint): parse rule names containing slashes correctly
  packages/plugin-eslint/src/lib/meta/parse.ts
  packages/plugin-eslint/src/lib/meta/parse.unit.test.ts
Labels: 🐛 bug, 🔬 testing, 🧩 eslint-plugin

#899 docs: add issue template for new plugin
  .github/ISSUE_TEMPLATE/plugin-request.yaml
Labels: 🛠️ tooling

#904 feat(plugin-typescript): new tests, docs, readme, remove unused async, etc
  code-pushup.preset.ts
  packages/plugin-typescript/README.md
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig-with-exclude.json
  packages/plugin-typescript/src/lib/config.unit.test.ts
  packages/plugin-typescript/src/lib/constants.ts
  packages/plugin-typescript/src/lib/runner/ts-error-codes.ts
  packages/plugin-typescript/src/lib/runner/typescript-runner.integration.test.ts
  packages/plugin-typescript/src/lib/runner/typescript-runner.ts
  packages/plugin-typescript/src/lib/runner/utils.ts
  packages/plugin-typescript/src/lib/runner/utils.unit.test.ts
  packages/plugin-typescript/src/lib/typescript-plugin.unit.test.ts
  packages/plugin-typescript/src/lib/utils.ts
  packages/plugin-typescript/src/lib/utils.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/string.ts
  packages/utils/src/lib/string.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils, 🛠️ tooling

#906 chore(plugin-typescript): wip
  packages/plugin-typescript/src/lib/runner/runner.ts
  packages/plugin-typescript/src/lib/runner/ts-runner.ts
  packages/plugin-typescript/src/lib/runner/utils.ts
  packages/plugin-typescript/src/lib/utils.ts
  packages/plugin-typescript/src/lib/utils.unit.test.ts
Labels: 🔬 testing
