Repository code-pushup/cli, pull requests merged in 2024-03, with the labels that each got.

#534 refactor(utils): treat groups as optional
  packages/utils/.eslintrc.json
  packages/utils/code-pushup.eslintrc.json
  packages/utils/perf/score-report/optimized3.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/progress.ts
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
Labels: 🧩 utils, 🛠️ tooling

#537 chore: exclude fixtures from ESLint
  .eslintignore
Labels: 🧹 maintenance

#535 fix(plugin-eslint): pass arguments via config file instead of argv
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/__snapshots__/eslint-plugin.integration.test.ts.snap
  packages/plugin-eslint/src/lib/config.ts
  packages/plugin-eslint/src/lib/eslint-plugin.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  packages/plugin-eslint/src/lib/runner/index.ts
Labels: 🔬 testing, 🧩 eslint-plugin, 🧩 coverage-plugin

#539 test(plugin-eslint): enable integration tests
  packages/plugin-eslint/src/lib/runner.integration.test.ts
Labels: 🔬 testing, 🧩 eslint-plugin

#544 feat(cli): include commit info in report.json
  e2e/cli-e2e/tests/collect.e2e.test.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/collect.integration.test.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/upload.ts
  packages/models/docs/models-reference.md
  packages/models/src/index.ts
  packages/models/src/lib/commit.ts
  packages/models/src/lib/commit.unit.test.ts
  packages/models/src/lib/report.ts
  packages/models/src/lib/report.unit.test.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/sorting.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.integration.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/commit.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/config.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/report.mock.ts
  testing/test-utils/src/lib/utils/report.mock.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 core, 🧩 models, 🧩 utils

#546 ci: improve pipeline naming
  .github/workflows/pr-commitlint.yml
  .github/workflows/pr-labeler.yml
Labels: 🦾 CI/CD

#547 test: create subfolders under tmp for tests
  e2e/cli-e2e/tests/collect.e2e.test.ts
  examples/react-todos-app/code-pushup.config.js
  global-setup.e2e.ts
  global-setup.ts
  packages/utils/src/lib/git.integration.test.ts
Labels: 🔬 testing, 🧩 utils

#541 feat(core): add history logic
  packages/core/package.json
  packages/core/src/lib/collect-and-persist.ts
  packages/core/src/lib/history.integration.test.ts
  packages/core/src/lib/history.ts
  packages/core/src/lib/history.unit.test.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/upload.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/git.ts
  testing/test-utils/src/lib/utils/minimal-config.mock.ts
Labels: 🔬 testing, 🧩 core, 🧩 utils, 🛠️ tooling

#553 docs(cli): 💅 add option grouping and examples
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/help.e2e.test.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/options.ts
  packages/cli/src/lib/print-config/print-config-command.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🔬 testing, 🧩 cli

#487 refactor(utils): use cliui as central logger
  package-lock.json
  package.json
  packages/cli/package.json
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/compare/compare-command.ts
  packages/cli/src/lib/implementation/logging.ts
  packages/cli/src/lib/implementation/logging.unit.test.ts
  packages/cli/src/lib/implementation/only-plugins.utils.ts
  packages/cli/src/lib/implementation/only-plugins.utils.unit.test.ts
  packages/cli/src/lib/print-config/print-config-command.ts
  packages/cli/src/lib/print-config/print-config-command.unit.test.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/cli/vite.config.unit.ts
  packages/core/src/lib/history.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/execute-plugin.unit.test.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/vite.config.unit.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/plugin-coverage/src/lib/nx/coverage-paths.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/meta/rules.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/git.ts
  packages/utils/src/lib/log-results.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/logging.ts
  packages/utils/src/lib/reports/__snapshots__/log-stdout-summary.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-stdout-summary.integration.test.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.integration.test.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/verbose-utils.ts
  packages/utils/src/lib/verbose-utils.unit.test.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
  testing/test-setup/src/lib/cliui.mock.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/logging.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 utils, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🛠️ tooling

#562 fix: package json lock
  package-lock.json
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.integration.test.ts
Labels: 🔬 testing, 🧩 lighthouse-plugin, 🛠️ tooling

#563 fix(plugin-eslint): eslint startline can be zero
  packages/plugin-eslint/src/lib/meta/groups.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/plugin-eslint/src/lib/runner/transform.unit.test.ts
Labels: 🔬 testing, 🧩 eslint-plugin

#572 chore: remove verbose logs, unused mock
  packages/cli/code-pushup.config.mock.ts
  packages/plugin-coverage/src/lib/nx/coverage-paths.ts
Labels: 🧩 coverage-plugin

#576 fix(utils): use unicode arrows with wider OS support
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/utils.ts
Labels: 🐛 bug, 🔬 testing, 🧩 utils

#577 test(core): use custom path for testing --tsconfig
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
  testing/test-utils/.eslintrc.json
  testing/test-utils/src/lib/fixtures/configs/code-pushup.needs-tsconfig.config.ts
  testing/test-utils/src/lib/fixtures/configs/custom-plugin.ts
  testing/test-utils/src/lib/fixtures/configs/tsconfig.json
  testing/test-utils/tsconfig.lib.json
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🛠️ tooling

#583 test: exclude mocks, perf and config from coverage
  packages/cli/vite.config.integration.ts
  packages/cli/vite.config.unit.ts
  packages/core/vite.config.integration.ts
  packages/core/vite.config.unit.ts
  packages/models/vite.config.integration.ts
  packages/models/vite.config.unit.ts
  packages/nx-plugin/vite.config.integration.ts
  packages/nx-plugin/vite.config.unit.ts
  packages/plugin-coverage/vite.config.integration.ts
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-eslint/vite.config.integration.ts
  packages/plugin-eslint/vite.config.unit.ts
  packages/plugin-js-packages/vite.config.integration.ts
  packages/plugin-js-packages/vite.config.unit.ts
  packages/plugin-lighthouse/vite.config.integration.ts
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/vite.config.integration.ts
  packages/utils/vite.config.unit.ts
Labels: 🔬 testing

#585 feat(utils): use auto-link commit format (GitHub/GitLab) in markdown
  e2e/cli-e2e/tests/compare.e2e.test.ts
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-no-categories.md
  packages/utils/src/lib/reports/__snapshots__/report.md
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-md-reports-diff.ts
Labels: ➕ enhancement, 🔬 testing, 🧩 utils

#591 ci: accept release publish
  .github/workflows/release.yml
Labels: 🦾 CI/CD
