Repository code-pushup/cli, pull requests merged in 2024-01, with the labels that each got.

#384 fix(plugin-eslint): set default lint file patterns for Nx projects
  packages/plugin-eslint/src/lib/nx/utils.ts
Labels: 🐛 bug, 🧩 eslint-plugin

#385 feat(plugin-eslint): set "passed" displayValue for ESLint audits
  e2e/cli-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  packages/models/test/fixtures/eslint-audits.mock.ts
  packages/plugin-eslint/src/lib/__snapshots__/runner.integration.test.ts.snap
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/utils/src/lib/__snapshots__/report-to-md.integration.test.ts.snap
  packages/utils/src/lib/__snapshots__/report-to-stdout.integration.test.ts.snap
Labels: 🔬 testing, 🧩 models, 🧩 utils, 🧩 eslint-plugin

#386 fix(plugin-eslint): fix default Nx lint patterns - directory not valid for "files" in eslintrc
  packages/plugin-eslint/src/lib/nx/utils.ts
Labels: 🐛 bug, 🧩 eslint-plugin

#389 chore: remove duplicate bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: 🧹 maintenance

#392 chore: create a feature request template
  .github/ISSUE_TEMPLATE/feature-request.yaml
Labels: 🤓 UX

#387 chore(examples-plugins): more distinguishable icons for custom plugins
  examples/plugins/src/file-size/src/file-size.plugin.integration.test.ts
  examples/plugins/src/file-size/src/file-size.plugin.ts
  examples/plugins/src/package-json/src/package-json.plugin.integration.test.ts
  examples/plugins/src/package-json/src/package-json.plugin.ts
Labels: 🔬 testing, 📚 docs code

#396 feat(core): improve upload error messages, extend icon set
  package-lock.json
  package.json
  packages/core/package.json
  packages/models/package.json
Labels: 🧹 maintenance

#399 ci: meaningful categories configuration
  code-pushup.config.ts
  examples/plugins/src/package-json/README.md
  examples/plugins/src/package-json/src/integration/license.audit.ts
  examples/plugins/src/package-json/src/integration/type.audit.ts
  project.json
Labels: 🦾 CI/CD, 🧹 maintenance

#400 ci: fix Code PushUp step in release pipeline
  .github/workflows/release.yml
Labels: 🦾 CI/CD

#401 build: update eslint config (removes no-secrets rule)
  package-lock.json
  package.json
  packages/cli/src/lib/implementation/only-plugins-utils.unit.test.ts
Labels: 🧹 maintenance

#403 chore: remove ESLint issues from test files in core, plugin-eslint and utils
  packages/core/.eslintrc.json
  packages/core/src/lib/implementation/execute-plugin.unit.test.ts
  packages/core/src/lib/implementation/persist.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/src/lib/implementation/read-code-pushup-config.integration.test.ts
  packages/core/src/lib/implementation/runner.ts
  packages/core/src/lib/implementation/runner.unit.test.ts
  packages/plugin-eslint/.eslintrc.json
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/eslint-plugin.ts
  packages/plugin-eslint/src/lib/meta/hash.ts
  packages/plugin-eslint/src/lib/meta/hash.unit.test.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/src/lib/nx.integration.test.ts
  packages/plugin-eslint/src/lib/runner.integration.test.ts
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/utils/.eslintrc.json
  packages/utils/perf/crawl-file-system/index.ts
  packages/utils/src/lib/execute-process.ts
  packages/utils/src/lib/execute-process.unit.test.ts
  packages/utils/src/lib/file-system.ts
  packages/utils/src/lib/file-system.unit.test.ts
  packages/utils/src/lib/formatting.ts
  packages/utils/src/lib/formatting.unit.test.ts
  packages/utils/src/lib/git.integration.test.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/progress.integration.test.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/report.unit.test.ts
  testing-utils/src/lib/fixtures/report.mock.ts
Labels: 🔬 testing, 🧩 core, 🧩 utils, 🧩 eslint-plugin

#404 fix(plugin-eslint): truncate long issue messages
  packages/models/src/index.ts
  packages/models/src/lib/audit-issue.ts
  packages/models/src/lib/implementation/limits.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/formatting.ts
Labels: 🧩 models, 🧩 utils, 🧩 eslint-plugin

#377 refactor(utils): separate report sorting logic and use it once for all report outputs
  packages/core/src/lib/implementation/persist.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/__snapshots__/report-to-md.integration.test.ts.snap
  packages/utils/src/lib/__snapshots__/sort-report.integration.test.ts.snap
  packages/utils/src/lib/report-to-md.integration.test.ts
  packages/utils/src/lib/report-to-md.ts
  packages/utils/src/lib/report-to-stdout.integration.test.ts
  packages/utils/src/lib/report-to-stdout.ts
  packages/utils/src/lib/report.ts
  packages/utils/src/lib/report.unit.test.ts
  packages/utils/src/lib/scoring.ts
  packages/utils/src/lib/sort-report.integration.test.ts
  packages/utils/src/lib/sort-report.ts
  testing-utils/src/lib/fixtures/report.mock.ts
Labels: ➕ enhancement, 🤓 UX, 🔬 testing, 🧩 core, 🧩 utils

#409 chore(cli): fix most ESLint issues
  packages/cli/.eslintrc.json
  packages/cli/src/index.ts
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/cli.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/constants.ts
  packages/cli/src/lib/implementation/config-middleware.ts
  packages/cli/src/lib/implementation/filter-kebab-case-keys.ts
  packages/cli/src/lib/implementation/model.ts
  packages/cli/src/lib/implementation/utils.ts
  packages/cli/src/lib/upload/upload-command.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🔬 testing, 🧩 cli

#412 test(cli-e2e): move helper functions, clean up tests and setup
  .eslintrc.json
  e2e/cli-e2e/.eslintrc.json
  e2e/cli-e2e/mocks/code-pushup.config.js
  e2e/cli-e2e/mocks/code-pushup.config.mjs
  e2e/cli-e2e/mocks/code-pushup.config.ts
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.js
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.mjs
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.ts
  e2e/cli-e2e/mocks/fs.mock.ts
  e2e/cli-e2e/mocks/utils.ts
  e2e/cli-e2e/project.json
  e2e/cli-e2e/tests/collect.e2e.test.ts
  e2e/cli-e2e/tests/help.e2e.test.ts
  e2e/cli-e2e/tests/print-config.e2e.test.ts
  e2e/cli-e2e/tsconfig.test.json
  e2e/cli-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  testing-utils/src/index.ts
  testing-utils/src/lib/setup/test-folder.setup.ts
Labels: 🔬 testing

#414 refactor(cli): group logic
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.model.ts
  packages/cli/src/lib/implementation/core-config.options.ts
  packages/cli/src/lib/implementation/filter-kebab-case-keys.ts
  packages/cli/src/lib/implementation/global.model.ts
  packages/cli/src/lib/implementation/global.options.ts
  packages/cli/src/lib/implementation/global.utils.ts
  packages/cli/src/lib/implementation/global.utils.unit.test.ts
  packages/cli/src/lib/implementation/only-plugins.model.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/only-plugins.utils.ts
  packages/cli/src/lib/implementation/only-plugins.utils.unit.test.ts
  packages/cli/src/lib/middlewares.ts
  packages/cli/src/lib/options.ts
  packages/cli/src/lib/print-config/print-config-command.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/cli/src/lib/yargs-cli.ts
Labels: 🔬 testing, 🧩 cli

#415 refactor(cli): seperate only plugins logic
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.ts
  packages/cli/src/lib/middlewares.ts
Labels: 🧩 cli

#424 test: prevent console logging in test output
  testing-utils/src/lib/setup/console.mock.ts
Labels: ➕ enhancement, 🔬 testing

#416 refactor(cli): adopt core-config middleware logic
  .gitignore
  packages/cli/src/lib/implementation/core-config.middleware.integration.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.model.ts
  packages/cli/src/lib/implementation/core-config.options-and-middleware.integration.test.ts
  packages/cli/src/lib/implementation/core-config.options.ts
  packages/cli/src/lib/implementation/global.model.ts
  testing-utils/src/index.ts
Labels: 🔬 testing, 🧩 cli

#373 test(utils): add unit tests covering `formatReportScore`
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#431 test: replace bundle-require mock by readCodePushUpConfig, update testing-utils README
  packages/cli/src/lib/autorun/autorun-command.unit.test.ts
  packages/cli/src/lib/collect/collect-command.unit.test.ts
  packages/cli/src/lib/print-config/print-config-command.unit.test.ts
  packages/cli/src/lib/upload/upload-command.unit.test.ts
  packages/cli/vite.config.unit.ts
  testing-utils/README.md
  testing-utils/src/lib/setup/bundle-require.mock.ts
Labels: 🔬 testing, 🧩 cli

#362 fix(cli): set terminal output to full width
  e2e/cli-e2e/tests/collect.e2e.test.ts
  examples/plugins/project.json
  packages/cli/project.json
  packages/cli/src/lib/yargs-cli.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/progress.ts
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  packages/utils/src/lib/reports/constants.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
Labels: 🔬 testing, 🧩 cli, 🧩 utils

#434 refactor(utils): check scoring prerequisites
  packages/utils/src/lib/reports/scoring.ts
  packages/utils/src/lib/reports/scoring.unit.test.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#361 feat(cli): add autoloading of the config file
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/README.md
  packages/cli/src/lib/autorun/autorun-command.unit.test.ts
  packages/cli/src/lib/collect/collect-command.unit.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/implementation/core-config.options-and-middleware.integration.test.ts
  packages/cli/src/lib/implementation/global.options.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/print-config/print-config-command.unit.test.ts
  packages/cli/src/lib/upload/upload-command.unit.test.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
  packages/core/src/lib/implementation/read-rc-file.ts
  packages/core/src/lib/implementation/read-rc-file.unit.test.ts
  packages/models/src/index.ts
  packages/models/src/lib/implementation/configuration.ts
  testing-utils/src/lib/setup/bundle-require.mock.ts
Labels: ➕ enhancement, 🤓 UX, 🔬 testing, 🧩 cli, 🧩 core, 🧩 models

#435 chore: clean up core config tests, remove obsolete logic
  packages/cli/src/lib/implementation/core-config.integration.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/implementation/read-code-pushup-config.integration.test.ts
  packages/core/src/lib/implementation/read-code-pushup-config.ts
  packages/core/src/lib/implementation/read-rc-file.unit.test.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core

#444 fix(core): update portal-client, fixed missing graphql dependency
  package-lock.json
  package.json
  packages/core/package.json
  packages/models/package.json
Labels: 🧩 core, 🧩 models

#443 feat(cli): add hints to commands
  package-lock.json
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/upload/upload-command.ts
Labels: 🧩 cli

#446 chore: remove redundant --config=code-pushup.config.ts argument
  examples/plugins/src/package-json/src/package-json.plugin.ts
  project.json
Labels: 🧹 maintenance

#437 refactor: make categories optional in core config
  packages/cli/README.md
  packages/cli/docs/custom-plugins.md
  packages/cli/src/lib/autorun/autorun-command.ts
  packages/cli/src/lib/collect/collect-command.ts
  packages/cli/src/lib/implementation/core-config.integration.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.middleware.ts
  packages/cli/src/lib/implementation/only-plugins.utils.ts
  packages/cli/src/lib/implementation/only-plugins.utils.unit.test.ts
  packages/core/src/lib/collect-and-persist.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/models/src/lib/category-config.ts
  packages/models/src/lib/category-config.unit.test.ts
  packages/models/src/lib/core-config.ts
  packages/models/src/lib/core-config.unit.test.ts
  packages/models/src/lib/implementation/utils.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.integration.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-stdout-summary.integration.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report.integration.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-stdout-summary.integration.test.ts
  packages/utils/src/lib/reports/generate-stdout-summary.ts
  packages/utils/src/lib/reports/scoring.unit.test.ts
  packages/utils/src/lib/reports/sorting.integration.test.ts
  testing-utils/src/lib/utils/minimal-config.mock.ts
  testing-utils/src/lib/utils/report.mock.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 models, 🧩 utils
