Repository code-pushup/cli, pull requests merged in 2024-10, with the labels that each got.

#824 feat(utils): support local report links
  packages/core/src/lib/implementation/persist.ts
  packages/models/src/index.ts
  packages/models/src/lib/issue.ts
  packages/models/src/lib/source.ts
  packages/utils/src/lib/reports/formatting.ts
  packages/utils/src/lib/reports/formatting.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/ide-environment.ts
  packages/utils/src/lib/reports/types.ts
  testing/test-setup/src/lib/reset.mocks.ts
Labels: 🔬 testing, 🧩 core, 🧩 models, 🧩 utils

#828 feat(cli): handle invalid plugin filter options
  packages/cli/src/lib/implementation/filter-plugins.middleware.ts
  packages/cli/src/lib/implementation/filter-plugins.middleware.unit.test.ts
  packages/cli/src/lib/implementation/global.utils.ts
  packages/cli/src/lib/implementation/global.utils.unit.test.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.unit.test.ts
Labels: 🔬 testing, 🧩 cli

#831 feat(cli): add skip and only category filters
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  packages/cli/src/lib/history/history-command.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/implementation/filter-plugins.middleware.ts
  packages/cli/src/lib/implementation/filter-plugins.middleware.unit.test.ts
  packages/cli/src/lib/implementation/filter.middleware.ts
  packages/cli/src/lib/implementation/filter.middleware.unit.test.ts
  packages/cli/src/lib/implementation/filter.model.ts
  packages/cli/src/lib/implementation/filter.options.ts
  packages/cli/src/lib/implementation/global.utils.ts
  packages/cli/src/lib/implementation/global.utils.unit.test.ts
  packages/cli/src/lib/implementation/only-plugins.model.ts
  packages/cli/src/lib/implementation/only-plugins.options.ts
  packages/cli/src/lib/implementation/skip-plugins.model.ts
  packages/cli/src/lib/implementation/skip-plugins.options.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.unit.test.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.ts
  packages/cli/src/lib/implementation/validate-plugin-filter-options.utils.unit.test.ts
  packages/cli/src/lib/middlewares.ts
  packages/cli/src/lib/options.ts
  packages/cli/src/lib/yargs-cli.integration.test.ts
Labels: 🔬 testing, 🧩 cli

#832 feat(plugin-lighthouse): export default Chrome flags
  code-pushup.preset.ts
  e2e/plugin-lighthouse-e2e/mocks/fixtures/code-pushup.config.lh-default.ts
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/package.json
  packages/plugin-lighthouse/src/index.ts
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/constants.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 lighthouse-plugin, 🛠️ tooling

#838 build: remove npm audit from CI
  .github/workflows/ci.yml
Labels: 🚨 Hotfix

#795 refactor(nx-plugin): rename autorun to cli executor
  e2e/nx-plugin-e2e/tests/__snapshots__/plugin-create-nodes.e2e.test.ts.snap
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  e2e/nx-plugin-e2e/tests/generator-configuration.e2e.test.ts
  e2e/nx-plugin-e2e/tests/plugin-create-nodes.e2e.test.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  global-setup.e2e.ts
  global-setup.verdaccio.ts
  packages/nx-plugin/README.md
  packages/nx-plugin/docs/images/nx-plugin-dynamic-target-configuration.png
  packages/nx-plugin/executors.json
  packages/nx-plugin/package.json
  packages/nx-plugin/src/executors/autorun/constants.ts
  packages/nx-plugin/src/executors/cli/README.md
  packages/nx-plugin/src/executors/cli/executor.integration.test.ts
  packages/nx-plugin/src/executors/cli/executor.ts
  packages/nx-plugin/src/executors/cli/executor.unit.test.ts
  packages/nx-plugin/src/executors/cli/schema.json
  packages/nx-plugin/src/executors/cli/schema.ts
  packages/nx-plugin/src/executors/cli/utils.integration.test.ts
  packages/nx-plugin/src/executors/cli/utils.ts
  packages/nx-plugin/src/executors/cli/utils.unit.test.ts
  packages/nx-plugin/src/executors/internal/cli.ts
  packages/nx-plugin/src/executors/internal/cli.unit.test.ts
  packages/nx-plugin/src/executors/internal/config.ts
  packages/nx-plugin/src/executors/internal/types.ts
  packages/nx-plugin/src/generators/configuration/README.md
  packages/nx-plugin/src/generators/configuration/__snapshots__/root-code-pushup.config.ts
  packages/nx-plugin/src/generators/configuration/files/code-pushup.config.ts.template
  packages/nx-plugin/src/generators/configuration/generator.integration.test.ts
  packages/nx-plugin/src/generators/configuration/generator.ts
  packages/nx-plugin/src/generators/init/README.md
  packages/nx-plugin/src/plugin/README.md
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/executor-target.ts
  packages/nx-plugin/src/plugin/target/executor.target.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.unit.test.ts
  tools/src/publish/bin/bump-package.ts
  tools/src/verdaccio/utils.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 nx-plugin, 🛠️ tooling

#850 fix(core): avoid portal-client import for enum conversions
  packages/core/src/lib/implementation/report-to-gql.ts
Labels: 🐛 bug, 🧩 core

#851 refactor: tiny lint fixes
  .eslintrc.json
  e2e/cli-e2e/mocks/fixtures/code-pushup.config.ts
Labels: 🔬 testing, 🛠️ tooling

#855 refactor: use `toSorted` in appropriate places
  packages/models/src/lib/implementation/utils.ts
  packages/plugin-coverage/src/lib/runner/lcov/utils.ts
  packages/plugin-eslint/src/lib/meta/groups.ts
  packages/plugin-eslint/src/lib/runner/transform.ts
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.unit.test.ts
  packages/utils/src/lib/reports/sorting.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
  packages/utils/src/lib/text-formats/table.ts
Labels: 🔬 testing, 🧩 models, 🧩 utils, 🧩 eslint-plugin, 🧩 coverage-plugin

#859 fix(ci): handle monorepo mode in non-PR flow
  packages/ci/src/lib/run.ts
Labels: 🐛 bug, 🧩 ci

#857 refactor: migrate to latest prettier
  .prettierrc
  CONTRIBUTING.md
  docs/e2e.md
  e2e/cli-e2e/tests/collect.e2e.test.ts
  examples/react-todos-app/index.html
  package-lock.json
  package.json
  packages/cli/src/lib/implementation/core-config.integration.test.ts
  packages/cli/src/lib/implementation/global.utils.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.ts
  packages/models/src/lib/implementation/utils.ts
  packages/nx-plugin/README.md
  packages/nx-plugin/src/executors/cli/README.md
  packages/nx-plugin/src/plugin/README.md
  packages/plugin-coverage/src/lib/runner/runner.integration.test.ts
  packages/plugin-eslint/mocks/fixtures/todos-app/www/index.html
  packages/plugin-eslint/src/lib/nx/traverse-graph.unit.test.ts
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/runner/lint.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/derive-package-manager.ts
  packages/plugin-js-packages/src/lib/package-managers/npm/audit-result.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
  packages/plugin-js-packages/src/lib/runner/runner.integration.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  testing/test-setup/src/lib/cliui.mock.ts
  testing/test-utils/src/lib/utils/dynamic-mocks/eslint-plugin.mock.ts
  tools/src/debug/README.md
  tools/src/npm/README.md
  tools/src/publish/README.md
  tools/src/verdaccio/README.md
  tools/src/verdaccio/bin/create-verdaccio-env.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 models, 🧩 utils, 🧩 nx-plugin, 🧩 eslint-plugin, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🧩 js-packages-plugin, 🛠️ tooling

#858 refactor: update commitlint and remove unnecessary changelog angular dependency
  .github/labeler.yml
  commitlint.config.mjs
  knip.config.ts
  package-lock.json
  package.json
Labels: 🛠️ tooling

#860 refactor: update and fix knip
  knip.config.ts
  package-lock.json
  package.json
  packages/models/src/index.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/plugin-js-packages/src/lib/runner/outdated/transform.ts
  packages/plugin-lighthouse/src/lib/runner/details/types.ts
  packages/utils/src/lib/transform.ts
  testing/test-setup/src/chromium.d.ts
  testing/test-setup/src/lib/chrome-path.setup.ts
Labels: 🔬 testing, 🧩 models, 🧩 utils, 🧩 lighthouse-plugin, 🧩 js-packages-plugin, 🛠️ tooling

#863 feat(plugin-eslint): add exclude option for Nx projects
  packages/plugin-eslint/README.md
  packages/plugin-eslint/src/lib/nx.integration.test.ts
  packages/plugin-eslint/src/lib/nx/filter-project-graph.ts
  packages/plugin-eslint/src/lib/nx/filter-project-graph.unit.test.ts
  packages/plugin-eslint/src/lib/nx/find-all-projects.ts
  packages/plugin-eslint/src/lib/nx/projects-to-config.unit.test.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/project-graph.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 eslint-plugin
