Repository code-pushup/cli, pull requests merged in 2025-03, with the labels that each got.

#952 fix(ci): always show execute process errors and log stdout if verbose
  packages/ci/README.md
  packages/ci/src/lib/cli/commands/collect.ts
  packages/ci/src/lib/cli/commands/compare.ts
  packages/ci/src/lib/cli/commands/merge-diffs.ts
  packages/ci/src/lib/cli/commands/print-config.ts
  packages/ci/src/lib/cli/context.ts
  packages/ci/src/lib/cli/context.unit.test.ts
  packages/ci/src/lib/create-execution-observer.integration.test.ts
  packages/ci/src/lib/create-execution-observer.ts
  packages/ci/src/lib/create-execution-observer.unit.test.ts
  packages/ci/src/lib/monorepo/handlers/nx.ts
  packages/ci/src/lib/monorepo/list-projects.ts
  packages/ci/src/lib/run-utils.ts
  packages/ci/src/lib/run.integration.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 ci

#954 fix: update nx-verdaccio pkg
  package-lock.json
  package.json
Labels: 🛠️ tooling

#956 feat(utils): add score filter to md report generation
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report-category-section.ts
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/types.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 🔬 testing, 🧩 utils

#937 fix(nx-plugin): adjust upload config handling
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  packages/models/tsconfig.lib.json
  packages/models/tsconfig.test.json
  packages/nx-plugin/eslint.config.js
  packages/nx-plugin/src/executors/cli/executor.unit.test.ts
  packages/nx-plugin/src/executors/cli/utils.ts
  packages/nx-plugin/src/executors/cli/utils.unit.test.ts
  packages/nx-plugin/src/index.ts
  packages/nx-plugin/src/internal/constants.ts
  packages/nx-plugin/src/internal/execute-process.ts
  packages/nx-plugin/src/internal/versions.ts
  packages/nx-plugin/src/plugin/plugin.ts
  packages/nx-plugin/src/plugin/plugin.unit.test.ts
  packages/nx-plugin/src/plugin/target/targets.ts
  packages/nx-plugin/src/plugin/types.ts
  packages/nx-plugin/src/plugin/utils.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.ts
  testing/test-nx-utils/src/lib/utils/nx-plugin.unit.test.ts
Labels: 🔬 testing, 🧩 nx-plugin, 🛠️ tooling

#965 fix: update pkgs
  package-lock.json
  package.json
  packages/ci/package.json
Labels: 🛠️ tooling

#976 test: adjust test timeouts
  e2e/ci-e2e/vite.config.e2e.ts
  e2e/cli-e2e/vite.config.e2e.ts
  e2e/create-cli-e2e/vite.config.e2e.ts
  e2e/nx-plugin-e2e/vite.config.e2e.ts
  e2e/plugin-coverage-e2e/vite.config.e2e.ts
  e2e/plugin-eslint-e2e/vite.config.e2e.ts
  e2e/plugin-jsdocs-e2e/vite.config.e2e.ts
  e2e/plugin-lighthouse-e2e/vite.config.e2e.ts
Labels: 🔬 testing

#979 fix(ci): prevent overwriting report artifacts
  e2e/ci-e2e/tests/basic.e2e.test.ts
  e2e/ci-e2e/tests/npm-workspaces.e2e.test.ts
  e2e/ci-e2e/tests/nx-monorepo.e2e.test.ts
  packages/ci/README.md
  packages/ci/src/lib/models.ts
  packages/ci/src/lib/output-files.ts
  packages/ci/src/lib/output-files.unit.test.ts
  packages/ci/src/lib/run-monorepo.ts
  packages/ci/src/lib/run-standalone.ts
  packages/ci/src/lib/run-utils.ts
  packages/ci/src/lib/run.integration.test.ts
Labels: 🐛 bug, 📖 Project documentation, 🔬 testing, 🧩 ci

#975 feat(plugin-typescript): adjust logic
  code-pushup.config.ts
  code-pushup.preset.ts
  packages/plugin-typescript/README.md
  packages/plugin-typescript/docs/audits-and-groups.md
  packages/plugin-typescript/src/index.ts
  packages/plugin-typescript/src/lib/runner/__snapshots__/runner-function-all-audits.json
  packages/plugin-typescript/src/lib/runner/runner.ts
  packages/plugin-typescript/src/lib/runner/runner.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing

#982 fix(plugin-js-packages): handle empty output from yarn outdated
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/outdated-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/types.ts
Labels: 🧩 js-packages-plugin
