Repository code-pushup/cli, pull requests merged in 2025-07, with the labels that each got.

#1027 fix(plugin-js-packages): parse yarn 4 audit output correctly
  packages/plugin-js-packages/src/lib/package-managers/package-managers.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/audit-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/audit-result.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/constants.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/outdated-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/outdated-result.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/types.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-classic/yarn-classic.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/audit-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/audit-result.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/outdated-result.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/outdated-result.unit.test.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/types.ts
  packages/plugin-js-packages/src/lib/package-managers/yarn-modern/yarn-modern.ts
  packages/plugin-js-packages/src/lib/runner/audit/types.ts
  packages/plugin-js-packages/src/lib/runner/audit/utils.ts
  packages/plugin-js-packages/src/lib/runner/audit/utils.unit.test.ts
Labels: 🐛 bug, 🔬 testing, 🧩 js-packages-plugin

#1032 docs: add category badges from portal
  README.md
Labels: 📖 Project documentation

#1026 feat(plugin-lighthouse): implement multiple URL support
  code-pushup.preset.ts
  e2e/plugin-lighthouse-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  packages/cli/src/lib/implementation/filter.middleware.ts
  packages/cli/src/lib/implementation/filter.middleware.unit.test.ts
  packages/models/src/index.ts
  packages/models/src/lib/plugin-config.ts
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/src/index.ts
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/merge-categories.ts
  packages/plugin-lighthouse/src/lib/merge-categories.unit.test.ts
  packages/plugin-lighthouse/src/lib/processing.ts
  packages/plugin-lighthouse/src/lib/processing.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/runner.ts
  packages/plugin-lighthouse/src/lib/runner/runner.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/plugin-lighthouse/src/lib/types.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/vitest.unit.config.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 models, 🧩 lighthouse-plugin

#1041 fix(ci): do not set --verbose by default
  packages/ci/src/lib/run-utils.ts
  packages/ci/src/lib/run.int.test.ts
Labels: 🔬 testing, 🧩 ci
