Repository code-pushup/cli, pull requests merged in 2025-09, with the labels that each got.

#1090 chore: add eslint formatter for multiple formats
  code-pushup.preset.ts
  nx.json
  packages/plugin-eslint/src/lib/runner/lint.ts
  project.json
  tools/eslint-formatter-multi/README.md
  tools/eslint-formatter-multi/eslint.config.js
  tools/eslint-formatter-multi/package.json
  tools/eslint-formatter-multi/project.json
  tools/eslint-formatter-multi/src/index.ts
  tools/eslint-formatter-multi/src/lib/multiple-formats.ts
  tools/eslint-formatter-multi/src/lib/stylish.ts
  tools/eslint-formatter-multi/src/lib/text-table.ts
  tools/eslint-formatter-multi/src/lib/types.ts
  tools/eslint-formatter-multi/src/lib/utils.ts
  tools/eslint-formatter-multi/src/lib/utils.unit.test.ts
  tools/eslint-formatter-multi/tsconfig.json
  tools/eslint-formatter-multi/tsconfig.lib.json
  tools/eslint-formatter-multi/tsconfig.spec.json
  tools/eslint-formatter-multi/vitest.unit.config.ts
  tools/tsconfig.tools.json
  tsconfig.base.json
Labels: 📖 Project documentation, 🔬 testing, 🧩 eslint-plugin, 🛠️ tooling

#1106 refactor(plugin-eslint): artifacts e2e tests and docs
  e2e/plugin-eslint-e2e/mocks/fixtures/artifacts-config/code-pushup.config.ts
  e2e/plugin-eslint-e2e/mocks/fixtures/artifacts-config/eslint.config.cjs
  e2e/plugin-eslint-e2e/mocks/fixtures/artifacts-config/src/index.js
  e2e/plugin-eslint-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-eslint-e2e/tests/collect.e2e.test.ts
  nx.json
  packages/plugin-eslint/README.md
Labels: 📖 Project documentation, 🔬 testing, 🛠️ tooling

#1116 ci: update local node version
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/code-pushup-fork.yml
  .github/workflows/code-pushup.yml
  .github/workflows/release.yml
  .node-version
  .nvmrc
  .tool-versions
  CONTRIBUTING.md
  eslint.config.js
  package-lock.json
  package.json
Labels: 📖 Project documentation, 🦾 CI/CD, 🛠️ tooling

#1118 feat(utils): export loose autocomplete type helper
  packages/utils/src/index.ts
  packages/utils/src/lib/types.ts
Labels: 🧩 utils

#1120 ci: fix protected branch error in release workflow
  .github/workflows/release.yml
Labels: 🦾 CI/CD

#1123 build(models): run prettier immediately after zod2md docs generation
  packages/models/project.json
Labels: 🛠️ tooling

#1124 fix(plugin-lighthouse): prevent cleanup permissions error on windows
  packages/plugin-lighthouse/src/lib/runner/runner.ts
  packages/plugin-lighthouse/src/lib/runner/utils.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
Labels: 🐛 bug, 🔬 testing, 🧩 lighthouse-plugin
