Repository code-pushup/cli, pull requests merged in 2025-01, with the labels that each got.

#909 wip
  code-pushup.config.ts
  packages/plugin-stylelint/mocks/fixtures/basic/.stylelintrc.json
  packages/plugin-stylelint/src/lib/runner/index.ts
  packages/plugin-stylelint/src/lib/runner/model.ts
  packages/plugin-stylelint/src/lib/runner/normalize-config.integration.test.ts
  packages/plugin-stylelint/src/lib/runner/normalize-config.ts
  packages/plugin-stylelint/src/lib/runner/stylelint-runner.ts
  packages/plugin-stylelint/src/lib/runner/utils.ts
  packages/plugin-stylelint/src/lib/stylelint-plugin.ts
  packages/plugin-stylelint/src/lib/utils.ts
  packages/plugin-stylelint/src/scripts/postinstall/bin.ts
  packages/plugin-stylelint/src/scripts/postinstall/index.ts
Labels: 🔬 testing

#905 test(test-utils): disable GPG sign for commit/tag utility
  testing/test-utils/src/lib/utils/git.ts
Labels: 🔬 testing

#912 refactor(plugin-stylelint): wip
  packages/plugin-stylelint/src/lib/runner/model.ts
  packages/plugin-stylelint/src/lib/runner/normalize-config.ts
  packages/plugin-stylelint/src/lib/runner/utils.ts
  packages/plugin-stylelint/src/lib/runner/utils.unit.test.ts
  packages/plugin-stylelint/src/lib/utils.ts
Labels: 🔬 testing

#911 fix: handle skipped audits and groups
  packages/cli/src/lib/implementation/filter.middleware.ts
  packages/cli/src/lib/implementation/filter.middleware.unit.test.ts
  packages/cli/src/lib/implementation/filter.middleware.utils.ts
  packages/cli/src/lib/implementation/filter.middleware.utils.unit.test.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.unit.test.ts
  packages/models/docs/models-reference.md
  packages/models/src/lib/audit.ts
  packages/models/src/lib/core-config.unit.test.ts
  packages/models/src/lib/group.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.ts
  packages/plugin-lighthouse/src/lib/lighthouse-plugin.unit.test.ts
  packages/plugin-lighthouse/src/lib/utils.ts
  packages/plugin-lighthouse/src/lib/utils.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 models, 🧩 lighthouse-plugin

#918 fix(models): add missing exports
  packages/models/src/index.ts
Labels: 🧩 models

#921 fix: fix poppinss version
  package.json
Labels: 🛠️ tooling

#923 test(test-setup): add custom matchers for ui logger
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/cli/src/lib/implementation/filter.middleware.unit.test.ts
  packages/cli/src/lib/implementation/global.utils.unit.test.ts
  packages/cli/src/lib/implementation/validate-filter-options.utils.unit.test.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.unit.test.ts
  packages/cli/src/lib/print-config/print-config-command.unit.test.ts
  packages/cli/tsconfig.test.json
  packages/cli/vite.config.unit.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/src/lib/merge-diffs.unit.test.ts
  packages/core/tsconfig.test.json
  packages/core/vite.config.unit.ts
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.unit.test.ts
  packages/plugin-coverage/tsconfig.test.json
  packages/plugin-coverage/vite.config.unit.ts
  packages/plugin-lighthouse/src/lib/normalize-flags.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/details.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/details/item-value.unit.test.ts
  packages/plugin-lighthouse/src/lib/runner/utils.unit.test.ts
  packages/plugin-lighthouse/tsconfig.test.json
  packages/plugin-lighthouse/vite.config.unit.ts
  packages/utils/src/lib/log-results.unit.test.ts
  packages/utils/src/lib/verbose-utils.unit.test.ts
  packages/utils/tsconfig.test.json
  packages/utils/vite.config.unit.ts
  testing/test-setup/src/lib/extend/ui-logger.matcher.ts
  testing/test-setup/src/lib/extend/ui-logger.matcher.utils.ts
  testing/test-setup/src/lib/extend/ui-logger.matcher.utils.unit.test.ts
  testing/test-setup/src/vitest.d.ts
  testing/test-utils/src/index.ts
  testing/test-utils/src/lib/utils/logging.ts
Labels: 🔬 testing, 🧩 cli, 🧩 core, 🧩 utils, 🧩 lighthouse-plugin, 🧩 coverage-plugin, 🛠️ tooling

#924 feat(plugin-coverage): support lcovonly option for vitest
  packages/plugin-coverage/src/lib/nx/coverage-paths.ts
Labels: 🧩 coverage-plugin

#925 feat(plugin-eslint): add support for custom groups
  packages/core/package.json
  packages/core/src/lib/implementation/read-rc-file.integration.test.ts
  packages/core/src/lib/implementation/read-rc-file.ts
  packages/plugin-eslint/README.md
  packages/plugin-eslint/src/lib/config.ts
  packages/plugin-eslint/src/lib/eslint-plugin.integration.test.ts
  packages/plugin-eslint/src/lib/eslint-plugin.ts
  packages/plugin-eslint/src/lib/meta/groups.ts
  packages/plugin-eslint/src/lib/meta/groups.unit.test.ts
  packages/plugin-eslint/src/lib/meta/index.ts
  packages/plugin-eslint/src/lib/meta/rules.ts
  packages/plugin-eslint/src/lib/meta/rules.unit.test.ts
  packages/plugin-eslint/tsconfig.test.json
  packages/plugin-eslint/vite.config.unit.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lib/zod-validation.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 core, 🧩 utils, 🧩 eslint-plugin, 🛠️ tooling

#926 test: add custom matcher for markdown table rows
  packages/core/src/lib/implementation/persist.unit.test.ts
  packages/core/vite.config.unit.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/vite.config.unit.ts
  testing/test-setup/src/lib/extend/markdown-table.matcher.ts
  testing/test-setup/src/lib/extend/markdown-table.matcher.unit.test.ts
  testing/test-setup/src/vitest.d.ts
  testing/test-setup/vite.config.unit.ts
Labels: 🔬 testing, 🧩 core, 🧩 utils

#927 fix(nx-plugin): deep merge executor options
  e2e/nx-plugin-e2e/tests/executor-cli.e2e.test.ts
  packages/nx-plugin/README.md
  packages/nx-plugin/src/executors/cli/README.md
  packages/nx-plugin/src/executors/cli/executor.ts
  packages/nx-plugin/src/executors/cli/utils.ts
  packages/nx-plugin/src/executors/cli/utils.unit.test.ts
  packages/nx-plugin/src/index.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 nx-plugin

#917 feat(plugin-typescript): setup plugin project base
  packages/plugin-typescript/eslint.config.js
  packages/plugin-typescript/package.json
  packages/plugin-typescript/project.json
  packages/plugin-typescript/src/index.ts
  packages/plugin-typescript/src/lib/constants.ts
  packages/plugin-typescript/tsconfig.json
  packages/plugin-typescript/tsconfig.lib.json
  packages/plugin-typescript/tsconfig.test.json
  packages/plugin-typescript/vite.config.integration.ts
  packages/plugin-typescript/vite.config.unit.ts
  tsconfig.base.json
Labels: 🔬 testing, 🛠️ tooling
