Repository code-pushup/cli, pull requests merged in 2025-04, with the labels that each got.

#984 test: disable parallel install of packages in e2e test
  nx.json
Labels: 🛠️ tooling

#986 test: update to new eslint vitest plugin
  package-lock.json
  package.json
  testing/test-setup/src/vitest.d.ts
Labels: 🔬 testing, 🧹 maintenance, 🛠️ tooling

#974 test(plugin-typescript-e2e): add basic e2e tests
  e2e/plugin-typescript-e2e/eslint.config.js
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/code-pushup.config.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/exclude/utils.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/src/1-syntax-errors.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/src/2-semantic-errors.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/src/4-languale-service.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/src/6-configuration-errors.ts
  e2e/plugin-typescript-e2e/mocks/fixtures/default-setup/tsconfig.json
  e2e/plugin-typescript-e2e/project.json
  e2e/plugin-typescript-e2e/tests/__snapshots__/collect.e2e.test.ts.snap
  e2e/plugin-typescript-e2e/tests/collect.e2e.test.ts
  e2e/plugin-typescript-e2e/tsconfig.json
  e2e/plugin-typescript-e2e/tsconfig.test.json
  e2e/plugin-typescript-e2e/vite.config.e2e.ts
  packages/plugin-typescript/src/index.ts
  packages/plugin-typescript/src/lib/runner/utils.ts
  packages/plugin-typescript/src/lib/runner/utils.unit.test.ts
  packages/plugin-typescript/src/lib/utils.ts
Labels: 🔬 testing, 🛠️ tooling

#985 fix: handle repos without git gracefully
  packages/utils/src/lib/git/git.commits-and-tags.ts
Labels: 🧩 utils

#989 docs: add jsdocs and typescript plugins to main readme
  README.md
  docs/images/plugin-jsdocs.icon.png
  docs/images/plugin-typescript.icon.png
Labels: 📖 Project documentation, jsdocs-plugin

#991 docs(cli): document minimal NodeJS support
  README.md
  packages/cli/package.json
Labels: 📖 Project documentation, 🛠️ tooling
