Repository code-pushup/cli, pull requests merged in 2025-02, with the labels that each got.

#916 feat(utils): add string helper
  eslint.config.js
  packages/utils/src/index.ts
  packages/utils/src/lib/case-conversion.type.test.ts
  packages/utils/src/lib/case-conversions.ts
  packages/utils/src/lib/case-conversions.unit.test.ts
  packages/utils/src/lib/text-formats/table.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
  packages/utils/src/lib/types.ts
Labels: 🔬 testing, 🧩 utils

#935 fix: explicitly exit process with successful code to not leave cli hanging
  packages/cli/src/index.ts
Labels: 🧩 cli

#934 feat(plugin-coverage): do not halt plugin execution on fail
  packages/plugin-coverage/src/lib/config.ts
  packages/plugin-coverage/src/lib/runner/index.ts
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.ts
  packages/plugin-coverage/src/lib/runner/lcov/lcov-runner.unit.test.ts
Labels: 🔬 testing, 🧩 coverage-plugin

#932 feat(plugin-typescript): add TS core logic
  packages/plugin-typescript/mocks/fixtures/basic-setup/exclude/utils.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/0-no-diagnostics/constants.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/1-syntax-errors/ts-1136-property-assignment-expected.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/2-semantic-errors/module-resolution/ts-2307-module-not-fount.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/2-semantic-errors/strict/no-implicit-this/ts-2683-not-implicit-this.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/2-semantic-errors/strict/strict-function-types/ts-2349-not-callable.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/2-semantic-errors/strict/strict-null-checks/ts-2531-strict-null-checks.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/2-semantic-errors/ts-2307-cannot-find-module.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/4-languale-service/ts-4114-incorrect-modifier.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/src/6-configuration-errors/ts-6059-file-is-not-under-root-dir.ts
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig-config-errors.json
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig.all-audits.json
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig.init.json
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig.internal-errors.json
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig.json
  packages/plugin-typescript/mocks/fixtures/basic-setup/tsconfig.no-files-match.json
  packages/plugin-typescript/package.json
  packages/plugin-typescript/src/lib/constants.ts
  packages/plugin-typescript/src/lib/runner/__snapshots__/runner-function-all-audits.json
  packages/plugin-typescript/src/lib/runner/runner.integration.test.ts
  packages/plugin-typescript/src/lib/runner/runner.ts
  packages/plugin-typescript/src/lib/runner/runner.unit.test.ts
  packages/plugin-typescript/src/lib/runner/ts-error-codes.ts
  packages/plugin-typescript/src/lib/runner/ts-runner.integration.test.ts
  packages/plugin-typescript/src/lib/runner/ts-runner.ts
  packages/plugin-typescript/src/lib/runner/types.ts
  packages/plugin-typescript/src/lib/runner/utils.integration.test.ts
  packages/plugin-typescript/src/lib/runner/utils.ts
  packages/plugin-typescript/src/lib/runner/utils.unit.test.ts
  packages/plugin-typescript/src/lib/types.ts
  packages/plugin-typescript/src/lib/utils.ts
  packages/plugin-typescript/src/lib/utils.unit.test.ts
Labels: 🔬 testing, 🛠️ tooling

#936 feat(plugin-typescript): add plugin logic
  packages/plugin-typescript/package.json
  packages/plugin-typescript/src/lib/schema.ts
  packages/plugin-typescript/src/lib/schema.unit.test.ts
  packages/plugin-typescript/src/lib/types.ts
  packages/plugin-typescript/src/lib/typescript-plugin.ts
  packages/plugin-typescript/src/lib/typescript-plugin.unit.test.ts
  packages/plugin-typescript/src/lib/utils.ts
  packages/plugin-typescript/src/lib/utils.unit.test.ts
  packages/plugin-typescript/vite.config.unit.ts
Labels: 🔬 testing, 🛠️ tooling

#939 fix: add `toSorted` polyfill as hotfix for bug in GitHub actions runner
  packages/cli/src/index.ts
  packages/cli/src/lib/polyfills.ts
Labels: 🧩 cli

#941 fix(ci): prevent unknown pathspec error for custom base ref
  packages/ci/src/lib/run-utils.ts
Labels: 🧩 ci

#907 build: set node to 22 LTS
  .nvmrc
  .tool-versions
  package-lock.json
  package.json
Labels: 🛠️ tooling

#942 feat(ci): disable nx/turbo cache for non-autorun code-pushup commands
  packages/ci/src/lib/cli/context.unit.test.ts
  packages/ci/src/lib/monorepo/handlers/nx.ts
  packages/ci/src/lib/monorepo/handlers/nx.unit.test.ts
  packages/ci/src/lib/monorepo/handlers/turbo.ts
  packages/ci/src/lib/monorepo/handlers/turbo.unit.test.ts
  packages/ci/src/lib/monorepo/list-projects.unit.test.ts
  packages/ci/src/lib/run.integration.test.ts
Labels: 🔬 testing, 🧩 ci

#944 feat(models): do not throw if docs url invalid, treat as missing and log warning
  packages/models/src/lib/audit.unit.test.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/implementation/schemas.unit.test.ts
Labels: 🔬 testing, 🧩 models

#945 fix(utils): replace misleading commit labels in markdown diff
  e2e/ci-e2e/tests/__snapshots__/basic-report-diff.md
  e2e/ci-e2e/tests/__snapshots__/npm-workspaces-report-diff.md
  e2e/ci-e2e/tests/__snapshots__/nx-monorepo-report-diff.md
  e2e/cli-e2e/tests/__snapshots__/compare.report-diff.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-added.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-changed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-improved.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-many-audits.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-minimal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-mixed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-changed.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo-with-portal.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-monorepo.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-unchanged.md
  packages/utils/src/lib/reports/__snapshots__/report-diff-with-portal.md
  packages/utils/src/lib/reports/generate-md-reports-diff-utils.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils

#950 feat(ci): allow refs without shas, fetch if needed
  packages/ci/README.md
  packages/ci/src/lib/git.ts
  packages/ci/src/lib/models.ts
  packages/ci/src/lib/run-monorepo.ts
  packages/ci/src/lib/run-standalone.ts
  packages/ci/src/lib/run-utils.ts
  packages/ci/src/lib/run.ts
  packages/utils/src/index.ts
  packages/utils/src/lib/transform.ts
  packages/utils/src/lib/transform.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 utils, 🧩 ci
