Repository code-pushup/cli, pull requests merged in 2025-08, with the labels that each got.

#1057 feat: add audit output caching for execute plugin
  examples/plugins/src/file-size/src/file-size.plugin.int.test.ts
  examples/plugins/src/package-json/src/package-json.plugin.int.test.ts
  packages/core/src/index.ts
  packages/core/src/lib/implementation/collect.ts
  packages/core/src/lib/implementation/execute-plugin.ts
  packages/core/src/lib/implementation/execute-plugin.unit.test.ts
  packages/core/src/lib/implementation/runner.int.test.ts
  packages/core/src/lib/implementation/runner.ts
  packages/core/src/lib/implementation/runner.unit.test.ts
  packages/models/src/index.ts
  packages/models/src/lib/cache-config.ts
Labels: 🔬 testing, 🧩 core, 🧩 models

#1058 feat: add report option to cli
  e2e/cli-e2e/tests/__snapshots__/help.e2e.test.ts.snap
  e2e/cli-e2e/tests/collect.e2e.test.ts
  packages/ci/src/lib/run-utils.ts
  packages/cli/README.md
  packages/cli/src/lib/collect/collect-command.unit.test.ts
  packages/cli/src/lib/compare/compare-command.unit.test.ts
  packages/cli/src/lib/implementation/core-config.int.test.ts
  packages/cli/src/lib/implementation/core-config.middleware.ts
  packages/cli/src/lib/implementation/core-config.middleware.unit.test.ts
  packages/cli/src/lib/implementation/core-config.model.ts
  packages/cli/src/lib/implementation/core-config.options.ts
  packages/cli/src/lib/merge-diffs/merge-diffs-command.unit.test.ts
  packages/core/src/lib/collect-and-persist.ts
  packages/core/src/lib/collect-and-persist.unit.test.ts
  packages/core/src/lib/implementation/persist.ts
  packages/models/src/lib/persist-config.ts
  packages/utils/src/lib/file-system.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 cli, 🧩 core, 🧩 models, 🧩 utils, 🧩 ci

#1061 chore: refactor `unit-test` and `int-test` targets
  code-pushup.preset.ts
  e2e/ci-e2e/project.json
  e2e/cli-e2e/project.json
  e2e/create-cli-e2e/project.json
  e2e/nx-plugin-e2e/project.json
  e2e/plugin-coverage-e2e/project.json
  e2e/plugin-eslint-e2e/project.json
  e2e/plugin-js-packages-e2e/project.json
  e2e/plugin-lighthouse-e2e/project.json
  examples/plugins/project.json
  nx.json
  packages/ci/project.json
  packages/cli/project.json
  packages/core/project.json
  packages/create-cli/project.json
  packages/create-cli/vitest.int.config.ts
  packages/models/project.json
  packages/models/vitest.int.config.ts
  packages/nx-plugin/project.json
  packages/plugin-coverage/project.json
  packages/plugin-eslint/project.json
  packages/plugin-js-packages/project.json
  packages/plugin-jsdocs/project.json
  packages/plugin-lighthouse/project.json
  packages/plugin-lighthouse/vitest.int.config.ts
  packages/plugin-typescript/project.json
  packages/utils/project.json
  testing/test-nx-utils/project.json
  testing/test-setup/project.json
  testing/test-utils/project.json
Labels: 🔬 testing, 🛠️ tooling

#1072 feat: implement scoreTarget for categories
  packages/ci/src/lib/portal/__snapshots__/transform.unit.test.ts.snap
  packages/ci/src/lib/portal/transform.ts
  packages/core/src/lib/implementation/report-to-gql.ts
  packages/models/docs/models-reference.md
  packages/models/src/lib/category-config.ts
  packages/models/src/lib/category-config.unit.test.ts
  packages/plugin-lighthouse/README.md
  packages/plugin-lighthouse/src/lib/constants.ts
  packages/plugin-lighthouse/src/lib/merge-categories.unit.test.ts
  packages/utils/perf/score-report/index.ts
  packages/utils/src/lib/reports/__snapshots__/generate-md-report-category-section.unit.test.ts.snap
  packages/utils/src/lib/reports/__snapshots__/generate-md-report.unit.test.ts.snap
  packages/utils/src/lib/reports/generate-md-report-category-section.ts
  packages/utils/src/lib/reports/generate-md-report-category-section.unit.test.ts
  packages/utils/src/lib/reports/generate-md-report.unit.test.ts
  packages/utils/src/lib/reports/log-stdout-summary.ts
  packages/utils/src/lib/reports/log-stdout-summary.unit.test.ts
  packages/utils/src/lib/reports/utils.ts
  packages/utils/src/lib/reports/utils.unit.test.ts
Labels: 📖 Project documentation, 🔬 testing, 🧩 core, 🧩 models, 🧩 utils, 🧩 lighthouse-plugin, 🧩 ci

#1081 test(ci-e2e): fix nx pr test from timing out on windows
  e2e/ci-e2e/tests/nx-monorepo.e2e.test.ts
Labels: 🔬 testing, 🦾 CI/CD

#1080 ci: invalidate nx cloud cache for different operating system
  nx.json
Labels: 🛠️ tooling

#1077 feat(plugin-eslint): add artifact loading logic
  nx.json
  packages/models/src/index.ts
  packages/models/src/lib/configuration.ts
  packages/models/src/lib/implementation/schemas.ts
  packages/models/src/lib/implementation/schemas.unit.test.ts
  packages/plugin-eslint/package.json
  packages/plugin-eslint/src/lib/runner/index.ts
  packages/plugin-eslint/src/lib/runner/index.unit.test.ts
  packages/plugin-eslint/src/lib/runner/utils.ts
  packages/plugin-eslint/src/lib/runner/utils.unit.test.ts
Labels: 🔬 testing, 🧩 models, 🧩 eslint-plugin, 🛠️ tooling
